@import "../style.css";
.rectangle{position: absolute;
  top: 150px;
  width: 920px;
  height: inherit;
  margin-left: -2%;
  /* margin-top:-370px; */
  /* padding: 10px 10px 10px 10px; */

  background: transparent;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  }
