<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" >
<head>
    <link
href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
rel="stylesheet">
<link
href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"
rel="stylesheet">
<link
href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700"
rel="stylesheet">
    <link rel="stylesheet" href="{% static 'Courses/css/bulma.min.css' %} ">
    <link rel="stylesheet" href="{% static 'Courses/css/selfstudy.css' %} ">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {% block title %}

    {% endblock %} |
 Linuxjobber
    </title>

</head>
<body class="has-navbar-fixed-top">

<header>
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
      <div id="profilebtn2" class="navbar-item">
          <a id="dropbtn2" class="navbar-item">
            <span class="icon">
              <img src="{% static 'Courses/images/dots.png' %} " alt="">
            </span>
          </a>
          <div class="dropcontent">
              <div id="profilenav2" class="container is-widescreen">
                <span class="size-10" style="color: white;padding-left: 10.5%;font-size: 10px">All Courses</span>
                {% if courses %}
    {% for course in courses %}
        {% with is_section_begin=forloop.counter0|divisibleby:6 %}
            {% if forloop.counter0.first or is_section_begin %}
          <div class="navbar">
              <div class="navbar-menu">
                <span class="width-27"></span>
            {% endif %}
              <a href="{% url 'Courses:topics' course.course_title.split|join:'_' %}" class="navbar-item is-pulled-left">

                  <div class="nav-container">
                      <span class="nav-image"><i class="fa {{course.icon}} fa-2x"></i> {%if course.has_certification == 1%} <i style="font-size:25px;" class="fa fa-certificate"></i>{%endif%}</span>
                        &nbsp;
                      <span class="nav-text">{{course.course_title}} </span>
                  </div>
                </a>
            {% if forloop.counter|divisibleby:6 or forloop.last %}
                <div class="navbar-end"></div>
            </div>

          </div>
 {% endif %}
            {% endwith %}
        {% endfor %}
              {% endif %}
          <span class="size-10" style="color: white;padding-left: 10.5%;font-size: 10px">Other Links</span>
          <div class="navbar">
            <div class="navbar-menu">
                                <span class="width-27"></span>

              <a href="{% url 'home:index' %}" class="navbar-item is-pulled-left">
                  <div class="nav-container">
                      <img class="nav-image" src="{% static 'Courses/images/home.png' %}" alt="">
                        &nbsp;
                      <span class="nav-text"> Home</span>
                  </div>
                </a>

              <a href="{% url 'home:workexperience' %}" class="navbar-item is-pulled-left">
                  <div class="nav-container">
                      <img class="nav-image" src="{% static 'Courses/images/work.png' %}" alt="">
                        &nbsp;
                      <span class="nav-text"> Work</span>
                  </div>
                </a>

              <a href="{% url 'Projects:index' %}" class="navbar-item is-pulled-left">
                  <div class="nav-container">
                      <img class="nav-image" src="{% static 'Courses/images/projects.png' %}" alt="">
                        &nbsp;
                      <span class="nav-text"> Projects</span>
                  </div>
                </a>

              <a href="{% url 'home:partime' %}" class="navbar-item is-pulled-left">
                  <div class="nav-container">
                      <img class="nav-image" src="{% static 'Courses/images/careers.png' %}" alt="">
                        &nbsp;
                      <span class="nav-text"> Careers</span>
                  </div>

                </a>
                <div class="navbar-end">
                </div>
          </div>
          </div>


          </div>

        </div>
    </div>

        <div class="pad-10">
            <img width="160px" height="40px" src="{% static 'Courses/images/clogo.png' %} ">
        </div>



    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start"></div>


          {% block beadcrumb_left %}{% endblock %}
      {% block beadcrumb_right %}{% endblock %}


    <div class="navbar-end">
        <div id="profilebtn" class="navbar-item">
            <a id="dropbtn" class="navbar-item">
              {{ request.user.first_name|upper }} &nbsp;
              <span class="icon">
                <img src="{% static 'Courses/images/down.svg' %}" alt="">
              </span>
            </a>
            <div class="dropcontent">
                <div id="profilenav" class="container is-widescreen">
                <div class="columns is-pulled-left">

            <div class="navbar">
              <div class="navbar-menu">

                <div class="navbar-start"></div>
                  <a href="" class="navbar-item"></a>
                <a href="" class="navbar-item">
                  <div class="nav-container">
                      <img class="nav-image" src="{% static 'Courses/images/lab_profile.svg' %}" alt="">
                        &nbsp;
                      <span class="nav-text"> Lab Profile</span>
                  </div>
                  </a>

                <a href="{% url 'home:account_settings' %}" class="navbar-item ">
                  <div class="nav-container">
                      <img class="nav-image" src="{% static 'Courses/images/acct_settings.svg' %}" alt="">
                        &nbsp;
                      <span class="nav-text"> Account Settings</span>
                  </div>
                  </a>

                <a href="{% url 'home:orderlist' %}" class="navbar-item ">
                  <div class="nav-container">
                      <img class="nav-image" src="{% static 'Courses/images/ordelist.svg' %}" alt="">
                        &nbsp;
                      <span class="nav-text"> Order List</span>
                  </div>
                  </a>

                <a href="{% url 'home:logout' %}" class="navbar-item ">
                  <div class="nav-container">
                      <img class="nav-image" src="{% static 'Courses/images/logout.svg' %}" alt="">
                        &nbsp;
                      <span class="nav-text"> Logout</span>
                  </div>
                  </a>
                  <div class="navbar-end">

                  </div>




            </div>
            </div>

            </div>
            </div>

          </div>
      </div>
    </div>
  </div>
</nav>
</header>


<main class="section">
  <section class="container">
    <div class="columns">

        {% block content %}

        {% endblock %}
    </div>
  </section>

<div id="successModal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="notification is-success">
  <button id="sclose" class="delete"></button>
  Thanks! Your review has been successfully sent. <br>
</div>
  </div>
  <button id="sclose-button" class="modal-close is-large" aria-label="close"></button>
</div>

{% if not course.feedback_required %}
<div id="modal" class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-content">
      <div id="rating-form">

          <div class="card">
  <header class="card-header">
    <p class="card-header-title ">
      Leave a review

    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <p>Tell us what you think about the {{ course.data }} course</p>
        <div class="control">
            <label for="comment" class="label">
            Rating
        </label>
            <p class="has-text-centered">
                <span class="rating-star">
<input type="radio" name="rating" value="5"><span class=" fa star"></span>

    <input type="radio" name="rating" value="4"><span class=" fa star"></span>

    <input type="radio" name="rating" value="3"><span class=" fa star"></span>

    <input type="radio" name="rating" value="2"><span class=" fa star"></span>

    <input type="radio" name="rating" value="1"><span class="fa star"></span>
</span>
            </p>
        </div>
        <input name="course_id" hidden value="{{ course.data.pk }}" >
        <div class="control">
            <label for="comment" class="label">
            Comment (Optional)
            <textarea name="comment" id="" class="textarea" placeholder="Tell us what you think" value="" ></textarea>
        </label>
        </div>


    </div>
  </div>
  <footer class="card-footer">
      <div class="card-footer-item">
          <button id="submit-button" type="submit" class="button is-success">Submit</button>
      </div>
      <div class="card-footer-item">
          <a id="close"  class="button is-danger">Cancel</a>
      </div>
  </footer>
</div>
      </div>

  </div>
  <button id="close-button" class="modal-close is-large" aria-label="close"></button>
</div>
{% endif %}
</main>

<style>

.rating-star {
    direction: rtl;
    font-size: 40px;
    unicode-bidi: bidi-override;
    display: inline-block;
}
.rating-star input {
    opacity: 0;
    position: relative;
    left: -30px;
    z-index: 2;
    cursor: pointer;
}
.rating-star span.star:before {
    color: #777777;

}
.rating-star span.star {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    position: relative;
    z-index: 1;

}
.rating-star span {
    margin-left: -30px;
}
.rating-star span.star:before {
    color: #777777;
    content:"\f006";
}
.rating-star input:hover + span.star:before, .rating-star input:hover + span.star ~ span.star:before, .rating-star input:checked + span.star:before, .rating-star input:checked + span.star ~ span.star:before {
    color: #ffd100;
    content:"\f005";
}

.selected-rating{
    color: #ffd100;
    font-weight: bold;
    font-size: 42px;
}
</style>

<script src="{% static 'Courses/js/jquery.min.js' %}"></script>


    {% block extra_scripts %}

    {% endblock %}
<script>
        var modal = $('#modal');
        var successModal = $('#successModal');
        var rating ;
        var submitButton = $('#submit-button')

        $(document).ready(function(){
            $('#close-button,#close').click(function(){
                closeModal();
            });
           submitButton.click(function(){
                submitRating()
            });
            $('#sclose-button,#sclose').click(function () {
                    successModal.removeClass('is-active')
            });
            function closeModal(){
                modal.removeClass('is-active');

            }
            function openModal(){
                modal.addClass('is-active')
            }

            var showSuccessMessage = function () {
                closeModal();
                successModal.addClass('is-active')

            };

            function submitRating(){
                submitButton.addClass('is-disabled')
                submitButton.addClass('is-loading')
                $.ajax({
                    type: 'POST',
                    data:
                        {
                            'course_id':'{{ course.data.pk }}',
                            'comment': $('[name="comment"]').val(),
                            'rating': rating
                        }
                    ,
                    url: '{% url "Courses:feedback-add" %}',
                    success: function (result) {
                        console.log(result);
                        showSuccessMessage();
                    },
                    error: function (err) {
                        console.log(err)
                    }
                });
            }

/** code by webdevtrick ( https://webdevtrick.com ) **/
$('#rating-form').on('change','[name="rating"]',function(){
    rating = $('[name="rating"]:checked').val();
    console.log("Closing")
    var comment = $('[name="comment"]').val();
    var user_id = '{{ request.user.pk }}'



});


        });
</script>



</body>
</html>