{% extends 'home/base.html' %}

{% load staticfiles %}

{% block content %}

 <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          
        </div>      
      </div>      
</div>
<section class="col-md-12 fundamentalmain">
    <div class="container">
    
        <div class="modal-header">
            <div class="text-center"><b><p></p></b></div>
            <h6>
            <span class="videoname">Lab Detail: {{object.topic}}</span>
            </h6>
            </div>
        
        <div class="col-md-12">
            <div class="container physicalstorage">
            
        {% if object.tasks.all %}
        {%for data in object.tasks.all%}
  


            <p>
                <strong>{{ data.task_number }}.) </strong>
                {{ data.comment }} <br><br>
            </p>
            <strong>Note: </strong> {{ data.note }} <br><br>
            <strong>Task: </strong> {{ data.task }} <br><br>
            {% if data.hint %}
            <strong>Hint: </strong> {{ data.hint }} <br><br>
            {% endif %}
            {% if results %}            
                {%for result in results%}
                    {% if forloop.counter == forloop.parentloop.counter %}
                       <strong>Result: </strong> {{result}}<br><br><br><br>
                    {% endif %}
               
                {%endfor%}
            {% endif %}
            
        {%endfor%}

        {{course.lab_submission_type}}
        {%else%}
               <strong>No tasks for this lab(course topic)</strong> 
        {% endif %}

            </div>
        </div>
    </div>

</section>

{%endblock%}