{% extends 'home/base.html' %}

{% load staticfiles %}

{% block content %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
          
        </div>      
    </div>      
</div>
<style>
.video-descr-border {
    border: medium none;
    border-radius: 6px;
}
.modal-header{ padding :15px 17px;}
</style>
<section class="col-xs-12 fundamentalmain">
<div class="container">
	<!--div class="col-md-2 blank col-xs-12"></div-->

	<div class="col-md-12 modal-content popupform col-xs-12 inc-height">
		
		<div class="modal-header">
			<h6> 
			
			<center>
			
			<a href="javascript:window.history.back();" class="btn btn-primary" style="float :left;">Back</a>			
				
			<span class="videoname">{{topic}}</span>
			<span class="aftervideo">Completed Video </span>
			{%if topic.has_labs == 1 %}
			<a href="{% url 'Courses:labs' topic.course.course_title.split|join:'_' topic.topic_number %}" class="btn btn-primary lab" style="float :right;">Proceed To Labs</a>	
			{%endif%}
			{%if topic.has_notes == 1 %}
						<a href="{% url 'Courses:Note' topic.course.course_title.split|join:'_' topic.topic_number %}" class="btn btn-primary" style="float :right;">Proceed To Notes</a>						</center>	
			{%endif%}

			</h6>
		</div>	
		<div class="modal-body">
		
			<div class="form-group">
				<video src="{{topic.video}}" controls width="100%" height='100%' id="myVideo"></video>
				
			</div>
			
		</div>
	</div>
	<div class='video-descr'>
			<h2>Description:</h2>
			<div class='video-descr-border'>
				{{topic.description}}
			</div>
	</div>
	<div class="col-md-2 blank col-xs-12"></div>
</div>
</section>
<script>
jQuery(function(){
 $('.aftervideo').hide();
 $('.lab').hide();
end(0);
 
 $('#myVideo').bind("ended", function(){
 	$('.videoname').hide();
 	$('.aftervideo').show();
 	$('.lab').show();
 	end(1);
 });

function end(stat){
	if (stat == 1){
		$.ajax({
		type: 'POST',
		data:'', 
		url: '{% url "Courses:videostat" topic.id 1 %}',
		success: function (result) {
			setTimeout(function(){ updatesession(); },1000);
		}
	});
	}else{
		$.ajax({
		type: 'POST',
		data:'', 
		url: '{% url "Courses:videostat" topic.id 0 %}',
		success: function (result) {
			setTimeout(function(){ updatesession(); },1000);
		}
	});
	}
}
 
});
</script>		

{%endblock%}