@import "../style.css";
*{
  margin: 0px;
  padding: 0px;
}

.rectangle{/* position: absolute; */
width: 900px;
height: inherit;
margin-left: 50px;
margin-top:-370px;
padding: 30px 0px 60px 30px;

background: #FFFFFF;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}

img{

width: 200px;
height: 200px;
/* margin: 20px; */
border-radius: 120px;
border: 1px rgb(15, 15, 15) solid;
margin-top:20px;

background: #FFFFFF;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}
.fname{

width: 500px;
height: 31px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 5px;
}
.gname{
width: 500px;
height: 31px;


background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 5px;
}
.unname{

width: 500px;
height: 31px;


background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 5px;
}
p{
  font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
padding-left: 20px;
/* margin: 20px; */

color: rgba(0, 0, 0, 0.8);
}
.f{display: inline;
  /* Upload image */

position: absolute;
/* width: 127px;
height: 31px; */
left: 750px;
top: 320px;

}
.save{
width: 89px;
height: 30px;
background: rgba(0, 0, 0, 0.8);
border-radius: 5px;
color:white;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 13px;
}
