<main>
<div class="rectangle">
  <app-alert></app-alert>
  <p>Edit Profile</p>
  <img src="{{ user.profile_img }}" name="profile_img" >
  <!-- <img ng-src="data:image/jpeg;base64,{{unImage.image}}" class="images" /> -->
  <label for="file-input">
    <i class="btn btn-primary"
    style="display: inline;
    position: absolute;
    left: 300px; top: 170px;
    text-align: center;
    font-size: 12px;
    width: 127px;
    height: 31px;
    background-color: transparent;
    color:black;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 35px;
">UPLOAD IMAGE</i>
</label>
  <input class="f" id="file-input" (change)="fileChange($event)" type="file" ><br><br><br>
  <!-- <input class="f" id="file-input" (change)="changeImage($event)" type="file" accept="image/*"><br><br><br> -->
  <div>
      <form>
        <label for="username" style="color:black;">Username</label><br>
        <input style="width: 500px; height: 31px; background: #FFFFFF; border: 1px solid rgba(0, 0, 0, 0.727);border-radius: 5px; padding-left:5px;" class="fname" (change)="updateInfo($event)" [(ngModel)]="user.username" type="text"  class="validate" name="username"><br><br><br>

        <label for="first_name" style="color:black;">First Name</label><br>
        <input style="width: 500px; height: 31px; background: #FFFFFF; border: 1px solid rgba(0, 0, 0, 0.727);border-radius: 5px; padding-left:5px;"  class="gname" (change)="updateInfo($event)" [(ngModel)]="user.first_name"  type="text" class="validate" name="first_name"><br><br><br>

        <label for="last_name" style="color:black;">Last Name</label><br>
        <input style="width: 500px; height: 31px; background: #FFFFFF; border: 1px solid rgba(0, 0, 0, 0.727);border-radius: 5px; padding-left:5px;"  class="unname" (change)="updateInfo($event)"  [(ngModel)]="user.last_name"  type="text" class="validate" name="last_name" ><br><br><br>

        <input class="save" type="submit" value="SAVE">
    </form>
  </div>
</div>



<!-- <main >
    <div class="section container">
  <div class="row">
    <div class="col s12 m4">
      <span class="settings-title">Personal Information</span>
        <img [src]="user.profile_img" alt="" class=" circle responsive-img">
        <div class="form-group" style="display:flex">
      <div class="image-upload">
    <label for="file-input">
        <i class="btn btn-primary">Upload</i>
    </label>
    <input id="file-input" (change)="fileChange($event)" type="file"/>
      </div></div>

    </div>
               <div class="col s12 m8">

      <div class="setting-group">
        <ul class="collapsible setting" materialize="collapsible">
          <li>
            <div class="collapsible-header">
              <span>Username</span>
              <i class="material-icons caret right">keyboard_arrow_right</i>
            </div>
            <div class="collapsible-body">
              <div class="input-field">
                <input  (change)="updateInfo($event)" [(ngModel)]="user.username" type="text" class="validate" disabled>
                <label for="username">Username</label>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header">
              <span>First Name</span>
              <i class="material-icons caret right">keyboard_arrow_right</i>
            </div>
            <div class="collapsible-body">
              <div class="input-field">
                <input (change)="updateInfo($event)" [(ngModel)]="user.first_name" id="first_name" type="text" class="validate">
                <label for="first_name">First Name</label>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header">
              <span>Last Name</span>
              <i class="material-icons caret right">keyboard_arrow_right</i>
            </div>
            <div class="collapsible-body">
              <div class="input-field">
                <input (change)="updateInfo($event)"  [(ngModel)]="user.last_name" id="last_name" type="text" class="validate">
                <label for="last_name">Last Name</label>
              </div>
            </div>
          </li> -->
          <!-- <li>
            <div class="collapsible-header">
              <span>Attendance Logs</span>
              <i class="material-icons caret right">keyboard_arrow_right</i>
            </div>
            <div class="collapsible-body">
              <p *ngFor="let item of attendance$|async"> {{ item.timestamp }} </p>
              <p> Tuesday 7th January 2018, @ 4:00pm </p>
            </div>
          </li> -->

        <!-- </ul> -->
      <!-- </div>

    </div>
  </div>

</div>

    </main> -->
</main>
