/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '../node_modules/materialize-css/dist/css/materialize.min.css';

a{
  cursor: pointer;
}

body::-webkit-scrollbar {
  width: 0 !important;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
/*   width: 0.7em;
   border: 0.5em;
   border-radius: 20px;*/
}

