/* BEGINING OF STYLING FOR PROJECTS APP HOMEPAGE */

.proj-header{
	background-color: #252525;
	height: 70px;
}

.proj-header2{
	background-color: #FFFFFF;
	height: 30px;
	padding-top: 3px;
}

.proj-header2l:hover{
	color: grey;
}

.proj-body{
	background: rgba(229, 229, 229, 0.5);
}

.projban{
	padding-bottom: 100px;
}

.projbanh1{
	color: black;
}

.projdiv2{
	margin-top: 100px;
}

.projcard{
	background: #FFFFFF;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
	border-radius: 36px;
	padding-bottom: 0px;
	padding-left: -10px;
	margin-bottom: 30px;
}

.projcardright{
	padding-top: 20px;
}

.projcardh{
	color: #000000;
	font-size: 36px;
}


.projcon{
	color: #428BCA;
}

.projconl{
	color: rgba(37, 37, 37, 0.8);
}

.projlink{
	text-decoration: none;
	color: rgba(0, 0, 0, 0.8);
}

.projlink:hover{
	text-decoration: none;
	color: rgba(0, 0, 0, 0.8);
}

.projboard{
	background: #FFFFFF;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
	border-top-left-radius: 36px;
	border-top-right-radius: 36px;
	padding-top: 50px;
	padding-bottom: 60px;
}



.projboard2{
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 120px;
	min-height: 600px;
}

.projtopiclist{
	margin-left: -30px;
	padding: 20px;
	margin-top: 125px;
	height: 468px;
	background: #F6F6F6;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
	padding-bottom: 10px;
}

.projlistin{
	height: 430px;
	overflow: auto;
}

.projlistin::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(0, 0, 0, 0.25);
    color: grey;
}

.projlistin::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25); 
}

.projlistin::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25); 
    border-radius: 10px;
}

.projbut{
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
}

.projbut2{
    border: 3px solid #252525;
    box-sizing: border-box;
    border-radius: 100px;
    padding-left: 20px;
	padding-right: 20px;
	color: black;
}

.projbut3{
	border: 3px solid #428BCA;
	box-sizing: border-box;
	border-radius: 100px;
	padding-left: 20px;
	padding-right: 20px;
	color: #428BCA;
}

.projbut4{
	background: rgba(98, 98, 98, 0.1);
	border-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 10px;
	font-size: 18px;
}

.projboardinfo2{
	background: rgba(37, 37, 37, 0.05);
	padding: 5px;
}

.projline{
	height: 0px;
	border: 2px solid rgba(37, 37, 37, 0.2);
}

.projvid{
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}


@media (min-width: 360px) and (max-width: 640px) {

	.projcard{
		padding-top: 10px;
	}

	.projcardright{
		padding-bottom: 20px;
	}

	.projboardinfo{
		padding-top: 110px;
	}

	.projtopiclist{
		margin-left: 0px;
		
		margin-top: 50px;
		min-height: 468px;
		background: #F6F6F6;
		box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
	}

	.projvid{
		width: 100%;
	}

	

}

@media (min-width: 768px) and (max-width: 1024px) {
	.projimg, img{
		margin-right: 10px;
		width: 100%;
	}

	.projcard{
		padding-right: -10px;
		height: 500px;
	}

	.projcardright{
		padding-bottom: 20px;
	}

	.projboardinfo{
		padding-top: 120px;
	}
}


.quickLinks {
	padding-top: 50px;
}

.quickLinks > ul > li > a {
	color: rgba(255, 255, 255, 0.8);
}

.quickLinks > div > ul > li {
	color: rgba(255, 255, 255, 0.8);
	list-style-type: none;
	padding-left: 70px;
}

.quickLinks > div > img {
	padding-left: 100px;
}

.socialMedia {
	padding-top: 180px;
}

.socialMedia > ul > li {
	list-style-type: none;
	display: inline-block;

}

.socialMedia > ul > li > a {
	color: rgba(255, 255, 255, 0.8);
}

.compDate > p {
	color: rgba(255, 255, 255, 0.8); 
	text-align: center;
}

#logo {
	padding-left: 5px;
}

#courses {
	padding-left: 200px;
}

#try-for-free {
	padding-left: 240px;
}

#proj-title {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 64px;
	color: #000000;
}

.project-dscrpn {
	text-align: center;
	padding-top: 33px;
	padding-bottom: 98px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 18px;
	color: rgba(0, 0, 0, 0.8);
}


.projects-container {
	margin-left: 49px;
	margin-right: 50px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: -2000px;
	background: #ffffff;
	border-radius: 36px;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
	height: 240px;
}


.projects-img {
	position: absolute;
	top: 45px;
	left: 75px;
}

.project-img-col {
	border-radius: 36px; 
	position: relative;
	background-repeat:no-repeat;
	background-size: cover;
}

.projects-title {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 36px;
	color: #000000;

}

.projects-description {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 18px;
	color: rgba(0, 0, 0, 0.8);
}

.proj-contains {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 18px;
	color: #428BCA;
}

/* END */

/* BEGINING OF STYLING FOR PROJECT COURSE LISTING PAGE */

.project-pg-marker {
	height: 31px; 
	background-color: white; 
	padding-top: 5px; 
	padding-bottom: 4px;
	color: rgba(0, 0, 0, 0.4);
	text-align: center;
}

.course-proj-cont {
	background-color: #F6F6F6; 
	text-align: center;

}

.course-proj-title {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 64px;
	text-align: center;
	color: #000000;
	padding-top: 36px;
}

.course-proj-descrp {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 18px;
	text-align: center;
	color: rgba(0, 0, 0, 0.8);
	padding-top: 24px;
	margin-left: 398px;
	margin-right: 398px;
	height: 64px;
}


.course-proj-row1 {
	margin-left: -20px;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}

.course-proj-img-col {
	background: #FFFFFF;
}

.course-proj-img-size {
	width: 266px;
	height: 266px;
	padding-top: 10px;
	padding-left: 10px;
}

.course-proj-main-btn {
	background-color: #252525;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	border-radius: 100px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 18px;
	color: #FFFFFF;
	padding-top: 19px;
	padding-bottom: 18px;
	padding-left: 70px;
	padding-right: 69px;
	width: 266px;
	height: 59px;
}

.course-proj-lab-btn {
	background: #FFFFFF;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
	border: 3px solid #428BCA;
	box-sizing: border-box;
	border-radius: 100px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 18px;
	color: #428BCA;
	padding-top: 19px;
	padding-bottom: 18px;
	padding-left: 70px;
	padding-right: 69px;
	width: 266px;
	height: 59px;
	margin-top: 22px;
	margin-bottom: 44px;
}


.course-proj-detail-col {
	text-align: left;
	background: #FFFFFF;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}

.col2-course-title {
	padding-top: 24px;
	margin-bottom: 5px;
	width: 237px;
	height: 43px;
	font-family: Roboto;
	font-size: 36px;
	color: #000000;
}

.col2-course-descrp {
	width: 965px;
	height: 48px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 18px;
	color: #000000;
	padding-top: 10px;
	padding-right: 210px;
}


.col2-board {
	background: rgba(37, 37, 37, 0.05);
	margin-right: 138px;
}

.col2-heading {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 18px;
	color: #428BCA;
	margin-left: 9px;
}

.course-obj {
	padding-top: 6px;
}

.course-obj-body {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	font-size: 18px;
	color: #000000;
	margin-left: 9px;
	margin-top: 5px;
	padding-right: 18px;
}

.dur {
	padding-bottom: 10px;
}

.course-dur {
	padding-top: 21px;
}

.video-area {
	background-color: red;
}