{% extends 'home/base.html' %}
{% load staticfiles%}
{% block title %}
FAQs | Linuxjobber
{% endblock %}
{% block content %}
<style>
h3 {
    font-size: 14px;
    text-transform: uppercase;
    margin: 18px 0;
}
.server_services{ background:#EEEEEE;}
h2 {
  color: #17406b;
  font-size: 2em;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 0.6em;
  text-align: center;
}
.panel-group .panel {
  border-radius: 4px;
  margin-bottom: 0;
}
.faq-panel .panel-heading {
  padding: 20px 25px;
}
.faq-panel .panel-title a.collapsed::after {
  content: "";
}

.faq-panel .panel-title a::after {
  color: inherit;
  content: "";
  float: right;
  font-family: "FontAwesome";
  font-size: 20px;
}
</style>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <div class="carousel-inner" role="listbox" style="padding:201px 0 9px;">
  <div class="item active">
    <!-- <img class="first-slide" src="images/slide1.png" alt="First slide"> -->
    <div class="container">
    <div class="carousel-caption">
      <h1>FAQs</h1>          
    </div>
    </div>
  </div>
   
   
  </div>     
</div>
<div class="server_services">   
  <div class="our-benefits">
    <div class="container">
    
        
    
      <div class="row">
      
        <div class="col-md-12 col-sm-12" style="margin:12px 0;">
        <h2>Linuxjobber FAQs</h2>  

        <div class="main-container inner-page">
        <div class="container">
          <div class="section-content">
            <div class="row ">
              
              <hr class="center-block small text-hr">
            </div>
            <div class="faq-content">

              <div aria-multiselectable="true" role="tablist" id="accordion" class="panel-group faq-panel">
                <div class="panel">
                  <div id="headingOne1" role="tab" class="panel-heading">
                    <h4 class="panel-title">
                      <a style="color:#333333; font-weight:bold;"  aria-controls="collapseOne1" aria-expanded="false" href="#collapseOne1"
                         data-parent="#accordion" data-toggle="collapse" class="collapsed">
                        1. What is the cost of the training and how long does it take?
                      </a>
                    </h4>
                  </div>
                  <div aria-labelledby="headingOne1" role="tabpanel" class="panel-collapse collapse"
                     id="collapseOne1">
                    <div class="panel-body">
                      The cost of the training is $29 per month and the duration depends on you. The earlier you finish the modules, the faster you will finish the course. However, most people finish the course in 6 - 8 weeks.
                    </div>
                  </div>
                </div> 
                <div class="panel">
                  <div id="headingTwo" role="tab" class="panel-heading">
                    <h4 class="panel-title">
                       <a style="color:#333333; font-weight:bold;" aria-controls="collapseTwo" aria-expanded="false" href="#collapseTwo"
                          data-parent="#accordion" data-toggle="collapse" class="collapsed">
                        2. Can I cope with Linux proficiency without Linux fundamental?
                      </a>
                    </h4>
                  </div>
                  <div aria-labelledby="headingTwo" role="tabpanel" class="panel-collapse collapse"
                    id="collapseTwo">
                    <div class="panel-body">No, you will not be able to cope with Linux proficiency if you don't do the fundamentals.                   
                    </div>
                  </div>
                </div> 
                <div class="panel">
                  <div id="headingThree" role="tab" class="panel-heading">
                    <h4 class="panel-title">
                      <a  style="color:#333333; font-weight:bold;" aria-controls="collapseThree" aria-expanded="false" href="#collapseThree"
                         data-parent="#accordion" data-toggle="collapse" class="collapsed">
                        3. What is the structure of the training, online or in-class? and what are the costs?
                      </a>
                    </h4>
                  </div>
                  <div aria-labelledby="headingThree" role="tabpanel" class="panel-collapse collapse"
                     id="collapseThree">
                    <div class="panel-body">
                    We over both online and onsite courses. Online is $29 per month. On-site is $2495 per course. 
                    </div>
                  </div>
                </div>

                 <div class="panel">
                  <div id="heading_04" role="tab" class="panel-heading">
                    <h4 class="panel-title">
                      <a style="color:#333333; font-weight:bold;" aria-controls="collapse_04" aria-expanded="false" href="#collapse_04"
                         data-parent="#accordion" data-toggle="collapse">
                        4. How does the free trial work because I am still seeing $29 monthly?
                      </a>
                    </h4>
                  </div>
                  <div aria-labelledby="heading_04" role="tabpanel" class="panel-collapse collapse"
                     id="collapse_04">
                    <div class="panel-body">
                      The free trial requires you to pay $29 at sign-up time. That money is completely refunded if you cancel within the 14 days. No obligations and no questions asked.
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div id="heading5" role="tab" class="panel-heading">
                    <h4 class="panel-title">
                      <a style="color:#333333; font-weight:bold;" aria-controls="collapse5" aria-expanded="false" href="#collapse5"
                         data-parent="#accordion" data-toggle="collapse">
                        5. Is the lectures recorded or virtual Trainer-students format? 
                      </a>
                    </h4>
                  </div>
                  <div aria-labelledby="heading5" role="tabpanel" class="panel-collapse collapse"
                     id="collapse5">
                    <div class="panel-body">
                    We have both recorded lectures and Live, instructor-led online classes. The fundamentals are completely online. 
                    </div>
                  </div>
                </div>  
                <div class="panel">
                  <div id="heading6" role="tab" class="panel-heading">
                    <h4 class="panel-title">
                      <a style="color:#333333; font-weight:bold;" aria-controls="collapse6" aria-expanded="false" href="#collapse6"
                         data-parent="#accordion" data-toggle="collapse">
                        6. Can I complete the Linux proficiency within a month with your arrangement?
                      </a>
                    </h4>
                  </div>
                  <div aria-labelledby="heading6" role="tabpanel" class="panel-collapse collapse"
                     id="collapse6">
                    <div class="panel-body">
                    Yes, you can complete the proficiency within a month. It is at your own pace.   
                    </div>
                  </div>
                </div>
                
                <div class="panel">
                  <div id="heading12" role="tab" class="panel-heading">
                    <h4 class="panel-title">
                      <a  style="color:#333333; font-weight:bold;" aria-controls="collapse12" aria-expanded="false" href="#collapse12"
                         data-parent="#accordion" data-toggle="collapse">
                        7. How much is the RHCSA class and how long is the bootcamp?
                      </a>
                    </h4>
                  </div>
                  <div aria-labelledby="heading12" role="tabpanel" class="panel-collapse collapse"
                     id="collapse12">
                    <div class="panel-body">
                      The cost of the class is on the website and it depends on whether you are a Linuxjobber member ($399) or non-member ($499). 
                    </div>
                  </div>
                </div>
                
                
                <div class="panel">
                  <div id="heading13" role="tab" class="panel-heading">
                    <h4 class="panel-title">
                      <a style="color:#333333; font-weight:bold;" aria-controls="collapse13" aria-expanded="false" href="#collapse13"
                         data-parent="#accordion" data-toggle="collapse">
                        8. I am a green card holder and from what I have heard, most linux sys admin jobs require secret clearance /US citizenship. Is</a> that true?
                      </a>
                    </h4>
                  </div>
                  <div aria-labelledby="heading13" role="tabpanel" class="panel-collapse collapse"
                     id="collapse13">
                    <div class="panel-body">
                      No, it is not true. Nearly all new students get jobs in the private
sector. Your goal is to ensure that you understand the material well.
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div id="heading14" role="tab" class="panel-heading">
                    <h4 class="panel-title">
                      <a style="color:#333333; font-weight:bold;" aria-controls="collapse14" aria-expanded="false" href="#collapse14"
                         data-parent="#accordion" data-toggle="collapse">
                        9. I will take the fundamentals.I signed up and have an account on your
website. Am I consider a member of linuxjobber and benefit from the $399 discount?
                      </a>
                    </h4>
                  </div>
                  <div aria-labelledby="heading14" role="tabpanel" class="panel-collapse collapse"
                     id="collapse14">
                    <div class="panel-body">
                      No, you are not a member yet. Member means that you have subscribed. You are considered a member even within the 14 days trial period.
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div id="heading15" role="tab" class="panel-heading">
                    <h4 class="panel-title">
                      <a style="color:#333333; font-weight:bold;" aria-controls="collapse15" aria-expanded="false" href="#collapse15"
                         data-parent="#accordion" data-toggle="collapse">
                        10. I read you may have cloud engineer positions after the student has completed the training. So could you clarify how is that possible since we are trained in linux sys admin? I am a little confused.
                      </a>
                    </h4>
                  </div>
                  <div aria-labelledby="heading15" role="tabpanel" class="panel-collapse collapse"
                     id="collapse15">
                    <div class="panel-body">
                      Our Linux training material incorporates cloud so you will possess
both skills by the time you finish.
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div id="heading16" role="tab" class="panel-heading">
                    <h4 class="panel-title">
                      <a style="color:#333333; font-weight:bold;"  aria-controls="collapse16" aria-expanded="false" href="#collapse16" data-parent="#accordion" data-toggle="collapse">
                        11. If I get a job as a Systems Administrator, what range of salary can I expect in the DMV area?
                      </a>
                    </h4>
                  </div>
                  <div aria-labelledby="heading16" role="tabpanel" class="panel-collapse collapse" id="collapse16">
                    <div class="panel-body">
                      Go to <a href="http://salary.com/" style="color:blue;">salary.com</a> and find the average salary of any position you like. This is public
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div id="heading17" role="tab" class="panel-heading">
                    <h4 class="panel-title">
                      <a style="color:#333333; font-weight:bold;" aria-controls="collapse17" aria-expanded="false" href="#collapse17" data-parent="#accordion" data-toggle="collapse">
                        12. What other support do you offer e.g help with interview practice,  mentorship etc?
                      </a>
                    </h4>
                  </div>
                  <div aria-labelledby="heading17" role="tabpanel" class="panel-collapse collapse" id="collapse17">
                    <div class="panel-body">
                      We offer resume preparation service, interview preparation and job placement services.
                    </div>
                  </div>
                </div>
                <div class="panel">
                <div id="heading18" role="tab" class="panel-heading">
                  <h4 class="panel-title">
                  <a style="color:#333333; font-weight:bold;" aria-controls="collapse18" aria-expanded="false" 
                  href="#collapse18" data-parent="#accordion" data-toggle="collapse">
                      13. I need alternative payment method. Can I pay with my Paypal balance?
                  </a>
                  </h4>
                </div>
                <div aria-labelledby="heading18" role="tabpanel" class="panel-collaps
                e collapse"  id="collapse18">
                    <div class="panel-body">
                        Yes, we accept paypal payment. <a href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=5DL72BGQXZEDG'> Click here to pay with Paypal.</a>
                    </div>
                </div>
                </div>
                <!-- div class="panel">
                  <div id="heading19" role="tab" class="panel-heading">
                    <h4 class="panel-title">
                      <a aria-controls="collapse19" aria-expanded="false" href="#collapse16"
                         data-parent="#accordion" data-toggle="collapse">
                        13. If I get a job as a Systems Administrator, what range of salary can I expect in the DMV area?
                      </a>
                    </h4>
                  </div>
                  <div aria-labelledby="heading16" role="tabpanel" class="panel-collapse collapse"
                     id="collapse19">
                    <div class="panel-body">
                      Go to <a href="http://salary.com/" style="color:blue;">salary.com</a> and find the average salary of any position you like. This is public
                    </div>
                  </div>
                </div -->
              </div>
            </div>
          </div>
        </div>
        </div>        
          
          </div>
      </div>
    </div>
  </div><!--our-benefits-->
  
  
</div>


{%endblock%}