{% extends 'home/base.html' %}
{% load staticfiles%}
{% block title %}
About Us | Linuxjobber
{% endblock %}
{% block content %}
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
      	<!-- Indicators -->
      	<div class="carousel-inner" role="listbox">
        <div class="item active">
          
        </div>      
      	</div>      
    </div>
    <style>
	p{ font-size:22px;}	
.fadeInUp li { font-size:15px;}	
</style>

	<section class="col-xs-12 aboutusmain animate-box">
		<div class="row raise-to-banner2">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="display-t">
					<div class="display-tc animate-box h1-bg" data-animate-effect="fadeIn">
						<h1>About Us</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="container">		
			<span>Linux Jobber</span>
				<p>Our company was born out of the need to close the gap between the market's demand for linux professionals and the supply pool of available professionals.</p>
					
				<div class="col-md-12 jobbertext col-xs-12">
					<p>Most people are well aware that nearly all devices now run linux in the back: from android cell phones to smart TVs, it is linux. Also, from embedded car computer controls to airplane movie displays, it is all linux. Most importantly, because linux is much more secure than Microsoft's Windows, many companies now use linux in the backend to provide information security. As a result, the demand for linux professionals today is phenominal. Hence, we have decided to train more people to fill the numerous open positions.</p>
				</div>
			
		</div>
	</section>

	<section class="col-xs-12 aboutusmain animate-box">
		<div class="container">
		<div>&nbsp;<br />&nbsp;</div>
			<span>Founder</span>
			<p>The company was founded by Showunmi Joseph, a dedicated linux administrator with over 15 years of experience. Mr. Showunmi studied Computer Science at Queens College of the City University of New York and graduated with a Bachelors of Science. He later earned a Masters of Business Administration in Technology Management from the State University of New York Institute of Technology. Mr. Showunmi is a hands-on advocate and he is also an instructor at the linuxjobber training site.</p>	
		</div>
	</section>

	<section class="col-xs-12 our-partners animate-box">
		<div class="container">
			<span>Our Partners</span>
			<div class="col-xs-12 partnertext">
			<div class="col-md-7 partnerlefttext col-xs-12">
				<p>Linuxjobber is in partnership with The LinuxWorldWide Organization to adopt the best training practices. On completion of our linux classes, each student receives a certificate of course completion from us backed by the internationally recognized LinuxWorldWide organization. Our staff at Linuxjobber attend the yearly LinuxWorldWide conferences and aim for its outstanding awards.</p>
			</div>
			<div class="col-md-5 partnerimg col-xs-12">
				<img src="{% static "home/images/partners-logo.png" %}" alt="Partners Logo" />
			</div>
			</div>
		</div>
	</section>
		
	<section class="col-xs-12 company-goals animate-box">
		<div class="container">
			<span>Company Goals</span>
			<p>Our goal is to secure employment for all of our students. Therefore, after training, we provide job seeking assistance, resume writing help and interview preparation for our students so that our students become candidates with higher chances of success.</p>
			<p>If you have any questions, feel free to call us or send us an email.</p>
		</div>
	</section>			

{% endblock %}