{% extends 'home/base.html' %}
{% block content %}

<div class="req" role="listbox">
    <div class=" text-center projs" >
  
    </div>
</div>
<br>
<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8 modal-content">
		<br>
		<h2>Requirements Met</h2>
		<hr>
		<p class="req-p space1">Please Note</p>
		<ul>
			<li>- To verify authorization to work in the United States, the agreement requires Social Security Number.</li>
			<li>- To verify registrant identity, the agreement requires Bank Information.</li>
		</ul>
		<br>
		<div class="sldbtnd">
{#            https://leif.org/commit?product_id=5b304639e59b74063647c484#/#}

		<a href="https://leif.org/commit?product_id=5c9a0657d21acb12af72c0b3#/" class="btn btn-primary get">Proceed</a>
		</div>
		<br><br>
		
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
<br><br>

{% endblock %}