{% extends 'home/base.html' %}

{% load staticfiles%}

{% block content %}



<div id="myCarousel" class="carousel slide" data-ride="carousel">
<div class="carousel-inner" role="listbox">
  <div class="item active">
    
  </div>
</div>
</div>
 <style>
*{
    font-size:16px;
}
.move-left h2 {
    margin-top: 7%;
    background: none;
}
h1, h2, h3, h4, h5, h6, figure {
    color: #000;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    font-weight: 400;
    margin: 0 0 20px 0;
}
h2, .h2 {
    font-size: 30px;
}
.move-left h5 {
    margin-left: 7%;
    font-size: 15px;
}

.top_margin h4 {
    margin-top: -50px;
    color: #cd5a4b;
}
.ytp-thumbnail-overlay-image {
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
}
.f-right{
    padding-left: 20px;
}
.bring-down h4 {
    margin-top: 68px !important;
}
.bring-down h4 {
    color: #cd5a4b;
}
.mg {
    margin-top: 19px !important;
}

style.scss:550
.mt {
    margin-top: 30px;
}
.top_margin {
    margin-top: 80px;
}
h5.title-2 {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 18px;
    margin-bottom: -8px !important;
}
p{
    font-size: 16px;
}
form .submit input[type="submit"] {
    background: #3f8aca !important;
}
.btn-primary {
    background: #EA9215;
    color: #fff;
    border-color:transparent !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #117bcd !important;
}
.btn {
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    font-size: 16px;
    font-weight: 400;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding: 8px 20px;
}
.my-button-css2 {
    cursor: pointer;
    background-color: #069;
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    font-size: 19px !important;
    font-weight: bold;
    text-align: center;
    padding: 10px 64px 8px 54px !important;
    margin: 5px 0 0 0;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
}
#move-left {
    margin-left: 36%;
    border-radius: 30%;
}
@media (min-width:320px) and (max-width: 480px) {
		.video-howto {
		padding:12px;
		}
		iframe {
		width: 100%;
		}
		#upload-file {
		width: 100%;
		}
		.howto-col {
		padding-left: 50px;
		}
		.rnd-back2 {
		margin: auto;
		}
		.pro button {
		margin: auto;
		}
	}
	@media (max-width: 780px) and (min-width: 375px){

	}
</style>
  

<div class="main-container">
	<br>
	<br>
	<div class="fh5co-explore">
		<div class="container">
			<div class="text-center">
				<b>
					<p>
						<br>
						<br>
					</p>
				</b>
			</div>
			 {% if messages %}
          {% for message in messages %}
            {% if message.tags == "success" %}
            <div class="alert alert-success" role="alert">
            <p style="color:#155724">{{message}}</p>
        	</div>
            {%else%}
            <div class="alert alert-danger" role="alert">
            <p style="color:#721c24">{{message}}</p>
            </div>
            {%endif%}
          {% endfor %}
        {% endif %}
			<section class="video-study">
				<div class="row video-howto">
					<div class="col-xs-12 col-sm-12 col-lg-6">
						<p>
							<iframe src="https://www.youtube.com/embed/YUdFLQnwuNA" allowfullscreen="" width="450" height="280" frameborder="0">
								#document
							</iframe>
						</p>
					</div>
					<div class="col-xs-12 col-sm-12 col-lg-6 howto-col">
						<h3 class="hblue">
							How to get AWS Credentials
						</h3>
						<ul>
							<li class="circle-list">
								Watch the video for instructions on initial setup
							</li>
							<li class="circle-list">
								Create credentials on Amazon
							</li>
							<li class="circle-list">
								Download credentials
							</li>
							<li class="circle-list">
								Upload credentials to linuxjobber
							</li>
							<li class="circle-list">
								Launch new machine
							</li>
						</ul>
					</div>
				</div>
			</section>
		</div>
		<section class="upload-cred">
			<div class="container">
				<div class="row">
					<div class="trial-section">
						<h3 class="text-center text-white mgb30">Want to use another key? upload a new credentials</h3>
						<form class="form-horizontal" method="post" enctype="multipart/form-data">
							<p></p>
							{% csrf_token %}
							{{ form.as_p }}
							<a href="#"></a>
							<button class="btn btn-upload">Upload</button>
						</form>
					</div>
				</div>
			</div>
		</section>
		<section class="cred">
			<div class="container">
				<div class="row">
					<div class="text-center">
						<h3 class="hblue m-top">Status of Credentials</h3>
						<div class="col-xs-12 col-sm-12 col-lg-6 mgb50">
							<p class="hred rnd-back2">Invalid</p>
							<p class="hblue">Credentials Validity</p>
						</div>
						<div class="col-xs-12 col-sm-12 col-lg-6 mgb50">
							<p class="hred rnd-back2">Not Permitted</p>
							<p class="hblue">EC2 Access</P>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="pro">
			<div class="container">
				<div class="row">
					<button class="btn btn-proceed" toggle="tooltip" title="You cannot access ec2Dashboard" disabled="">Proceed to Linux Machines</button>
				</div>
			</div>
		</section>
	</div>
	<br>
</div>


{% endblock %}
