{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

<title>{% block title %} {% endblock %}</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="{% static 'home/css/newdesigner/js/validation/jquery.validation.functions.js' %}"></script>
<script
	src="{% static 'home/css/newdesigner/js/validation/jquery.validate.js' %}"></script>

<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700"
	rel="stylesheet">

<!-- Bootstrap -->
<link href="{% static 'home/css/newdesigner/css/bootstrap.min.css' %}"
	rel="stylesheet">
<!-- Main Style -->
<link rel="stylesheet" href="{% static 'home/css/style.css' %}">
<link href="{% static 'home/css/newdesigner/css/style.css' %}"
	rel="stylesheet">
<link href="{% static 'home/css/newhomepage/css/stylenew.css' %}"
	rel="stylesheet}">
<link href="{% static 'home/css/newhomepage/css/newstyle2.css' %}"
	rel="stylesheet">
<link href="{% static 'home/css/newhomepage/css/main.css' %}"
	rel="stylesheet">
<link href="{% static 'home/css/newhomepage/css/newstylenew.css' %}"
	rel="stylesheet">
<!-- <link href="{% static 'home/css/newhomepage/css/my-style.css' %}" rel="stylesheet"> -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400"
	rel="stylesheet">
<style>

	.progress{
		margin-top:5px;
		margin-bottom:0px;
	}
	.fh5co-cover.fh5co-cover-sm {
		height: 245px !important;
	}
	.lab-details {
		margin-top: 10px;
		margin-bottom: 40px;
	}
	.fa.fa-check  {  padding: 3px !important;  border-radius: 14px; line-height: 14px; }
	.fa.fa-remove {  padding: 5px !important; border-radius: 10px; line-height: 10px; }
	a{ font-weight:500 ; }

</style>
<!-- FAQ -->
<!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

	<link href="{% static 'faq/css/reset.css' %}" rel="stylesheet">
    <link href="{% static 'faq/css/faq_style.css' %}" rel="stylesheet">
    <script src="{% static 'faq/js/modernizr.js' %} "></script> -->
</head>

<body>

	<header class="r-header" id="header">
		<!-- header bottom -->
		<div class="header-bottom">
			<div class="container padd">
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-6 logo padd">
						<a class="navbar-brand" href="{% url 'home:index' %}"><img
							src="{% static 'home/images/logo.png' %}" alt="logo"></a>
					</div>

					<div class="col-md-6 col-sm-6 mainmnu">
						<nav>
							<ul class="nav navbar-nav navbar-right main-nav">
								<li class="has-dropdown sub-menu course"><a class="b-n"
									href="javascript:void(0);">Courses</a>
									<div class="dropdowns transparent-style" id="course">
										<div class="container text-1">
											{% if courses %} {% for course in courses %} {% with count_min_one=forloop.counter|add:"-1"|divisibleby:4 %} {% if forloop.counter == 1 or count_min_one %}
											<div class="col-md-3 col-sm-4">
												<ul>
											{% endif %}
													<li><a href="{% url 'Courses:topics' course.course_title.split|join:'_' %}"><span class="link-icon"><i class="fa fa-linux fa-2x"></i></span>{{course.course_title}}</a></li>
													{% if forloop.counter|divisibleby:4 %}
												</ul>
											</div>
											{% endif %} {% endwith %} {% endfor %} {% else %}
											<div class="col-md-3 col-sm-4">
												<ul class="">
													<li><a href="#"><span class="link-icon"><i
																class="fa fa-linux fa-2x"></i></span>Linux Fundamentals</a> <a
														href="#"><span class="link-icon"><i
																class="fa fa-linux fa-2x"></i></span>Linux Proficiency</a></li>
													<li><a href="#"><span class="link-icon"><i
																class="fa fa-terminal fa-2x"></i></span>HTML/CSS</a></li>
												</ul>
											</div>
											<div class="col-md-3 col-sm-4">
												<ul class="">
													<!--li></li-->

													<li><a href="#"><span class="link-icon"><i
																class="fa fa-cloud fa-2x"></i></span>Amazon AWS</a></li>
													<li><a href="#"><span class="link-icon"><i
																class="fa fa-cogs fa-2x"></i></span>PUPPET Training</a></li>

													<li><a href="#"><span class="link-icon"><i
																class="fa fa-file-code-o fa-2x"></i></span>JS/AngularJs v4</a></li>



												</ul>
											</div>
											<div class="col-md-3 col-sm-4">
												<ul class="">
													<!--li></li-->
													<li><a href="#"><span class="link-icon"><i
																class="fa fa-server fa-2x"></i></span>RHCSA</a></li>
													<li><a href="#"><span class="link-icon"><i
																class="fa fa-file-code-o fa-2x"></i></span>Java</a></li>
													<li><a href="#"><span class="link-icon"><i
																class="fa fa-lock fa-2x"></i></span>Cybersecurity</a></li>

												</ul>
											</div>
											<div class="col-md-3 col-sm-4">
												<ul class="">

													<li><a href="#"><span class="link-icon"><i
																class="fa fa-pencil-square-o fa-2x"></i></span>Independent
															Authors</a></li>

													<li><a href="#"><span class="link-icon"><i
																class="fa fa-line-chart fa-2x"></i></span>Business Analysis</a></li>

													<li><a href="#"><span class="link-icon"><i
																class="fa fa-server fa-2x"></i></span>Database</a></li>

												</ul>
											</div>



											<div class="col-md-3 col-sm-4">
												<ul class="">
													<li><a href="#"><span class="link-icon"><img
																src="images/icon5.png" alt="img" /></span>Name </a></li>

												</ul>
											</div>
											{% endif %}
										</div>
									</div></li>
								<li class="has-dropdown sub-menu tool"><a class="b-n"
									href="javascript:void(0);">Tools</a>

									<div class="dropdowns transparent-style" id="tool">
										<div class="container text-1">
											{% if tools %} {% for tool in tools %} {% with count_min_one=forloop.counter|add:"-1"|divisibleby:4 %} {% if forloop.counter == 1 or count_min_one %}


											<div class="col-md-4 col-sm-4">
												<ul>
													{% endif %}


													<li><a href="{% url 'ToolsApp:topics' tool.tool_name.split|join:'_' %}"><span class="link-icon"><i class="fa fa-cog fa-2x"></i></span>{{tool.tool_name}}</a></li>
													{% if forloop.counter|divisibleby:4 %}
												</ul>
											</div>
											{% endif %} {% endwith %} {% endfor %} {% else %}
											<div class="col-md-3 col-sm-4">
												<ul class="">
													<li><a href="#"><span class="link-icon"><i
																class="fa fa-linux fa-2x"></i></span>Monitoring</a> <a
														href="#"><span class="link-icon"><i
																class="fa fa-linux fa-2x"></i></span>Cloud Tools</a></li>
												</ul>
											</div>
											{% endif %}
										</div>
									</div></li>

								<li class="has-dropdown sub-menu company"><a class="b-n"
									href="javascript:void(0)">Company</a>
									<div class="dropdowns transparent-style" id="company">
										<div class="container text-1">
											<div class="col-md-4 col-sm-6">
												<ul>
													<li><a href="{% url 'home:aboutus' %}"><span
															class="link-icon"><i class="fa fa-home fa-2x"></i></span>About
															Us</a></li>
													<li><a href="{% url 'home:location' %}"><span
															class="link-icon"><i
																class="fa fa-map-marker fa-2x"></i></span>Location</a></li>
												</ul>
											</div>
											<div class="col-md-4 col-sm-6">
												<ul>
													<li><a href="{% url 'home:jobs' %}"><span
															class="link-icon"><i class="fa fa-suitcase fa-2x"></i></span>Jobs</a></li>
													<li><a href="{% url 'home:policies' %}"><span
															class="link-icon"><i class="fa fa-gavel fa-2x"></i></span>Policies</a></li>
												</ul>
											</div>
											<div class="col-md-4 col-sm-6">
												<ul>
													<li><a href="{% url 'home:contact_us' %}"><span
															class="link-icon"><i
																class="fa fa-phone-square fa-2x"></i></span>Contact Us</a></li>
												</ul>
											</div>
										</div>
									</div></li>

								<li class=" sub-menu "><a class=""
									href="{% url 'home:tryfree' 'standardPlan' %}">Try Free</a></li>
							</ul>
						</nav>
					</div>

					<!-- user -->
					<!-- start -->
					{% if not user.is_authenticated %}
					<div class="col-md-3 col-sm-3 col-xs-6 header-login">
						<a href="{% url 'home:login' %}">Log In</a> <a class="active"
							href="{% url 'home:signup' %}">Sign Up</a>
					</div>
					{% else %}
					
					<div class="col-md-3 col-sm-3 col-xs-6 mainmnu">	
						<nav>
							<ul class="nav navbar-nav navbar-right main-nav" >
								<li class="has-dropdown sub-menu profile">
									<a class="b-n" href="javascript:void(0)">{{ user.username }}</a>			
									<div class="dropdowns transparent-style" id="profile">
										<div class="container text-1 ">
											<div class="col-md-4 col-sm-6">
												<ul>
													<li><a  href="/labprofiles"><span class="link-icon"><img src="https://linuxjobber.com/images/icon1.png" alt="" /></span>My Profile</a></li>
													<li><a href="{% url 'home:account_settings' %}"><span class="link-icon"><img src="https://linuxjobber.com/images/icon1.png" alt="" /></span>Account Settings</a></li>								
												</ul>
											</div>
											<div class="col-md-4 col-sm-6">
												<ul>							
													<li><a href="/users/orderlist"><span class="link-icon"><img src="https://linuxjobber.com/images/icon1.png" alt="" /></span>Order List</a></li>
													<li><a href="{% url 'home:rhcsa_order' %}"><span class="link-icon"><img src="https://linuxjobber.com/images/icon1.png" alt="" /></span>RHCSA Order</a></li>
												</ul>
											</div>		
											<div class="col-md-4 col-sm-6">
												<ul>	
													<li><a href="{% url 'home:logout' %}"><span class="link-icon"><img src="{% static 'home/images/logout1.png' %}" alt="" /></span>Logout</a></li>
												</ul>
											</div>
										</div>
									</div>	
								</li>
							
										
							</ul>	
						</nav>		
					</div>
					

					{% endif %}

					<!-- Stop -->
				</div>
			</div>
		</div>
	</header>


	{% block content %} {% endblock %}


	<!--Footer-->
	<footer id="footer" class="footer">
		<section id="footer-lniks">
			<div class="row" id="footer-row">
				<div class="col-md-3 col-sm-6">
					<img src="{% static 'home/images/logo.png' %}">
				</div>

				<div class="col-md-3 col-sm-6">
					<h2>Quick Links</h2>
					<ul class="quick-links" style="margin-top: 26px; font-size: 16px;">

						<li><a href="{% url 'home:index' %}">Home</a></li>
						<li><a href="{% url 'home:aboutus' %}">About
								US</a></li>
						<li><a href="{% url 'home:resume' %}">Resume
								Services</a></li>
						<li><a href="{% url 'home:students_packages' %}">Student
								Packages</a></li>
						<li><a href="{% url 'home:server_service' %}">Server
								Services</a></li>
						<li><a href="{% url 'home:live_help' %}">Live
								help</a></li>
						<li><a href="{% url 'Projects:index' %}">Projects</a></li>
					</ul>
				</div>


				<div class="col-md-3 col-sm-6">
					<ul class="quick-links2" style="margin-top: 26px; font-size: 16px;">
						<h2>&nbsp;</h2>
						<li><a href="{% url 'home:faq' %}">FAQ</a></li>
						<li><a href="{% url 'home:contact_us' %}">Contact
								Us</a></li>
						<li><a href="{% url 'home:group' %}">Group Class</a></li>
						<li><a href="{% url 'home:in_person_training' %}">In-Person
								Training</a></li>
						<li><a href="{% url 'home:workexperience' %}">Work
								Experience</a></li>
						<li><a href="{% url 'home:gainexperience' %}">Gain
								Experience</a></li>
						<li><a href="{% url 'home:jobplacements' %}">Job
								Placement Program</a></li>
					</ul>
				</div>


				<div class="col-md-3 col-sm-6">
					<h2>Contact Us</h2>
					<ul class="quick-links" style="margin-top: 26px; font-size: 16px;">
						<li><i class="fa fa-map-marker fa-fw pull-left"></i>
							<p style="color: #fff;">Address : Suite 700, 6301 Ivy</p></li>
						<li><p style="color: #fff;">Lane, Greenbelt, Maryland
							<p></li>
						<li><i class="fa fa-envelope fa-fw pull-left"></i>
							<p style="color: #fff;">Email: admin@linuxjobber.com</p></li>
						<!-- li><i class="fa fa-phone fa-fw pull-left"></i><p style=" color:#fff;">Call : 1 443 631 7208</p></li -->
					</ul>
				</div>
			</div>


		</section>
		<br> <br>
		<section class="footer-center text-center">
			<ul class="social-links">
				<li><a href="https://www.facebook.com/linuxjobber"><i
						class="fa fa-facebook fa-fw"></i></a></li>
				<li><a href="https://www.twitter.com/linuxjobber"><i
						class="fa fa-twitter fa-fw"></i></a></li>
				<li><a href="#link"><i class="fa fa-instagram fa-fw"></i></a></li>
				<li><a href="https://www.linkedin.com/company/linuxjobber"><i
						class="fa fa-linkedin fa-fw"></i></a></li>
				<li><a href=""><i class="fa fa-google-plus fa-fw"></i></a></li>
			</ul>
			<br> <br> ©2018 LinuxJobber Inc. All rights reserved
		</section>
	</footer>
	<!--/ Footer-->


	<script src="{% static 'home/css/newdesigner/js/bootstrap.min.js' %}"></script>
	<script async
		src="https://www.googletagmanager.com/gtag/js?id=UA-114043971-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-114043971-1');
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			var flag = 0;
			$(".sub-menu").hover(function() {
				$(".transparent-style").hide();
				$("#header").removeClass("result_hover");
			});
			$(".course").click(function() {

				$("#header").toggleClass("result_hover");
				$("#course").toggle();
			});
			$(".tool").click(function() {

				$("#header").toggleClass("result_hover");
				$("#tool").toggle();
			});

			$(".company").click(function() {

				$("#header").toggleClass("result_hover");
				$("#company").toggle();
			});

			$(".profile").click(function() {

				$("#header").toggleClass("result_hover");
				$("#profile").toggle();
			});

			$(".admin").click(function() {

				$("#header").toggleClass("result_hover");
				$("#admin").toggle();
			});

		});
	</script>
	<script src="{% static 'faq/js/jquery-2.1.1.js' %} "></script>
	<script src="{% static 'faq/js/jquery.mobile.custom.min.js' %} "></script>
	<script src="{% static 'faq/js/main.js' %} "></script>
</body>
</html>
