{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

<title>{% block title %} {% endblock %}</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="{% static 'home/css/newdesigner/js/validation/jquery.validation.functions.js' %}"></script>
<script
	src="{% static 'home/css/newdesigner/js/validation/jquery.validate.js' %}"></script>

<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700"
	rel="stylesheet">

<!-- Bootstrap -->
<link href="{% static 'home/css/newdesigner/css/bootstrap.min.css' %}"
	rel="stylesheet">
<!-- Main Style -->
<link rel="stylesheet" href="{% static 'home/css/style.css' %}">
<link href="{% static 'home/css/newdesigner/css/style.css' %}"
	rel="stylesheet">
<link href="{% static 'home/css/newhomepage/css/stylenew.css' %}"
	rel="stylesheet}">
<link href="{% static 'home/css/newhomepage/css/newstyle2.css' %}"
	rel="stylesheet">
<link href="{% static 'home/css/newhomepage/css/main.css' %}"
	rel="stylesheet">
<link href="{% static 'home/css/newhomepage/css/newstylenew.css' %}"
	rel="stylesheet">
<!-- <link href="{% static 'home/css/newhomepage/css/my-style.css' %}" rel="stylesheet"> -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400"
	rel="stylesheet">
<!-- PROJECTS APPLICATION CUSTOM STYLESHEET -->
<link rel="stylesheet" type="text/css" href="{% static 'Projects/custom/css/projects.css' %}">
<style>


	     .progress{
                margin-top:5px;
                margin-bottom:0px;
        }
        .fh5co-cover.fh5co-cover-sm {
                height: 245px !important;
        }
        .lab-details {
                margin-top: 10px;
                margin-bottom: 40px;
        }
        .fa.fa-check  {  padding: 3px !important;  border-radius: 14px; line-height: 14px; }
        .fa.fa-remove {  padding: 5px !important; border-radius: 10px; line-height: 10px; }
        a{ font-weight:500 ; }

        @media (max-width:767px) {

.mainmnu { display: block !important; }
}
li.sub-menu a.b-n::after,
li.sub-menu a.b-n:focus::after,
li.sub-menu a.b-n:hover::after,
li.sub-menu a.b-n::after {
        z-index: 0;
}
.navbar-toggle {
        background: #bcc6d4fc;
}
.navbar-collapse.in {
    text-align: left;
        background: #1b539e;
        width: 100%;
}

.icon-bar {
        background-color: #1b539e;
}
.inner-box.category-content {
    height:200px;
  }
.navbar-collapse {
	padding: 0;
}

@media (max-width: 640px) and (min-width: 360px) {
        #puppet {
bottom: 200px;
}
.navbar-right {
        padding: 0 16px;
        float: none !important;
}
.header-login {
        padding: 0  16px;
        float: left;
}
.header-login>a {
        margin: 5px 6px;
}
.inner-box.category-content {
    height: 300px;
  }
  h2.title-4{
    padding-right: 16px;
}
}
@media (max-width: 400px) {
  .inner-box.category-content {
    height: 300px;
  }
}


</style>

</head>

<body>

	<header class="r-header" id="header">
		<!-- header bottom -->
		<div class="header-bottom">
			<div class="container padd">
				<div class="row">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="col-md-3 col-sm-3 col-xs-6 logo padd">
						<a class="navbar-brand" href="{% url 'home:index' %}"><img
							src="{% static 'home/images/logo.png' %}" alt="logo"></a>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<div class="col-md-6 col-sm-6 mainmnu">
						<nav>
							<ul class="nav navbar-nav navbar-right main-nav">
								<li class="has-dropdown sub-menu course"><a class="b-n"
									href="javascript:void(0);">Courses</a>
									<div class="dropdowns transparent-style" id="course">
										<div class="container text-1">
											{% if courses %} {% for course in courses %} {% with count_min_one=forloop.counter|add:"-1"|divisibleby:4 %} {% if forloop.counter == 1 or count_min_one %}
											<div class="col-md-3 col-sm-4">
												<ul>
											{% endif %}
													<li><a href="{% url 'Courses:topics' course.course_title.split|join:'_' %}"><span class="link-icon"><i class="fa {{course.icon}} fa-2x"></i></span>{{course.course_title}}</a></li>
													{% if forloop.counter|divisibleby:4 %}
												</ul>
											</div>
											{% endif %} {% endwith %} {% endfor %} {% else %}
											
											



											<div class="col-md-3 col-sm-4">
												<ul class="">
													<li><a href="#"><span class="link-icon"><img
																src="images/icon5.png" alt="img" /></span>Name </a></li>

												</ul>
											</div>
											{% endif %}
										</div>
									</div></li>
								<li class="has-dropdown sub-menu tool"><a class="b-n"
									href="javascript:void(0);">Tools</a>

									<div class="dropdowns transparent-style" id="tool">
										<div class="container text-1">
											{% if tools %} {% for tool in tools %} {% with count_min_one=forloop.counter|add:"-1"|divisibleby:4 %} {% if forloop.counter == 1 or count_min_one %}


											<div class="col-md-4 col-sm-4">
												<ul>
													{% endif %}


													<li><a href="{% url 'ToolsApp:topics' tool.tool_name.split|join:'_' %}"><span class="link-icon"><i class="fa fa-cog fa-2x"></i></span>{{tool.tool_name}}</a></li>
													{% if forloop.counter|divisibleby:4 %}
												</ul>
											</div>
											{% endif %} {% endwith %} {% endfor %} {% else %}
											<div class="col-md-3 col-sm-4">
												<ul class="">
													<li><a href="#"><span class="link-icon"><i
																class="fa fa-linux fa-2x"></i></span>Monitoring</a> <a
														href="#"><span class="link-icon"><i
																class="fa fa-linux fa-2x"></i></span>Cloud Tools</a></li>
												</ul>
											</div>
											{% endif %}
										</div>
									</div></li>

								<li class="has-dropdown sub-menu company"><a class="b-n"
									href="javascript:void(0)">Careers</a>
									<div class="dropdowns transparent-style" id="company">
										<div class="container text-1">
											
											<div class="col-md-4 col-sm-6">
												<ul>
													<li><a href="{% url 'home:jobs' %}"><span
															class="link-icon"><i class="fa fa-suitcase fa-2x"></i></span>Full-Time Jobs</a></li>
												</ul>
											</div>
											<div class="col-md-4 col-sm-6">
												<ul>
													<li><a href="{% url 'home:partime' %}"><span
															class="link-icon"><i class="fa fa-suitcase fa-2x"></i></span>Part-Time Jobs</a></li>
												</ul>
											</div>
											<div class="col-md-4 col-sm-6">
												
											</div>
										</div>
									</div></li>

								<li class=" sub-menu "><a class=""
									href="{% url 'home:tryfree' 'standardPlan' %}">Try Free</a></li>
							</ul>
						</nav>
					</div>

					<!-- user -->
					<!-- start -->
					{% if not user.is_authenticated %}
					<div class="col-md-3 col-sm-3 col-xs-6 header-login">
						<a href="{% url 'home:login' %}">Log In</a> <a class="active"
							href="{% url 'home:signup' %}">Sign Up</a>
					</div>
					{% else %}
					
					<div class="col-md-3 col-sm-3 col-xs-6 mainmnu">	
						<nav>
							<ul class="nav navbar-nav navbar-right main-nav" >
								<li class="has-dropdown sub-menu profile">
									<a class="b-n" href="javascript:void(0)">{{ user.username }}</a>			
									<div class="dropdowns transparent-style" id="profile">
										<div class="container text-1 ">
											<div class="col-md-4 col-sm-6">
												<ul>
													<li><a  href="/labprofiles"><span class="link-icon"><img src="{% static 'home/images/icon1.png' %}" alt="" /></span>My Profile</a></li>
													<li><a href="{% url 'home:account_settings' %}"><span class="link-icon"><img src="{% static 'home/images/icon1.png' %}" alt="" /></span>Account Settings</a></li>								
												</ul>
											</div>
											<div class="col-md-4 col-sm-6">
												<ul>							
													<li><a href="/users/orderlist"><span class="link-icon"><img src="https://linuxjobber.com/images/icon1.png" alt="" /></span>Order List</a></li>
												</ul>
											</div>		
											<div class="col-md-4 col-sm-6">
												<ul>	
													<li><a href="{% url 'home:logout' %}"><span class="link-icon"><img src="{% static 'home/images/logout1.png' %}" alt="" /></span>Logout</a></li>
												</ul>
											</div>
											{%if workexp%}
											<div class="col-md-4 col-sm-6">
												<ul>	
													<li><a href="{% url 'home:workexprofile' %}"><span class="link-icon"><img src="{% static 'home/images/icon1.png' %}" alt="" /></span>Work Experience Profile</a></li>
												</ul>
											</div>
											{%endif%}
										</div>
									</div>	
								</li>
							
										
							</ul>	
						</nav>		
					</div>
					</div>
					

					{% endif %}

					<!-- Stop -->
				</div>
			</div>
		</div>
	</header>


	{% block content %} {% endblock %}


	<!--Footer-->
	<footer id="footer" class="footer">
		<section id="footer-lniks">
			<div class="row" id="footer-row">
				<div class="col-md-3 col-sm-6">
					<img src="{% static 'home/images/logo.png' %}">
				</div>

				<div class="col-md-3 col-sm-6">
					<h2>Quick Links</h2>
					<ul class="quick-links" style="margin-top: 26px; font-size: 16px;">

						<li><a href="{% url 'home:index' %}">Home</a></li>
						<li><a href="{% url 'home:resume' %}">Resume
								Services</a></li>
						<li><a href="{% url 'home:jobs' %}">Full-Time Jobs</a></li>
						<li><a href="{% url 'home:students_packages' %}">Student
								Packages</a></li>
						<li><a href="{% url 'home:server_service' %}">Server
								Services</a></li>
						<li><a href="{% url 'home:live_help' %}">Live
								help</a></li>
						<li><a href="{% url 'Projects:index' %}">Projects</a></li>
						<li><a href="{% url 'Courses:userinterest' %}">Course Descriptions</a></li>
					</ul>
				</div>


				<div class="col-md-3 col-sm-6">
					<ul class="quick-links2" style="margin-top: 26px; font-size: 16px;">
						<h2>&nbsp;</h2>
						<li><a href="{% url 'home:faq' %}">FAQ</a></li>
						<li><a href="{% url 'home:partime' %}">Part-Time Jobs</a></li>
						<li><a href="{% url 'home:group' %}">Group Class</a></li>
						<li><a href="{% url 'home:in_person_training' %}">In-Person
								Training</a></li>
						<li><a href="{% url 'home:workexperience' %}">Work
								Experience</a></li>
						<li><a href="{% url 'home:gainexperience' %}">Gain
								Experience</a></li>
						<li><a href="{% url 'home:jobplacements' %}">Job
								Placement Program</a></li>
					</ul>
				</div>


				<div class="col-md-3 col-sm-6">
					<h2>Company</h2>
					<ul class="quick-links2" style="margin-top: 26px; font-size: 16px;">
						<li><a href="{% url 'home:aboutus' %}">About US</a></li>
						<li><a href="{% url 'home:contact_us' %}">Contact Us</a></li>
						<li><a href="{% url 'home:policies' %}">Policies</a></li>
						<li><a href="{% url 'home:location' %}">Location</a></li>
					</ul>
				</div>
			</div>


		</section>
		<br> <br>
		<section class="footer-center text-center">
			<ul class="social-links">
				<li><a href="https://www.facebook.com/linuxjobber"><i
						class="fa fa-facebook fa-fw"></i></a></li>
				<li><a href="https://www.twitter.com/linuxjobber"><i
						class="fa fa-twitter fa-fw"></i></a></li>
				<li><a href="https://www.instagram.com/linuxjobber_/"><i class="fa fa-instagram fa-fw"></i></a></li>
				<li><a href="https://www.linkedin.com/company/linuxjobber"><i
						class="fa fa-linkedin fa-fw"></i></a></li>
				<li><a href="https://plus.google.com/u/1/104352481273501435159"><i class="fa fa-google-plus fa-fw"></i></a></li>
			</ul>
			<br> <br> ©{% now "Y" %} LinuxJobber Inc. All rights reserved
		</section>
	</footer>
	<!--/ Footer-->


	<script src="{% static 'home/css/newdesigner/js/bootstrap.min.js' %}"></script>
	<script async
		src="https://www.googletagmanager.com/gtag/js?id=UA-114043971-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-114043971-1');
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			var flag = 0;
			$(".sub-menu").hover(function() {
				$(".transparent-style").hide();
				$("#header").removeClass("result_hover");
			});
			$(".course").click(function() {

				$("#header").toggleClass("result_hover");
				$("#course").toggle();
			});
			$(".tool").click(function() {

				$("#header").toggleClass("result_hover");
				$("#tool").toggle();
			});

			$(".company").click(function() {

				$("#header").toggleClass("result_hover");
				$("#company").toggle();
			});

			$(".profile").click(function() {

				$("#header").toggleClass("result_hover");
				$("#profile").toggle();
			});

			$(".admin").click(function() {

				$("#header").toggleClass("result_hover");
				$("#admin").toggle();
			});

		});
	</script>
	<script src="{% static 'faq/js/jquery-2.1.1.js' %} "></script>
	<script src="{% static 'faq/js/jquery.mobile.custom.min.js' %} "></script>
	<script src="{% static 'faq/js/main.js' %} "></script>
	<script src="http://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="{% static 'js/waterbubble.js' %}"></script>

</body>
</html>
