{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Career Credit Form</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet"> 
        <link href="{% static 'home/careercredit/css/career_credit.css' %}" rel="stylesheet">
    </head>
    <body>
        <section class="form-nav">
            <div class="content content-pad">
                <nav class="nav">
                    <ul class="list">
                        <li><a href="/career_credit"><img src="{% static 'home/careercredit/images/logo.png' %}" /></a></li>
                        <li><a href="/career_credit" class="home-link">Home</a></li>
                    </ul>
                </nav>
            </div>
        </section>
        {% if messages %}
            <div class="message">
                {% for message in messages %}
                    {% if message.tags == "success" %}
                        <br><br>
                        <div class="alert alert-success" role="alert">
                            <p>{{ message }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% if form.errors %}
            <div class="message">
                <div class="alert alert-danger" role="alert">
                    <p>
                        <i class="fa fa-times-circle"></i>
                        {% for key, value in form.errors.items %}
                            {{ key }}:{{ value.as_text|slice:"2:" }}
                        {% endfor %}
                    </p>
                </div> 
            </div>
        {% endif %}
        <section class="form">
            <div class="content content-pad">
                <div class="head-section">
                    <div class="right">
                        <h3>Application Form</h3>
                        <p>Fill in the form below and continue</p>
                    </div>
                </div>
                <form class="career-form" method="post" action=".">
                    {% csrf_token %}
                    <div class="form-section">
                        <div class="title">
                            <h3>Section A</h3>
                            <p>We need your personal information</p>
                            <p>Fields with (*) are compulsoury</p>
                        </div>
                        <div class="fields">
                            <div class="wrapper">
                                <div class="row">
                                    <div class="item">
                                        <label>Last Name *</label>
                                        <input type="text" placeholder="John" name="last_name" 
                                            onkeyup="this.value=this.value.replace(/[^a-zA-Z\s]*$/,'');" required/>
                                    </div>
                                    <div class="item">
                                        <label>First Name *</label>
                                        <input type="text" placeholder="John" name="first_name" 
                                            onkeyup="this.value=this.value.replace(/[^a-zA-Z\s]*$/,'');" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper">
                                <div class="row">
                                    <div class="item">
                                        <label>Other Name</label>
                                        <input type="text" placeholder="John" name="other_name"
                                            onkeyup="this.value=this.value.replace(/[^a-zA-Z\s]*$/,'');" />
                                    </div>
                                    <div class="item">
                                        <label>Email Address *</label>
                                        <input type="email" placeholder="John@email.com" name="email" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper">
                                <div class="row">
                                    <div class="item">
                                        <label>Phone Number</label>
                                        <input type="text" placeholder="123456789" name="phone_number"
                                            onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" />
                                    </div>
                                    <div class="item">
                                        <label>University/College *</label>
                                        <input type="text" placeholder="University of Lagos" name="school" 
                                            onkeyup="this.value=this.value.replace(/[^a-zA-Z\s]*$/,'');" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper">
                                <div class="row">
                                    <div class="item">
                                        <label>Degree type currently pursuing *</label>
                                        <div class="select-style">
                                            <select name="degree_type" required>
                                                <option value="B.Sc">B.Sc</option>
                                                <option value="Master">Master</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <label>Course of Study *</label>
                                        <input type="text" placeholder="Computer science" name="course_of_study" 
                                            onkeyup="this.value=this.value.replace(/[^a-zA-Z\s]*$/,'');" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper">
                                <div class="row">
                                    <div class="item">
                                        <label>Graduating Year *</label>
                                        <div class="select-style">
                                            <select name="graduating_year" required>
                                                <option value="2020">2020</option>
                                                <option value="2021">2021</option>
                                                <option value="2022">2022</option>
                                                <option value="2023">2023</option>
                                                <option value="2024">2024</option>
                                                <option value="2025">2025</option>
                                                <option value="2026">2026</option>
                                                <option value="2027">2027</option>
                                                <option value="2028">2028</option>
                                                <option value="2029">2029</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="form-section">
                        <div class="title">
                            <h3>Section B</h3>
                            <p>We would need some refrence, 2 of your classmates and one of your lecturer/proffesor</p>
                        </div>
                        <div class="fields">
                            <div class="wrapper">
                                <div class="row">
                                    <div class="item">
                                        <label>First Classmate Full Name *</label>
                                        <input type="text" placeholder="John" name="first_classmate_fullname" 
                                            onkeyup="this.value=this.value.replace(/[^a-zA-Z\s]*$/,'');" required/>
                                    </div>
                                    <div class="item">
                                        <label>First Classmate Email Address *</label>
                                        <input type="email" placeholder="John@email.com" name="first_classmate_email" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper">
                                <div class="row">
                                    <div class="item">
                                        <label>Second Classmate Full Name *</label>
                                        <input type="text" placeholder="John" name="second_classmate_fullname" 
                                            onkeyup="this.value=this.value.replace(/[^a-zA-Z\s]*$/,'');" required/>
                                    </div>
                                    <div class="item">
                                        <label>Second Classmate Email Address *</label>
                                        <input type="email" placeholder="John@email.com" name="second_classmate_email" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper">
                                <div class="row">
                                    <div class="item">
                                        <label>Lecture/Proffessor Full Name *</label>
                                        <input type="text" placeholder="Prof. John" name="lecturer_fullname" 
                                            onkeyup="this.value=this.value.replace(/[^a-zA-Z\s]*$/,'');" required/>
                                    </div>
                                    <div class="item">
                                        <label>Lecture/Proffessor Email Address *</label>
                                        <input type="email" placeholder="profJohn@email.com" name="lecturer_email" required/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn" type="submit">submit application</button>
                </form>
            </div>
        </section>
        <footer>
            <div class="content content-pad">
                <div class="wrapper">
                    <div class="left">
                        <div class="site-info">
                            <a href="/career_credit"><img src="{% static 'home/careercredit/images/logo.png' %}" /></a>
                            <div class="address">
                                <p>7277 Corona Street Oak Ridge, TN 37830</p>
                            </div>
                        </div>
                        <ul class="links">
                            <li><a href="#">Apply now</a></li>
                            <li><a href="#">Benefits </a></li>
                            <li><a href="#">Application requirements</a></li>
                            <li><a href="#">LinuxJobber official website</a></li>
                            <li><a href="#">Privacy </a></li>
                        </ul>
                    </div>
                    <div class="right">
                        <ul class="more-link">
                            <li><a href="#">About </a></li>
                            <li><a href="#">Steps and process </a></li>
                            <li><a href="#">Internship status </a></li>
                            <li><a href="#">Frequently asked questions </a></li>
                            <li><a href="#">Terms and Condition </a></li>
                        </ul>
                        <ul class="contact">
                            <li>(+123) 456789012</li>
                            <li><a href="#">Info@careercredit.com </a></li>
                            <ul class="social">
                                <li>
                                    <a href="#">
                                        <img src="{% static 'home/careercredit/images/linkedin-logo.png' %}" /> 
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="{% static 'home/careercredit/images/facebook-logo.png' %}" /> 
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="{% static 'home/careercredit/images/twitter-logo.png' %}" /> 
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="{% static 'home/careercredit/images/instagram-logo.png' %}" /> 
                                    </a>
                                </li>
                            </ul>
                        </ul>
                    </div>
                </div>
                <div class="copy-right"><a href="#">© 2020 LinuxJobber INC.</a></div>
            </div>
        </footer>
        <script>
           // var select_style = document.getElementsByClassName("select-style");
            //for (i = 0; i < select_style.length; i++) {
               //let selElmnt = select_style[i].getElementsByTagName("select")[0]; 
               //select_style[i].addEventListener("click", function(e) {
                   //console.log('before select click');
                    
                   // let s = this.parentNode.parentNode.getElementsByTagName("select")[0];
                   // console.log(s);
                   // s.click();
              // });
            //}

            
        </script>
    </body>
</html>