{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Career Credit</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Cabin Sketch:300,400,500,700,900&display=swap" rel="stylesheet"> 
        <link href="{% static 'home/careercredit/css/career_credit.css' %}" rel="stylesheet">
    </head>
    <body>
        <section class="banner">
            <div class="content content-pad">
                <nav class="nav-bar">
                    <a href="#"><img src="{% static 'home/careercredit/images/logo.png' %}" /></a>
                    <a href="/career_credit_form" class="apply">Apply Now</a>
                </nav>
                <div class="info">
                    <h2>College Credits for Co-op Projects</h2>
                    <div class="detail">
                        <div class="wrapper">
                            <span class="left"></span>
                            <p class="right">
                                Career Credit offers you guaranteed Internship Before Graduation. what’s more? Get 3 College Credits for Internship and it is open to all college students
                            </p>
                        </div>
                    </div>
                    <div class="apply-now">
                        <a class="btn" href="/career_credit_form">Apply Now</a>
                        <a href="#learn-more" class="learn-more">
                            <span>Learn More</span>
                            <img src="{% static 'home/careercredit/images/pointer.png' %}"/>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="curve-line">
            <img src="{% static 'home/careercredit/images/curve_lines.png' %}" />
        </section>
        <section class="about-us">
            <div class="content content-pad">
                <div class="first-curve-container">
                    <div class="first-curve">
                        <img src="{% static 'home/careercredit/images/first_curve.png' %}"/>
                    </div>
                    <div class="overlay-content">
                        <div class="wrapper">
                            <div class="description">
                                <div class="who-we-are">
                                    <span class="left"></span>
                                    <div class="right">
                                        <h3>Who are we?</h3>
                                        <h4>This is who we are and what we do</h4>
                                        <p>
                                            <span>We are industry professionals working to bridge the gap between the programs offered 
                                            by academic institutions and the needs of the local companies. Our work builds on the existing
                                             curriculum of schools to help ensure that graduating students possess the skills
                                             that local employers are currently looking for by providing a simulation of internship
                                              to students prior to gradutation.</span>
                                        </p>
                                    </div>
                                </div>
                                <a class="btn" href="/career_credit_form">Apply Now</a>
                            </div>
                            <img class="image" src="{% static 'home/careercredit/images/student_tutor.png' %}"/>
                        </div>             
                    </div>
                </div>
            </div>
        </section>
        <section class="application-step" id="learn-more">
            <div class="content content-pad">
                <div class="app-step-bg">
                    <div class="top">
                        <div class="head">
                           <h3>What happens at Career Credit?</h3>
                           <h4>Intrested? This are the steps involved.</h4>
                        </div>
                        <div class="apply-btn">
                            <a class="btn" href="/career_credit_form">Apply Now</a>
                        </div>
                    </div>
                    <div class="steps">
                        <div class="item">
                            <div class="above">
                                <div class="image">
                                    <img src="{% static 'home/careercredit/images/list-icon.png' %}"/> 
                                </div>
                                <p>Apply to Program</p>
                                <p>Click the Apply Now button, fill out the application and wait for approval from Careercredit and your school.</p>
                            </div>
                            <div class="below">
                                <img src="{% static 'home/careercredit/images/arrow-icon.png' %}"/> 
                            </div>
                        </div>
                        <div class="item">
                            <div class="above">
                                <div class="image">
                                    <img src="{% static 'home/careercredit/images/group-icon.png' %}"/> 
                                </div>
                                <p>Begin Your Project</p>
                                <p>If both your school and careercredit approve your application, you'll receive work pertinent to your field of study.</p>
                            </div>
                            <div class="below">
                                <img src="{% static 'home/careercredit/images/arrow-icon.png' %}"/> 
                            </div>
                        </div>
                        <div class="item">
                            <div class="above">
                                <div class="image">
                                    <img src="{% static 'home/careercredit/images/coin-icon.png' %}"/> 
                                </div>
                                <p>Earn College Credits</p>
                                <p>If you successfully complete the work before the end of the semester, your school will grant you 3 credits.</p>
                            </div>
                            <div class="below">
                                <img src="{% static 'home/careercredit/images/arrow-icon.png' %}"/> 
                            </div>
                        </div>
                        <div class="item">
                            <div class="above">
                                <div class="image">
                                    <img src="{% static 'home/careercredit/images/badge-icon.png' %}"/> 
                                </div>
                                <p>Earn Your Certificate</p>
                                <p>You will also receive a certificate of CareerWork completion from CareerCredit at the end of the semester.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="what-more">
            <div class="content content-pad">
                <div class="bg">
                    <div class="wrapper">
                        <div class="less">
                            <h3> What More?</h3>
                            <p>other benefits of interning with Career Credit</p>
                            <div class="line">
                                <span></span>
                            </div>
                        </div>
                        <div class="more">
                            <div class="coin-row">
                                <div class="coin-card">
                                <img src="{% static 'home/careercredit/images/coin-card.png' %}"/>
                                <p>Include this experience in your resume</p> 
                                </div>
                                <div class="coin-card">
                                <img src="{% static 'home/careercredit/images/coin-card.png' %}"/>
                                <p>Replaces an elective course in your program</p> 
                                </div>
                                <div class="coin-card">
                                <img src="{% static 'home/careercredit/images/coin-card.png' %}"/>
                                <p>Earned credits useful towards your degree</p> 
                                </div>
                            </div>
                            <div class="coin-row">
                                <div class="coin-card">
                                <img src="{% static 'home/careercredit/images/coin-card.png' %}"/>
                                <p>See the technologies that local companies are using</p> 
                                </div>
                                <div class="coin-card">
                                <img src="{% static 'home/careercredit/images/coin-card.png' %}"/>
                                <p>Know which skillsets your local companies need</p> 
                                </div>
                                <div class="coin-card">
                                <img src="{% static 'home/careercredit/images/coin-card.png' %}"/>
                                <p>Strong alumni network helping you to succeed </p> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="who-can-apply">
            <div class="content content-pad">
                <div class="bg">
                    <div class="left">
                        <div class="wrapper">
                            <div class="side-line">
                                <div class="eligible">
                                    <h3>Who Can Apply?<h3>
                                    <p>Who we want at Career Credit</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="head">
                            <h3>A student in the final or penultimate year or a recent graduate of and university in the United States. And major in the following field or course of study</h3>
                        </div>
                        <div class="course">
                            <ul>
                                <li>Computer Science</li>
                                <li>Computer Engineering </li>
                                <li>Software Engineering </li>
                                <li>Systems Engineering</li>
                                <li>Cloud Administration</li>
                            </ul>
                            <ul>
                                <li>Information Systems</li>
                                <li>Cyber Security</li>
                                <li>Web Development</li>
                                <li>Database Management</li>
                                <li>Cloud Architecture</li>
                            </ul>
                        </div>
                        <a class="btn" href="/career_credit_form">Apply Now</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="forth-curve">
            <div class="content content-pad"><div class="bg"></div></div>
        </section>
        <section class="app-open-now">
            <div class="content content-pad">
                <div class="bg">
                    <div class="now-bg">
                        <div class="center">
                            <img src="{% static 'home/careercredit/images/open-icon.png' %}"/> 
                            <h2>2020 Apllications are now open!</h2>
                            <p>Applications are open for all interships positions and would close on 1st of August 2020. Follow @careercredit to stay up to date on when and how to apply</p>
                            <a class="btn" href="/career_credit_form">Apply Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="faq">
            <div class="content content-pad">
                <div class="wrapper">
                    <div class="right">
                        <div class="head">
                            <h3>Frequently Asked Questions</h3>
                            <p>need more answers?</p>
                        </div>
                        <ul class="list">
                            <li class="item">
                                <a href="javascript:void(0);" class="accordion">
                                    When will I have access to the lectures and assignments? 
                                </a>
                                <div class="answer">
                                    <p>Once you enroll for a Certificate, you’ll have access to all videos, quizzes, and programming assignments (if applicable). Peer review assignments can only be submitted and reviewed once your session has begun. If you choose to explore the course without purchasing, you may not be able to access certain assignments.</p>
                                </div>
                            </li>
                            <li class="item">
                                <a href="javascript:void(0);" class="accordion">
                                    Do I have to make any payment to apply?
                                </a>
                                <div class="answer">
                                    <p> No, this is a free program to help both the students and the companies. There is no charge whatsoever for this program.</p>
                                </div>
                            </li>
                            <li class="item">
                                <a href="javascript:void(0);" class="accordion">
                                    Does my school participate in this program?
                                </a>
                                <div class="answer">
                                    <p>This is checked at application time. If your school is not on the list, a request will be sent to them.</p>
                                </div>
                            </li>
                            <li class="item">
                                <a href="javascript:void(0);" class="accordion">
                                    When will I have access to the lectures and assignments? 
                                </a>
                                <div class="answer">
                                    <p>Once you enroll for a Certificate, you’ll have access to all videos, quizzes, and programming assignments (if applicable). Peer review assignments can only be submitted and reviewed once your session has begun. If you choose to explore the course without purchasing, you may not be able to access certain assignments.</p>
                                </div>
                            </li>
                            <li class="item">
                                <a href="javascript:void(0);" class="accordion">
                                    When will I have access to the lectures and assignments? 
                                </a>
                                <div class="answer">
                                    <p>Once you enroll for a Certificate, you’ll have access to all videos, quizzes, and programming assignments (if applicable). Peer review assignments can only be submitted and reviewed once your session has begun. If you choose to explore the course without purchasing, you may not be able to access certain assignments.</p>
                                </div>
                            </li>
                            <li class="item">
                                <a href="javascript:void(0);" class="accordion">
                                    When will I have access to the lectures and assignments? 
                                </a>
                                <div class="answer">
                                    <p>Once you enroll for a Certificate, you’ll have access to all videos, quizzes, and programming assignments (if applicable). Peer review assignments can only be submitted and reviewed once your session has begun. If you choose to explore the course without purchasing, you may not be able to access certain assignments.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="content content-pad">
                <div class="wrapper">
                    <div class="left">
                        <div class="site-info">
                            <a href="#"><img src="{% static 'home/careercredit/images/logo.png' %}" /></a>
                            <div class="address">
                                <p>7277 Corona Street Oak Ridge, TN 37830</p>
                            </div>
                        </div>
                        <ul class="links">
                            <li><a href="#">Apply now</a></li>
                            <li><a href="#">Benefits </a></li>
                            <li><a href="#">Application requirements</a></li>
                            <li><a href="#">LinuxJobber official website</a></li>
                            <li><a href="#">Privacy </a></li>
                        </ul>
                    </div>
                    <div class="right">
                        <ul class="more-link">
                            <li><a href="#">About </a></li>
                            <li><a href="#">Steps and process </a></li>
                            <li><a href="#">Internship status </a></li>
                            <li><a href="#">Frequently asked questions </a></li>
                            <li><a href="#">Terms and Condition </a></li>
                        </ul>
                        <ul class="contact">
                            <li>(+123) 456789012</li>
                            <li><a href="#">Info@careercredit.com </a></li>
                            <ul class="social">
                                <li>
                                    <a href="#">
                                        <img src="{% static 'home/careercredit/images/linkedin-logo.png' %}" /> 
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="{% static 'home/careercredit/images/facebook-logo.png' %}" /> 
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="{% static 'home/careercredit/images/twitter-logo.png' %}" /> 
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="{% static 'home/careercredit/images/instagram-logo.png' %}" /> 
                                    </a>
                                </li>
                            </ul>
                        </ul>
                    </div>
                </div>
                <div class="copy-right"><a href="#">© 2020 LinuxJobber INC.</a></div>
            </div>
        </footer>
        <script>
            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function() {
                
                    //this.classList.toggle("active");
                    this.classList.toggle("open-faq-item");

                    var panel = this.nextElementSibling;
                    if (panel.style.display === "flex") {
                        panel.style.display = "none";
                    } else {
                        panel.style.display = "flex";
                    }
                });
            }

            var acc = document.getElementsByClassName("accordion");
            acc[0].click()
        </script>
    </body>
</html>
