{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Career Credit Form</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet"> 
        <link href="{% static 'home/careercredit/css/career_credit.css' %}" rel="stylesheet">
    </head>
    <body>
        <section class="form-nav">
            <div class="content">
                <nav class="nav">
                    <ul class="list">
                        <li><a href="#"><img src="{% static 'home/careercredit/images/logo.png' %}" /></a></li>
                        <li><a href="#">Home</a></li>
                    </ul>
                </nav>
            </div>
        </section>
    </body>
</html>