{% extends 'home/base.html' %}

{% block title %}
Combined///
{% endblock %}

{% load staticfiles %}
{% block external_header %}
    <link rel="stylesheet" href="{% static 'home/css/cm.css' %}">
{% endblock %}

{% load staticfiles %}
{% block content %}

    <section class="bgimage">
        <div class="overlay-color">
        <div class="container-fluid">
                <div class="col-md-8 col-md-offset-2">
                    <h1>Combined training</h1>
                    <p>Pay once for "Technical Training" <br> and "Work experience"</p>
                       <div align="center">
                           <a class=" anbtn btn btn-md">Let's begin </a>
                           <a class="lnmr btn btn-md">Learn more</a>
                        </div>
                    </div>
             </div>
        </div>
      </section>

      <div class=" container text-2">
        <h1>Combined training</h1>
         <p>offers both Technical Training and work experience</p>
      </div>



          <div class="slanteda">
                <div class="row">
                      <div class="col-md-6">
                          <div class="icon1">
                              <img src="{% static 'home/images/Group37.png' %}">
                          </div>

                </div>
                    <div class="vl hidden-sm hidden-xs"></div>
                <div class="col-md-6">
                      <div class="icon2">
                          <h1>Technical training</h1>
                          <p>Choose between Linux, Aws and DevOps to learn </p>
                          <h5 class="courses"><strong>These courses cover everything from</strong></h5>
                          <ul>
                                <li>Command-line</li>
                                <li>Shell scripting to setting up basic servers/li>
                                <li>Touches the core areas of Linux Administration</li>
                                <li>Amazon services such as computing, storage, networking, database,
                                     analytics, application services, deployment, management, mobile, d
                                     eveloper tools and tools for Internet of Things.</li>
                          </ul>
                      </div>
          </div>
            </div>
            <div class="clearfix"></div>
            <div class="row line2">

            <div class="col-md-6">
                  <div class="icon2">
                      <h1>Get work experience</h1>
                      <h5>The Work experience programme which is a 3 month program. You will engage with our team as if they work
                          for our company and by so doing, understand the development process and work culture.  </h5>
                          <h5>
                                The programme is 100% online and our meetings are Mondays - Fridays, 20 minutes each day.</h5>
                  </div>
      </div>
                <div class="v2 hidden-sm hidden-xs"></div>
                  <div class="col-md-6">
                      <div class="icon1">
                          <img src="{% static 'home/images/Group.png' %}">
                      </div>

            </div>


        </div><br>
        <div class="clearfix"></div>

        <div class="row jar">
            <h1 class="text-center"><strong>CHOOSE A COURSE</strong></h1>
            <div class="col-md-10 col-md-offset-1 col-xs-offset-3">
            <div class="com col-md-4 col-sm-8 col-xs-6">
                <div class="card">
                        <h3> Linux</h3>
                        <p class="large"><span class="sup">$</span>399</p>
                        <p class="lead">+ 14% of 2 years salary when you get a tech job</p>

                        <hr>
                   <table class="cmb-table">

                           <tr height="40">
                             <td width="95%">Technical training </td>
                               <td> <span class="fa fa-check"></span> </td>
                           </tr>
                           <tr>
                             <td>Work experiance</td>
                             <td> <span class="fa fa-check"></span> </td>
                           </tr>
                         </table>
                </div>
            </div>
            <div class="com col-md-4 col-sm-8 col-xs-6">
                <div class="card">
                        <h3> AWS</h3>
                        <p class="large"><span class="sup">$</span>399</p>
                        <p class="lead">+ 14% of 2 years salary when you get a tech job</p>

                        <hr>
                   <table class="cmb-table">

                           <tr height="40">
                             <td width="95%">Technical training </td>
                               <td> <span class="fa fa-check"></span> </td>
                           </tr>
                           <tr>
                             <td>Work experiance</td>
                             <td> <span class="fa fa-check"></span> </td>
                           </tr>
                         </table>
                </div>
            </div>
            <div class="com col-md-4 col-sm-8 col-xs-6">
                <div class="card">
                   <h3> DevOps</h3>
                   <p class="large"><span class="sup">$</span>399</p>
                   <p class="lead">+ 14% of 2 years salary when you get a tech job</p>

                   <hr>
                   <table class="cmb-table">

                           <tr height="40">
                             <td width="95%">Technical training </td>
                               <td> <span class="fa fa-check"></span> </td>
                           </tr>
                           <tr>
                             <td>Work experiance</td>
                             <td> <span class="fa fa-check"></span> </td>
                           </tr>
                         </table>
                </div>
            </div>
        </div>
        <div class="col-md-12 last">
            <a class="bnbtn btn btn-md text-center">Apply now </a>
        </div>
        </div>
            </div>


{% endblock %}