{% extends 'home/base.html' %}
{% block title %}
Success | Linuxjobber
{% endblock %}
{% block content %}


<div class="req" role="listbox">
    <div class=" text-center projs" >

    </div>
</div>
<br>
<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8 modal-content">
		<br>
		<h2>Combined Class</h2>
		<hr>
		<div class="alert alert-success">
			<span>Congratulations, you have successfully subscribed to our combined class package.</span>
            <hr>
                      <span>Two more steps,
           <ul>
               <li><a target="_blank" class="text-danger" href="https://leif.org/commit?product_id=5cd87d84d21acb0cd12e270b">1. Proceed to agreement </a> </li>
               <li><a class="text-danger" href="{% url 'home:workexpform' %}">2. Complete the program's form here </a> </li>
           </ul>
            </span>
        </div>
			<!--<p class="req-p space1">Please Note</p>
		<ul>
			<li>- To verify authorization to work in the United States, the agreement requires Social Security Number.</li>
			<li>- To verify registrant identity, the agreement requires Bank Information.</li>
		</ul>
		<br>-->
		<div class="sldbtnd">
		<a href="{% url 'home:index' %}" class="btn btn-primary get">Return to home</a>
		</div>
		<br><br>

		</div>
		<div class="col-md-2"></div>
	</div>
</div>
<br><br>

{% endblock %}