{% extends 'home/base.html' %}

{% block title %}
Combined Class | Linuxjobber
{% endblock %}

{% load staticfiles %}
{% block external_header %}
    <link rel="stylesheet " href="{% static 'home/css/cm.css' %}">
{% endblock %}

{% load staticfiles %}
{% block content %}
    <style>
        .combi{
          text-align: left;
        }

    </style>


<div class="combinedblueban"></div>
    <div class="bgimagenew">
        <div class="bgtopper container">
            <div class="row">
                <div class="col-md-4">
                  <div class="combi combim">
                      <h1>Combined Training</h1>
                      <div class="combi-but">
                         {% if request.user.is_authenticated %}
                          <a class="btn bgimagenewbut " id="bgbtn">Apply Now</a>
                          {%else%}
                          <a class="btn bgimagenewbut " href="{% url 'home:login' %}?next=/combined_class/">Apply Now</a>
                          {%endif%}
                      </div>
                  </div>
                    
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="combisecleft">
                    <p>Acquire both “Technical Training” <br>and “Work Experience” at a go!</p>
                    <div class="combi-right">
                      {% if request.user.is_authenticated %}
                      <a class="btn bgimagenewbut " id="bgbtn2">Apply Now</a>
                      {%else%}
                      <a class="btn bgimagenewbut " href="{% url 'home:login' %}?next=/combined_class/">Apply Now</a>
                      {%endif%}
                    </div>
                    </div>
                </div>
            </div>

        </div>
      </div>
    <div class="container">
      <div class="com1">
            <div class="text-center">
                <h1 class="combinedh1">What is Combined Training?</h1>
                <p class="combinedp1">Basically, this program allows you obtain two trainings, “<span class="combinedp1span">Technical Training</span>” and “<span class="combinedp1span">Work Experience</span>” under one package.</p>
            </div>
    
            <div class="row combinedsec2">
                <div class="col-md-5">
                <div class="combinedsec2right">
                    <p class="combinedp2">For Technical Training</p><br>
                    <p style="color: #808080; font-size:12px;">Choose between Linux, AWS and DevOps to learn: These courses covers everything from:</p><br>
                    <div class="icon3" dir="rtl">
                      <ul>
                      <li>Command-line</li><br>
                      <li>Touches the core areas of Linux Administration</li><br>
                      <li>Shell scripting to setting up basic servers</li><br>
                      <li style="margin-left:-5px;">Amazon services such as computing, storage, networking, database,analytics, application services, deployment, management, mobile, developer tools, and tools for the Internet of Things.</li><br>
                      </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
              <div class="combimg text-center">
                <img src="{% static 'home/images/chain.png' %}">
              </div>
            </div>
            <div class="col-md-5">
                <div>
                    <p class="combinedp2">For Work Experience</p><br>
                    <p  style="color: #808080; font-size:12px;">The Work experience programme which is a 3 month program. You will</p><br>
                    <div class="icon2">
                    <ul>
                    <li>Work closely with our experienced development team and build experience.</li><br>
                    <li>Learn with the most current technologies used in today’s workplace.</li><br>
                    <li>We maintain Work History Record for each trainee, as proof of tasks accomplished and tender for employment purposes.</li><br>
                    <li>The training is totally remote.</li><br>
                    </ul>
                    </div>
                </div>
            </div>
            </div>
            <div class="text-center">
                <p class="combinedp1">Combination of the two programs into one is “<span class="combinedp1span">Combined Tranining</span>”</p>
                {% if request.user.is_authenticated %}
                <button class="btn-lg btn-blackbim" id="bgbtn4">Apply Now</button>
                {%else%}
                <a class="btn btn-blackbim2 " href="{% url 'home:login' %}?next=/combined_class/">Apply Now</a>
                {%endif%}
            </div>
        </div>
        <br><br>
        <div class="com2">
            <div class="text-center pastg">
                <h1 class="combinedh1">Past Graduates</h1>
                <p class="combinedp1">Photos and certificates from some of our previous graduates of <span class="combinedp1span">Combined Training</span></p>
            </div>
            <div class="row">
                <div class="col-md-3">
                <div class="combcert1">
                  <img class="combcert1" style="margin-left:20px;" src="{% static 'home/images/samson.png' %}">
                </div>
                </div>
                <div class="col-md-3">
                <div class="combcert1">
                  <img class="combcert1" style="margin-left:20px;" src="{% static 'home/images/ayocert.png' %}">
                </div>
                </div>
                <div class="col-md-2">
                <div class="combcert1">
                  <img class="combcert1" style="margin-left:25px;" src="{% static 'home/images/adeniyi.png' %}">
                </div>
                </div>
                <div class="col-md-4">
                {% if request.user.is_authenticated %}
                <a href="#payment">
                {%else%}
                <a href="{% url 'home:login' %}?next=/combined_class/#payment">
                {%endif%}
                <div class="combcert1">
                  <img class="combcert1" style="margin-left:20px;" src="{% static 'home/images/joinsus.png' %}">
                </div>
                </a>
                </div>
            </div>
            <div class="text-center">
                {% if request.user.is_authenticated %}
                  <button class="btn-lg btn-blackbim" id="bgbtn3">Apply Now</button>
                {%else%}
                  <a class="btn btn-blackbim2 " href="{% url 'home:login' %}?next=/combined_class/">Apply Now</a>
                {%endif%}
            </div>
        </div>
      <br><br>
      
      {% if request.user.is_authenticated %}
      <div class="com3" id="payment">
          <div class="text-center">
            <p class="combinedh12">CHOOSE A COURSE</p>
          </div>
          <div class="row">
            <div class="col-md-4" class="ctest1">
              <div class="comcourse" style="margin-left:80px;" id="type1">
                  <div class="text-center">
                    <p class="comcor1">Linux</p><br>
                   <span class="comprice"> <sup class="comprice1">$</sup>399</span>
                  </div>
                  <div class="row">
                    <div class="col-md-8"><p>Technical training</p></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2"><span class="glyphicon glyphicon-ok corr"></span> </div>
                  </div>
                  <br>
                  <div class="text-center">
                    <p class="combplus">+</p>
                  </div>
                  <br>
                  <div class="text-center">
                   <span class="comprice"> <sup class="comprice1">$</sup>399</span>
                  </div>
                  <div class="row">
                    <div class="col-md-8"><p>Work experience</p></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2"><span class="glyphicon glyphicon-ok corr"></span> </div>
                  </div>
                  <hr><br>
                  <div class="text-center text-muted">
                    <p>+ 14% of 2 years salary when<br>you get a tech job</p>
                  </div>
              </div>
            </div>
            <div class="col-md-4" class="ctest2">
              <div class="comcourse" style="margin-left:50px;" id="type2">
                  <div class="text-center">
                    <p class="comcor1">AWS</p><br>
                   <span class="comprice"> <sup class="comprice1">$</sup>399</span>
                  </div>
                  <div class="row">
                    <div class="col-md-8"><p class="comcp1">Technical training</p></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2"><span class="glyphicon glyphicon-ok corr"></span> </div>
                  </div>
                  <br>
                  <div class="text-center">
                    <p class="combplus">+</p>
                  </div>
                  <br>
                  <div class="text-center">
                   <span class="comprice"> <sup class="comprice1">$</sup>399</span>
                  </div>
                  <div class="row">
                    <div class="col-md-8"><p>Work experience</p></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2"><span class="glyphicon glyphicon-ok corr"></span> </div>
                  </div>
                  <hr><br>
                  <div class="text-center text-muted">
                    <p>+ 14% of 2 years salary when<br>you get a tech job</p>
                  </div>
              </div>
            </div>
            <div class="col-md-4" class="ctest3">
              <div class="comcourse" style="margin-left:5px;" id="type3">
                  <div class="text-center">
                    <p class="comcor1">DevOps</p><br>
                   <span class="comprice"> <sup class="comprice1">$</sup>399</span>
                  </div>
                  <div class="row">
                    <div class="col-md-8"><p>Technical training</p></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2"><span class="glyphicon glyphicon-ok corr"></span> </div>
                  </div>
                  <br>
                  <div class="text-center">
                    <p class="combplus">+</p>
                  </div>
                  <br>
                  <div class="text-center">
                   <span class="comprice"> <sup class="comprice1">$</sup>399</span>
                  </div>
                  <div class="row">
                    <div class="col-md-8"><p>Work experience</p></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2"><span class="glyphicon glyphicon-ok corr"></span> </div>
                  </div>
                  <hr><br>
                  <div class="text-center text-muted">
                    <p>+ 14% of 2 years salary when<br>you get a tech job</p>
                  </div>
              </div>
            </div>
          </div>
          <div class="text-center">
                <form action="{% url 'home:combined_class_terms' %}">
                <input hidden name="course_picked" id="course_picked">
                <button class="btn-lg btn-blackbim" id="proceedbtn">Apply Now</button>
                </form>
            </div>
            <br><br>
        </div>
        {%endif%}
    </div>


<script>

 $('#proceedbtn').hide();
            $(".lmbtn").click(function() {
    $('html,body').animate({
        scrollTop: $("#info").offset().top},
        'slow');
});


$("#bgbtn").click(function() {
    $('html,body').animate({
        scrollTop: $("#payment").offset().top},
        'slow');
});

$("#bgbtn2").click(function() {
    $('html,body').animate({
        scrollTop: $("#payment").offset().top},
        'slow');
});

$("#bgbtn3").click(function() {
    $('html,body').animate({
        scrollTop: $("#payment").offset().top},
        'slow');
});

$("#bgbtn4").click(function() {
    $('html,body').animate({
        scrollTop: $("#payment").offset().top},
        'slow');
});


$('#type1').click(function(){
    $('#type1').css({
      'background': '#4975B1',
      'transition-delay': '0.1s',
      '-webkit-transition-delay': '0.1s',
      'transition-duration': '0.5s'
    });

    $('#course_picked').val('1');
    $('#proceedbtn').show();

    $('#type2').css({
      'background': '#FFFFFF',
      'color': 'black'
    });
        $('#type3').css({
      'background': '#FFFFFF',
      'color': 'black'
    });
  });

var type2 =  $('#type2');
  type2.click(function(){
    $('#type2').css({
      'background': '#4975B1',
      'transition-delay': '0.1s',
      '-webkit-transition-delay': '0.1s',
      'transition-duration': '0.5s'
    });

    $('#course_picked').val('2');
    $('#proceedbtn').show();

    $('#type1').css({
      'background': '#FFFFFF',
      'color': 'black'
    });
        $('#type3').css({
      'background': '#FFFFFF',
      'color': 'black'
    });
  });

var type3= $('#type3');
  type3.click(function(){
    $('#type3').css({
      'background': '#4975B1',
      'transition-delay': '0.1s',
      '-webkit-transition-delay': '0.1s',
      'transition-duration': '0.5s'
    });

    $('#course_picked').val('3');
    $('#proceedbtn').show();


    $('#type2').css({
      'background': '#FFFFFF',
      'color': 'black'
    });
        $('#type1').css({
      'background': '#FFFFFF',
      'color': 'black'
    });
  });




</script>
{% endblock %}