{% extends 'home/base.html' %}
{% load staticfiles%}
{% block title %}
  Group Class | Linuxjobber
{% endblock %}

{% block content %}
<style type="text/css">
.groupschedh{
    font-size: 500px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.groupschedh:before,
.groupschedh:after {
    content: '';
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

.groupschedh:after {
    margin: 0 0 0 20px;
}

.hrgroup{
  font-size: 36px;
  font-style: normal;
  font-weight: 200;
  letter-spacing: 0.25em;
}
 
  sup{
    font-size: 35px;
  } 
  .mouse-overlay{
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    border:2px solid rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .groupcard span.icon{
    font-size:40px;
    margin-left: 20px;
    visibility:hidden;
  }

  .groupdate {
    margin-top: 20px;
  }
  .groupdate .starts{
    margin-top:-2em;
  }
</style>

<div class="groupblueban">
</div>
<div class="groupblueban2">

  <div class="container">
        <div class="col-md-6">
          <h1 class="groupblueban2h">Join Others<span class="jobdot"></span><br>Enjoy a Collaborative Class<span class="jobdot"></span></h1><br>
          <p class="groupblueban2p">Register today to learn the best of programming from world class tutors around the world. Earn certificates by completing our courses and increase your chance of getting a job</p>
          <br><br>
          <a href="#gsched" class="btn groupclabut">ENROLL NOW</a>
        </div>
  </div>
  
</div>


<div class="container">
  {% if messages %}
    {% for message in messages %}
      {% if message.tags == "success" %}
      <div class="alert alert-success" role="alert">
      <p style="color:#155724">{{message}}</p>
    </div>
      {%else%}
      <div class="alert alert-danger" role="alert">
      <p style="color:#721c24">{{message}}</p>
      </div>
      {%endif%}
    {% endfor %}
  {% endif %}
  <form method="post" action="" id="formd">
  {% csrf_token %}
  <div class="groupsched" id="gsched">
    <div>
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="text-center">
        <p class="groupschedh"><span class="hrgroup">Class Schedule</span></p>
        <br>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
      <div class="row">
        {%for group in groups%}
        <div class="col-md-4">

          {% if request.user not in group.users.all %}
          <div class="groupcard1 groupcard nothover{{group.id}}">
          {%else%}
          <div class="groupcard1 groupcard">
          {%endif%}
            <br><b>class:</b><br>
            <b><span>{{group.name}}</span></b><br><br>
            {% if request.user not in group.users.all %}
                <span  class="icon title{{group.id}}">
                  <i class="fa fa-check"></i>
                </span>
            {% endif %}
            <div class="groupdate" style="">
              {% if request.user not in group.users.all %}
                <div class="starts">
                  starts:<br>
                  <b>{{group.start_date}}</b>
                </div>
              {%else%}
                {{group.class_meet}}<br>
                {% if request.user not in group.deleted.all %}
                <a href="{{ GROUP_URL }}{{ group.id }}?hash={{token}}" class="btn groupclabut2">Go To Class</a>
                {%else%}
                <a href="{{ GROUP_URL }}{{ group.id }}" class="btn groupclabut2">Go To Class</a>
                {%endif%}
              {%endif%}
            </div>
          </div>
          <div class="groupcard1 groupcard hov hover{{group.id}}">
            <br><b><span>{{group.name}}</span></b><br>Description of course and some other info
            <div class="text-muted">{{group.start_date}}<br>{{group.duration}}<br>{{group.class_meet}}<br>{{group.type_of_class}}</div>
            <div class="pull-right"><button type="button" class="btn butg groupclabut2 but{{group.id}}">Enroll Now</button></div>
            {% comment %} <br> {% endcomment %}
            <span class="icon description{{group.id}}">
              <i class="fa fa-check"></i>
            </span>
          </div>
        </div>
        {%endfor%}
      </div>
  </div>
  <div class="grouppaytype">
    <div>
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="text-center">
        <p class="groupschedh"><span class="hrgroup">Choose Plan</span></p>
        <br>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <div class="grouppaycard" id="g1">
          <div class="show-click hidden">
          </div>
          <div class="text-center">
            <span>Monthly</span><br>
            <span class="groupamount"><sup>$</sup>29</span><br><br>
            <div class="text-muted">Billed monthly</div><br>
            <hr><br>
            Access this course videos <span class="glyphicon glyphicon-ok corr"></span><br>
            Access other course videos <span class="glyphicon glyphicon-ok corr"></span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="grouppaycard" id="g2">
          <div class="show-click hidden">
          </div>
          <div class="text-center">
            <span>One-Time</span><br>
            <span class="groupamount"><sup>$</sup><span id="amount"> </span> </span><br><br>
            <div class="text-muted">Billed once</div><br>
            <hr><br>
            Access this course videos <span class="glyphicon glyphicon-ok corr"></span><br>
            <div class="text-muted">Access other course videos <span class="glyphicon glyphicon-remove wron"></span></div> 
          </div>    
        </div>
      </div>
      <div class="col-md-3"></div>
      
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
      <div class="text-center">
        <input type="text" name="choice" id="subtype" hidden>
        <input type="text" name="grouptype" id="grouptype" hidden>
        {% if not request.user.is_authenticated %}

         <input type="text"  class="form-control groupinput" placeholder="Fullname" name="fullname" id="fullname" required><br>
         <input type="email" class="form-control groupinput"  placeholder="E-mail" name="email" id="email" required><br>
         <input type="password" class="form-control groupinput"  placeholder="password" name="password" id="password" required><br>
        {%else%}

          <input type="text"  class="form-control groupinput" placeholder="Fullname" name="fullname" id="fullname" value="{{request.user.get_full_name}}" readonly="readonly"><br>
          <input type="email" class="form-control groupinput"  placeholder="E-mail" name="email" id="email" value="{{request.user.email}}" readonly="readonly"><br>
        {%endif%}
         <button type="submit" class="btn groupclabut">REGISTER NOW</button><br><br>
         <div class="alert-danger grouppay"><br>Please choose payment plan above.<br><br></div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
  </div>
</form>
  <div class="groupwhy">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="text-center">
        <p class="groupschedh"><span class="hrgroup">Why Join Group Class ?</span></p>
        <br>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div><br>
    <div class="pull-left">
        <br><br>
        <img src="{% static '/home/css/newhomepage/imgs/groupicon3.png' %}"><br><br>
        <b><span>Participants Have a Common Goal</span></b>
        <div>
          In a group class, all the participants are focused on achieving the same goal and they typically have<br> similar background so learning is easier and collaboration with other members often yield better results.
        </div>
        <br>
        <a href="#gsched" class="btn groupclabut">ENROLL NOW</a>
        <br>
    </div>
    <div class="pull-right" style="text-align:right;">
        <img src="{% static '/home/css/newhomepage/imgs/groupicon2.png' %}"><br><br>
        <b><span>Learning + Networking + Socializing.</span></b>
        <div>
          The group works together on the hands-on tasks and every individual is free to contribute as much as he or she is<br> willing to contribute. This encourages talking, learning, explaining, and knowledge sharing from all participants.
        </div>
        <br>
        <a href="#gsched" class="btn groupclabut">ENROLL NOW</a>
        <br>
    </div>
    <div class="pull-left">
        <br><br>
        <img src="{% static '/home/css/newhomepage/imgs/groupicon1.png' %}"><br><br>
        <b><span>Team Motivation = Success</span></b>
        <div>
          You will be inspired by other teammates who are accomplishing tasks and that is usually sufficient to motivate most people to<br> get involved, take learning steps, and perform practical tasks that will lead to successsful completion of the online course
        </div>
        <br>
        <a href="#gsched" class="btn groupclabut">ENROLL NOW</a>
        <br>
    </div>
    <br>
    
  </div>
</div>
<br>
  <div class="grouptesti">
    
    <div class="container">
      <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="text-center">
        <p class="groupschedh"><span class="hrgroup">What People Are Saying ?</span></p>
        <br>
        </div>
      </div>
      <div class="col-md-1"></div>
      </div>
      <div class="row">
      <div class="col-md-4">
        <div class="grouptestcard">
          “While trying to learn Linux, I tried many online services and the only strategy that worked for me is this group class. Here, I felt more like I was participating in fun activities than I was left alone in a study room.”
          <br><br>
          <b>Anderson Ken</b><br>
          <div class="text-muted">Linux Admin</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="grouptestcard">
          “I learned a lot from my group members because I did not have any technical experience. They really helped me”
          <br><br><br><br>
          <b>Ionnetta Mbogo</b><br>
          <div class="text-muted">Developer</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="grouptestcard">
          “I recommend the group class to anyone that is considering online class. The experience is very different from studying alone. For every module, someone in my group has an answer and they are always reachable.”
          <br><br>
          <b>Allison Wright</b>
          <div class="text-muted">Student</div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="groupbottom">
    <div class="container">
      <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <br><br><br><br>
        <div class="text-center">
        <span>Work with a group where everyone is just like you. Get motivated by the group members.</span>
        <br><br>
          <a href="#gsched" class="btn groupclabut">ENROLL NOW</a>
        </div>
      </div>
      <div class="col-md-3"></div>
      </div>
  </div>
</div>
<script type="text/javascript">
   $('.hov').hide();
   $('.gstat').hide();
   $('.grouppaytype').hide();
   $('.grouppay').hide();

  {% if request.user.is_authenticated %}
    {%if request.user.role == 3%}
        $('#subtype').val('2');
        $('#g1').hide();
        $('#g2').hide();
        $('.groupschedh').hide();
    {%endif%}
  {%endif%}

  $('#formd').submit(function() {
    if ($('#subtype').val() === "" ){
      $('.grouppay').show();
      return false;
    }
    
  });

  let iconIsActive = null
  {%for group in groups%}

  $('.nothover{{group.id}}').hover(
      function() {
        var $this = $(this); // caching $(this)
        $this.data('initialText', $this.html());
        $this.html($('.hover{{group.id}}').html());
        
        $('.but{{group.id}}').click(function(){
          $('.butg').text('Enroll Now');
          $('.but{{group.id}}').text('Selected');

          var item  = $('#amount');
            item.text({{ group.price }});
            item.css({
                'font-size':72
            })


          $('.groupcard').css({
            'color': '#fff'
          });
          $('.nothover{{group.id}}').css({
            'color': 'green'
          });
          $('#grouptype').val('{{group.id}}');

          $('.grouppaytype').show();

          iconIsActive = '{{group.id}}';
          $('span.icon').css({visibility:'hidden'})
          $('span.icon.description{{group.id}}').css({visibility:'visible'})
          $('span.icon.title{{group.id}}').css({visibility:'visible'})
        })
        },
      function() {
        var $this = $(this); // caching $(this)
        $this.html($this.data('initialText'));

        const gId = $('#grouptype').val()
        if(iconIsActive != null && gId == '{{group.id}}'){
          $('span.icon').css({visibility:'hidden'})
          $('span.icon.description{{group.id}}').css({visibility:'visible'})
          $('span.icon.title{{group.id}}').css({visibility:'visible'})
        }
      }
   );

  {%endfor%}

  /**Subscription picked**/

  $('#g1').click(function(){
    $('#g1').css({
      'background': '#4975B1',
      'color': 'white',
      'transition-delay': '0.1s',
      '-webkit-transition-delay': '0.1s',
      'transition-duration': '0.5s',
    });

    $('#subtype').val('1');

    $('#g2').css({
      'background': '#FFFFFF',
      'color': 'black',
    });

    $(this).find($('.show-click'))
      .css({visibility:'hidden'});
    $('#g2').find($('.show-click'))
      .css({visibility: 'visible'});
  });

  $('#g2').click(function(){
    $('#g2').css({
      'background': '#4975B1',
      'color': 'white',
      'transition-delay': '0.1s',
      '-webkit-transition-delay': '0.1s',
      'transition-duration': '0.5s',
    });
    $('#subtype').val('0');
    
    $('#g1').css({
      'background': '#FFFFFF',
      'color': 'black',
    });

    $(this).find($('.show-click'))
      .css({visibility:'hidden'});
    $('#g1').find($('.show-click'))
      .css({visibility:'visible'});
  });

    $(".grouppaycard").hover(function(){
      $(this).css({position:'relative'})
      //$(this).find($('svg')).css(
      //  {width:'20%', color:'#fff'}
      //)
      $(this).find($('.show-click'))
        .removeClass('hidden')
        .addClass('mouse-overlay');
      },function(){
        $(this).find($('.show-click'))
          .removeClass('mouse-overlay')
          .addClass('hidden');
    });
</script>
{% endblock%}