{% extends 'home/base.html' %}
{% load staticfiles%}
{% block title %}
Application Submitted | Linuxjobber
{% endblock %}

{% load staticfiles %}
{% block external_header %}
        <link href="https://fonts.googleapis.com/css?family=Caveat+Brush&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/css/jobs_new.css' %}">
{% endblock %}

{% load staticfiles %}

{% block content %}
    <style>
    .application{
        padding-top: 50px;
        padding-left: 70px;
    }

    .proficiency-card{
        width: 390px;
height: 246px;
border: 2px solid #E5E5E5;
box-sizing: border-box;
border-radius: 10px;
    }
    .bg-red{
        background-color: red;
    }
</style>
    <section class="header-color"></section>

<section class="job-application-banner">

<div class="job-application-text">
Application Submitted
</div>
</section>

       <section class="application">

    <div class="row">
        <div class="col-md-10">

					<span class="jobtypeh"><b>Select one option below!</b></span><br>
					<span class="jobinfoh">Before you go, choose which option that best describes you below.</span>
					<br><br>
            <div class="row">
                <div class="proficiency-card">Hekkio</div>
                <div class="col-md-3"><div class="proficiency-card bg-red">Hekkio</div></div>
                <div class="col-md-3"><div class="proficiency-card">Hekkio</div></div>
            </div>
        </div>
    </div>


 </section>


<script>
	$('.cverr').hide();

	    var jobSelector = $("#JobFname");

    function get_postion_details() {
    $.ajax({
        url : "/obtain_position/", // the endpoint
        type : "POST", // http method
        data : { get_position_detail : jobSelector.val() }, // data sent with the post request

        // handle a successful response
        success : function(data) {
            console.log(data);
            {# Display job description #}
            $('#description').html(
                '<div class="job-title"></div>' +
                '<div class="job-title">'+data.job_title+ '</div>' +
                '<div class="job-description">'+data.requirement+'</div>\n' +
                '<div class="job-responsibilites">Responsibilities:</div>\n' +
                '<div class="item-list">' +
                '<p>' + data.responsibility+
                '                        </p>\n' +
                '                    </div>'
            );


            console.log("success"); // another sanity check
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#results').html("" +
                "<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
}

    	jobSelector.change(
	    function () {
	        $("#description").html('<span>Loading details... </span>');
	        var data = $('#JobFname option:selected').val()
            if(data)
            get_postion_details()

        }
    );
	$('#formd').submit(function() {
		if ($('#cv_link').val() === "" && document.getElementById("file-upload").files.length == 0){
			$('.cverr').show();
			return false;
		}
	});

	$('#file-upload').on('change',function(){
                //get the file name
                var fileName = $(this).val().split('\\').pop().split('/').pop();
                //replace the "Choose a file" label
                $('.filename').html(fileName);
            });
</script>

{% endblock %}