{% extends 'home/base.html' %}
{% load staticfiles%}
{% block title %}
Jobs- Apply | Linuxjobber
{% endblock %}
{% block content %}

<div class="jobbaner2">
	<div class="text-center jobbantext2">
		<h1>APPLICATIONS</h1>
		<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<span>
				Full-Time Applications
			</span>
		</div>
		<div class="col-md-2"></div>
	</div>
	</div>
</div>
	

<div class="container">
	<form method="post" action="" enctype="multipart/form-data" id="formd">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-8">
			{% if messages %}
          {% for message in messages %}
            {% if message.tags == "success" %}
            <div class="alert alert-success" role="alert">
            <p style="color:#155724">{{message}}</p>
        	</div>
            {%else%}
            <div class="alert alert-danger" role="alert">
            <p style="color:#721c24">{{message}}</p>
            </div>
            {%endif%}
          {% endfor %}
        {% endif %}
				{% csrf_token %}
				<div class="jobtype">
					<p class="jobtypeh">{{posts.job_title}}</p>
					<span>{{posts.requirement}}</span><br><br>
					<span><b>JOB RESPONSIBILITIES</b></span><br><br>
					<p class="jobinfop">{{posts.responsibility |linebreaksbr|linebreaksbr}}
							</p>
				</div>
				<div class="jobtype">
					<span class="jobtypeh"><b>PERSONAL INFORMATION</b></span><br>
					<span class="jobtypeh">TELL US SOMETHING ABOUT YOURSELF</span>
					<br><br>
					<span class="jobfinputp">Full Name  <span style="color:red">*</span></span><br><br>
					{{form.fullname}}
					<br>
					<span class="jobfinputp">Email  <span style="color:red">*</span></span><br><br>
					{{form.email}}
					<br>
					<span class="jobfinputp">Phone  <span style="color:red">*</span></span><br><br>
					{{form.phone}}
					
				</div>
				<div class="jobtype">
					<span class="jobtypeh"><b>CV/RESUME</b></span><br>
					<span class="jobtypeh">UPLOAD YOUR CV/RESUME FILE</span>
					<br><br>
					<span class="jobfinputp">Paste Link to CV/Resume <span style="color:red">*</span></span><br>pdf, doc, docx only<br><br>
					{{form.cv_link}}<br><span class="jobfinputp">or </span><label for="file-upload" class="btn jobbut2">
										UPLOAD CV
										</label><span class="filename"> </span>
					{{form.resume}}
				</div>
		</div>
		<div class="col-md-3"></div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
				
				<div class="text-center">
					<span class="cverr" style="color:#721c24">please fill up required fields before submitting</span><br>
					<div>
						<button type="submit" class="jobbut btn"> SUBMIT </button>
					</div><br>
					<span class="text-muted">Crosscheck to make sure all fields are filled correctly before submitting</span>
					<br><br><br>
				</div>
		</div>
		<div class="col-md-1"></div>
	</div>
	</form>
</div>
<script>
	$('.cverr').hide();

	$('#formd').submit(function() {
		if ($('#cv_link').val() === "" && document.getElementById("file-upload").files.length == 0){
			$('.cverr').show();
			return false;
		}
	});

	$('#file-upload').on('change',function(){
                //get the file name
                var fileName = $(this).val().split('\\').pop().split('/').pop();
                //replace the "Choose a file" label
                $('.filename').html(fileName);
            });
</script>

{%endblock %}