{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>    


	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="http://assets.webshopapp.com/molina-chai/style-ie.css?1" />
	<![endif]-->
    <!-- Bootstrap -->
   
    <!-- Main Style -->
    <link href="{% static 'mainsite/css/stylenew.css' %}" rel="stylesheet">
    <link href="{% static 'mainsite/css/style2.css' %}" rel="stylesheet">
    

	<link rel="stylesheet" type="text/css" href="{% static 'mainsite/css/newstyle2.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'mainsite/css/newstylenew.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet"> 
 
</head>
<body>


    <section class="selfstudy">
      <div class="container">
        <div class="row border-back">
          <div class="col-xs-12 col-sm-12 col-lg-6">
            <i class="fa fa-lightbulb-o rnd-back"></i>
            <h3 class="hblue">RCHSA Certification - Instructor Led </h3>
            <p class="mgg-20">This Red Hat Linux certification course is designed to help you pass the RHCSA EX200 Examination and earn the certificate. 
              The course covers all the materials on the exam by using the curriculum provided by the Red Hat vendor for the purpose of passing the exam.
              It is best suited for people who have completed Linux training and are just interested in passing the exam.' ;
        </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-lg-6 text-center checkout-col">
            <h3 class="hblue mgb30">$799 One Time</h3>
            
            <a href="https://linuxjobber.com/users/login"><button class="btn btn-checkout" id = "packages-self">Check Out</button></a>
          </div>
          </div>

        <br>
        
        <br>
      </div>
    </section>


        <section class="trial-container-study">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-lg-6">
          <img class = "thanks-img" src="{% static 'mainsite/images/ab.png' %}" class="img-responsive" style="">
          
            <!-- <img class = "thanks-img" src="https://linuxjobber.com/newhomepage/img/certii.jpg"> -->
          </div>
          <div class="col-xs-12 col-sm-12 col-lg-6">
            <div class="text-center thanks-text">
            
            <h2 id="thank">Thankfully</h2>
            
            <p style="font-size:16px"> I passed the exam in one shot. <br>
            I am very excited to have my Red Hat Certificate (RHCSA) in my hands. <br>
            Linuxjobber course materials helped me prepare for, and pass, the exam. <br>
            I am very happy.</p>
            <p id="name">- Azeem A.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

        <!-- <div class = "row">
          <div class = "trial-section">
            <p class = "text-center text-white mgb30">You can always try out this service free for 14days.</p>
             <a href="https://linuxjobber.com/tryservices"><button class = "btn btn-trynow">TRY IT NOW</button></a>
          </div>
        </div>
      </div>
    </section> -->

<section class="sub">
      <div class="container">
        <div class="row ">
          <div class="text-center">
          <h5>Subscribe To Our Newsletter.</h5>

          <form class="form-inline sub-main">
  <label class="sr-only" for="inlineFormInputName2">Name</label>
  <input type="text" class="form-control mb-2 mr-sm-2 sub-form" id="inlineFormInputName2" placeholder="Enter your email"/>
<button type="submit" class="btn btn-b mb-2">Submit</button>
</form>
          </div>
        </div>
      </div>
    </section>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
 


</body>
</html>




