{% extends 'home/base.html' %}
{% load staticfiles%}
{% block title %}
Policies | Linuxjobber
{% endblock %}
{% block content %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
    <div class="carousel-inner" role="listbox">
    	<div class="item active">
        	  
    	</div>      
    </div>      
</div>

<style>
p{ font-size:22px;}	
.fadeInUp li { font-size:15px;}	
</style>

<section class="col-xs-12 aboutusmain animate-box">
	<div class="row raise-to-banner2">
		<div class="col-md-8 col-md-offset-2 text-center">
			<div class="display-t">
				<div class="display-tc animate-box h1-bg" data-animate-effect="fadeIn">
					<h1>Our Policy</h1>	
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<span>Cancellation and Refund Policy</span>
			<p> Training course registration is not complete until billing information is received in full by Linuxjobber. </p>
			<p> Students are responsible for acquiring all materials required for learning the course in which they are enrolled. </p>
			<p>  In order to cancel or reschedule a confirmed training please submit an email request to your instructor. </p>
			<p>   Please submit all cancellation request before the first day of classes in order to receive a refund of paid registration fees. No refunds or reschedule after the first day of classes. </p>	
	</div>
</section>

<section class="col-xs-12 aboutusmain animate-box">
	<div class="container">
		<div>&nbsp;<br />&nbsp;</div>
		<span>Cancellation by Linuxjobber</span>
		<p> If a training class is cancelled due to any unforeseen circumstances such as weather or natural disaster, the customer is entitled to reschedule for a future training course. </p>
		<p> Linuxjobber reserves the right to cancel any training course due to insufficient enrollment 7 days before the first day of classes. Notice will be provided with the option to reschedule for a future course date or to receive a full refund of registration fees.  </p>
		<p>  Linuxjobber is not responsible for any expenses incurred by the customer if a training course is cancelled.  </p>	
	</div>
</section>




{%endblock%}