{% extends 'home/base.html' %}
{% load staticfiles%}
{% block title %}
Resume Checkout | Linuxjobber
{% endblock %}
{% block content %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
          <!-- <img class="first-slide" src="images/slide1.png" alt="First slide"> -->
        <div class="container">
        <div class="carousel-caption">
				<div class="col-md-4 animate-box"></div>              
        <div class="col-md-4 animate-box" style="margin-top:29px">
          <span style="font-size: 30px;">RESUME CHECKOUT </span>
				</div>
              <div class="col-md-4 animate-box">
							  </div>
        </div>
      </div>
    </div>      
  </div>      
</div>

<div class="main-container">

        <div class="container"> 
            <div class="row">
			
			<div class="col-md-1"></div>
                <div class="col-md-6 page-content">
                    <div class="inner-box category-content">
                        <h2 class="title-4"><i class="icon-user-add"></i>
												Resume checkout												
						</h2>
						<hr class='hr-color'/>
                        <div class="row">
                            <div class="col-sm-12">
							
								
							<form action="" method="POST" id='stripejsfilemain'>
								
								<div class="form-group required">
									<div  class="col-md-4"></div>
									<div class="col-md-8">
										<script id='stripejsfile'
										src="https://checkout.stripe.com/checkout.js" class="stripe-button"
										data-key="pk_test_1zBTca83q29gl9iwRw1oIBvD"
										data-amount="19900"
										data-email=""
										data-name="Linuxjobber"
										data-description="Resume Service"
										data-image="https://linuxjobber.com/images/logo.png"
										data-locale="auto"
										data-allow-remember-me="false"
										data-currency="usd">
										</script>
									</div>
									
								</div>	

								<p style="font-size:14px !important;margin-bottom: 20px;;"><small>By clicking Pay with Card you are agreeing to allow Linuxjobber to bill you $199  </small></p>
							</form>
						
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.page-content -->

                <div class="col-md-4 reg-sidebar">
                    <div class="reg-sidebar-inner text-center">
                        <div class="promo-text-box"><i class=" icon-picture fa fa-4x icon-color-1"></i>

                      
                    </div>
                </div>
				
                <div class="col-md-1"></div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
{%endblock%}