{% extends 'home/base.html' %}

{% load staticfiles%}

{% block content %}




  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox" style="padding: 201px 0 9px;">
      <div class="item active">
        <div class="carousel-caption">
          <h1>Server Service</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="server_services">
    <div class="our-benefits">
      <div class="container">
        <h3 class="h3-title">
          <span>Our</span>
          Services
        </h3>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="single-service">
              <i class="fa fa-laptop"></i>
              <h6>Server Services</h6>
              <p>
                Let us maintain your servers so that you can concentrate on growing your business. 
                <br>
                Our team has over 10 years experience maintaining both windows and Linux servers.
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="single-service">
              <i class="">
                <img src="{% static 'home/images/control-icon.png' %}" alt="">
              </i>
              <h6>
                DevOps
              </h6>
              <p>
                Speed up your development life cycle by automating your development process from development to production.  
                <br>
                You will be amazed to see how much easier life can get.
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="single-service">
              <i class="fa fa-ioxhost">
                
              </i>
              <h6>Automated Testing</h6>
              <p>
                Catch errors before your customers see them. 
                <br>
                Allow us to build software that will test your entire application after every code change. Get the assurance of error-free code
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="clear">
      
    </div>
    <div class="our-services">
      <div class="container">
        <h3 class="h3-title">
          <span>Our</span>
          "Service Plans"
        </h3>
        <div class="price-lists">
          <div class="single-table-price">
            <div class="columns">
              <div class="price-header">
                <div class="price">
                  <span class="dollar-sign">$</span>
                  9
                  <span class="per-month">per Month</span>
                </div>
                <span class="price-title">Standard plan</span>
              </div>
              <div class="price-article">
                <ul>
                  <li>
                    Web Server Administration
                  </li>
                  <li>
                    Firewall Setup
                  </li>
                  <li>
                    Email Service Setup
                  </li>
                  <li>
                    Production Web Service
                  </li>
                  <li>
                    3 Dev Servers Setup
                  </li>
                  <li>
                    -
                  </li>
                  <li>
                    -
                  </li>
                  <li>
                    -
                  </li>
                  <li>
                    -
                  </li>
                  <li>
                    -
                  </li>
                </ul>
              </div>
              <div class="more-info">
                <a href="">MORE INFO</a>
              </div>
            </div>
          </div>
          <div class="single-table-price">
            <div class="columns">
              <div class="most-popular">
                Most popular!
              </div>
              <div class="price-header">
                <div class="price">
                  <span class="dollar-sign">$</span>
                  19
                  <span class="per-month">per Month</span>
                </div>
                <span class="price-title">
                  Full Plan
                </span>
              </div>
              <div class="price-article">
                <ul>
                  <li>
                    Web Server Administration
                  </li>
                  <li>
                    Firewall Setup
                  </li>
                  <li>
                    Email Service Setup
                  </li>
                  <li>
                    Production Web Service
                  </li>
                  <li>
                    3 Dev Servers Setup
                  </li>
                  <li>
                    -
                  </li>
                  <li>
                    Code Deployment
                  </li>
                  <li>
                    Continuous Integration Setup
                  </li>
                  <li>
                    CI Server Administration
                  </li>
                </ul>
              </div>
              <div class="more-info">
                <a href="">MORE INFO</a>
              </div>
            </div>
          </div>
          <div class="single-table-price">
            <div class="columns">
              <div class="price-header">
                <div class="price">
                  <span class="dollar-sign">$</span>
                  29
                  <span class="per-month">PER MONTH</span>
                </div>
                <span class="price-title">Premium plan</span>
              </div>
              <div class="price-article">
                <ul>
                  <li>Web Server Administration</li>
                  <li>
                    Firewall Setup
                  </li>
                  <li>
                    Email Service Setup
                  </li>
                  <li>
                    Production Web Service
                  </li>
                  <li>
                    3 Dev Servers Setup
                  </li>
                  <li>
                    Develop New Feature Test Code
                  </li>
                  <li>
                    Code Testing
                  </li>
                  <li>
                    Code Deployment
                  </li>
                  <li>
                    Continuous Integration Setup
                  </li>
                  <li>
                    CI Server Administration
                  </li>
                </ul>
              </div>
              <div class="more-info">
                <a href="">MORE INFO</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="clear">
      
    </div>


    <div class="hot-features">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-5 whts-hots">
            <h3>
              <span>Now</span>
              Try this service
            </h3>
            <div class="month-free">
              <h6>Try this service</h6>
              <h4>
                <ins>for</ins>
                14 Days
                <span>FREE</span>
              </h4>
              <div class="more-info">
                <a href="{% url 'home:tryfree' '14daysPlan' %}">Sign up</a>
              </div>
            </div>

          </div>
          <div class="col-md-7 col-sm-7 col-md-offset-1 our-features">
            <h3>
              <span>Now</span>
              Additional Benefits
            </h3>
            <div class="row">
              <div class="col-md-5 col-sm-6 col-xs-6 feature-list">
                <ul>
                  <li>
                    <i class="fa fa-chevron-right">
                      
                    </i>
                    Attend our Live server seminars for free
                  </li>
                  <li>
                    <i class="fa fa-chevron-right"></i>
                    Get reduced prices on our online courses
                  </li>

                  <li>
                    <i class="fa fa-chevron-right"></i>
                    Get access to server professionals to help you
                  </li>

                  <li>
                    <i class="fa fa-chevron-right"></i>
                    Receive monthly security updates with our newsletter
                  </li>
                </ul>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-6 feature-list">
                <ul>
                  <li>
                    <i class="fa fa-chevron-right"></i>
                    Alert on latest industry trends
                  </li>
                  <li>
                    <i class="fa fa-chevron-right"></i>
                    Leverage the power, convenience and reliability of cloud
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="newsletter-sec">
      <div class="container">
        <div class="news-title">
          <i class="fa fa-envelope-o"></i>
          <span>sign up our</span>
          newsletter 
        </div>
        <form action="" method="post" class="newsletter-form">
          {% csrf_token %}
          <div class="input-prepend">
            <input type="text" id name="email" placeholder="Enter your email address" required="">
          </div>
          <input type="submit" value="Sign up now" class="btn" name="">
          <strong><p style="margin-left: 35px; color: green; font-size: 15px">{{ news_letter_message }}</p></strong>
        </form>
      </div>
    </div>
  </div>


{% endblock %}