{% extends 'home/base.html' %}

{% load staticfiles%}

{% block content %}




  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox" style="padding: 201px 0 9px;">
      <div class="item active">
        <div class="carousel-caption">
        	<h1>Choose a Package</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="server_services">
  	<div class="our-benefits">
  		<div class="container">
  			<h3 class="h3-title">
  				<span>Our</span>
  				Packages
  			</h3>
  			<div class="row">
  				<div class="col-md-4 col-sm-6">
  					<div class="single-service">
  						<i class="fa fa-laptop"></i>
  						<h6>Self Study</h6>
  						<p>
  							Standard Plan
  							<br>
  							Learn at your own pace and at an affordable price.
  							<br>
  							Have full control of which materials you need and what is important to you. Access the materials whenever you want and complete as you wish.
  						</p>
  					</div>
  				</div>
  				<div class="col-md-4 col-sm-6">
  					<div class="single-service">
  						<i class="">
  							<img src="{% static 'home/images/control-icon.png' %}" alt="">
  						</i>
  						<h6>
  							Assisted Study
  						</h6>
  						<p>
  							Full Plan 
  							<br>
  							Get full support whenever and wherever you have a problem.
  							<br>
  							This is best-value package. Real-live professionals can log into your machine and answer your questions for you.
  						</p>
  					</div>
  				</div>
  				<div class="col-md-4 col-sm-6">
  					<div class="single-service">
  						<i class="fa fa-ioxhost">
  							
  						</i>
  						<h6>Full Coaching</h6>
  						<p>
  							Premium Plan
  							<br>
  							Step-by-step walk-through of the entire course with a live professional. Get the dedicated attention, schedule and time of an active professional going through the entire course materials with you.
  						</p>
  					</div>
  				</div>

  			</div>
  		</div>
  	</div>
  	<div class="clear">
  		
  	</div>
  	<div class="our-services">
  		<div class="container">
  			<h3 class="h3-title">
  				<span>Our</span>
  				Service Plans
  			</h3>
  			<div class="price-lists">
  				<div class="single-table-price">
  					<div class="columns">
  						<div class="price-header">
  							<div class="price">
  								<span class="dollar-sign">$</span>
  								29
  								<span class="per-month">per Month</span>
  							</div>
  							<span class="price-title">Standard plan</span>
  						</div>
  						<div class="price-article">
  							<ul>
  								<li>
  									Full Access
  								</li>
  								<li>
  									Training Reminders
  								</li>
  								<li>
  									Technical Support
  								</li>
  								<li>
  									-
  								</li>
  								<li>
  									-
  								</li>
  								<li>
  									-
  								</li>
  								<li>
  									-
  								</li>
  								<li>
  									-
  								</li>
  							</ul>
  						</div>
  						<div class="more-info">
  							<a href="">Sign Up</a>
  						</div>
  					</div>
  				</div>
  				<div class="single-table-price">
  					<div class="columns">
  						<div class="most-popular">
  							Most popular!
  						</div>
  						<div class="price-header">
  							<div class="price">
  								<span class="dollar-sign">$</span>
  								29
  								<span class="per-month">per Month + One Time $399</span>
  							</div>
  							<span class="price-title">
  								Full Plan
  							</span>
  						</div>
  						<div class="price-article">
  							<ul>
  								<li>
  									Full Access
  								</li>
  								<li>
  									Training Reminders
  								</li>
  								<li>
  									Technical Support
  								</li>
  								<li>
  									Live Support
  								</li>
  								<li>
  									Resume Assistance
  								</li>
  								<li>
  									-
  								</li>
  								<li>
  									-
  								</li>
  								<li>
  									-
  								</li>
  							</ul>
  						</div>
  						<div class="more-info">
  							<a href="">Sign up</a>
  						</div>
  					</div>
  				</div>
  				<div class="single-table-price">
  					<div class="columns">
  						<div class="price-header">
  							<div class="price">
  								<span class="dollar-sign">$</span>
  								2,495
  								<span class="per-month">One Time</span>
  							</div>
  							<span class="price-title">Premium plan</span>
  						</div>
  						<div class="price-article">
  							<ul>
  								<li>Full Access</li>
  								<li>
  									Training Reminders
  								</li>
  								<li>
  									Technical Support
  								</li>
  								<li>
  									Live Online Class
  								</li>
  								<li>
  									Resume Support
  								</li>
  								<li>
  									Live Professional
  								</li>
  								<li>
  									Interview Preparation
  								</li>
  								<li>
  									Job Preparation
  								</li>
  							</ul>
  						</div>
  						<div class="more-info">
  							<a href="">Sign Up</a>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>

  	<div class="clear">
  		
  	</div>


  	<div class="hot-features">
  		<div class="container">
  			<div class="row">
  				<div class="col-md-4 col-sm-5 whts-hots">
  					<h3>
  						<span>Now</span>
  						Try this service
  					</h3>
  					<div class="month-free">
  						<h6>Try this service</h6>
  						<h4>
  							<ins>for</ins>
  							14 Days
  							<span>FREE</span>
  						</h4>
  						<div class="more-info">
  							<a href="">Sign up</a>
  						</div>
  					</div>

  				</div>
  				<div class="col-md-7 col-sm-7 col-md-offset-1 our-features">
  					<h3>
  						<span>Now</span>
  						Additional Benefits
  					</h3>
  					<div class="row">
  						<div class="col-md-5 col-sm-6 col-xs-6 feature-list">
  							<ul>
  								<li>
  									<i class="fa fa-chevron-right">
  										
  									</i>
  									Attend our job server seminars for free
  								</li>
  								<li>
  									<i class="fa fa-chevron-right"></i>
  									Get reduced prices on our offline courses
  								</li>

  								<li>
  									<i class="fa fa-chevron-right"></i>
  									Get access to working professionals to help you
  								</li>

  								<li>
  									<i class="fa fa-chevron-right"></i>
  									Get added to our programmer and admin chat groups
  								</li>
  							</ul>
  						</div>
  						<div class="col-md-4 col-sm-6 col-xs-6 feature-list">
  							<ul>
  								<li>
  									<i class="fa fa-chevron-right"></i>
  									Alert on latest industry trends
  								</li>
  								<li>
  									<i class="fa fa-chevron-right"></i>
  									Leverage the power, convenience and reliability of others
  								</li>
  							</ul>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>


  	<div class="newsletter-sec">
  		<div class="container">
  			<div class="news-title">
  				<i class="fa fa-envelope-o"></i>
  				<span>sign up our</span>
  				newsletter 
  			</div>
  			<form action="" method="post" class="newsletter-form">
  				{% csrf_token %}
  				<div class="input-prepend">
  					<input type="text" id name="email" placeholder="Enter your email address" required="">
  				</div>
  				<input type="submit" value="Sign up now" class="btn" name="">
          <strong><p style="margin-left: 35px; color: green; font-size: 15px">{{ news_letter_message }}</p></strong>
  			</form>
  		</div>
  	</div>
  </div>


{% endblock %}