{% extends 'home/base.html' %}

{% load staticfiles%}

{% block content %}
  
  




<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          
        </div>      
      </div>      
    </div>


<div class="container"> 
            <div class="row">
            <br>            
            <div class="col-md-1"></div>
                <div class="col-md-6 page-content">
                    <div class="inner-box category-content">
                        <h2 class="title-4"><i class="icon-user-add"></i>
                            {% if amount == 399 %}
                                Pay For Live Help
                            {% elif amount == 2495 %}
                                PREMIUM PLAN
                            {% else %}
                                14 days free trial  
                            {% endif %}                     
            </h2>
            <hr class="hr-color">
                        <div class="row">
                            <div class="col-sm-12">
              
                
              <form action="" method="POST" id="stripejsfilemain">
                <div class="form-group required">
                  <div class="col-md-4"></div>
                  <div class="col-md-8">
                    <script id="stripejsfile" src="https://checkout.stripe.com/checkout.js" class="stripe-button active" data-key="pk_live_xcQfEl1JflntSh0hYeenb1s5" data-amount="2900" data-email="" data-name="Linuxjobber" data-description="Linuxjobber_monthly" data-image="https://linuxjobber.com/images/logo.png" "="" data-locale="auto" data-allow-remember-me="false" data-currency="usd">
                    </script><button type="submit" class="stripe-button-el" style="visibility: visible;"><span style="display: block; min-height: 30px;">Pay with Card</span></button>
                  </div>
                  
                </div>  
                {% if amount == 399 %}
                <p style="font-size:14px !important; margin-bottom: 20px; color: black;"><small>Please note that you will be charged $399 upfront. However, you may cancel at any time. By clicking Pay with Card you are agreeing to allow Linuxjobber to bill you $399</small></p>
                {% elif amount == 2495 %}
                <p style="font-size:14px !important;margin-bottom: 20px; color: black;"><small>Please note that you will be charged ONE TIME $2495 upfront. However, you may cancel at any time within 14 days for a full refund. By clicking Pay with Card you are agreeing to allow Linuxjobber to bill you ONE TIME $2495</small></p>
                {% else %}
                <p style="font-size:14px !important;margin-bottom: 20px; color: black;"><small>Please note that you will be charged 
                $29     upfront.  However, you may cancel at any time within 14 days for a full refund. By clicking Pay with Card you are agreeing to allow Linuxjobber to bill you $29/Monthly   </small></p>
                {% endif %}
              </form>
              
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.page-content -->

                <div class="col-md-4 reg-sidebar">
                    <div class="reg-sidebar-inner text-center">
                        {% if amount == 399 %}
                            <div class="reg-sidebar-inner text-center">
                                <div class="promo-text-box"><i class=" icon-picture fa fa-4x icon-color-1"></i>
                         
                                <p style="color: black"> Pay For Live Help</p>
                                </div><br>                      
                                <h3>One Time </h3><h3>
                                </h3><h1 class="title-4">$399</h1>                  
                                </div>
                        {% elif amount == 2495 %}
                            <div class="promo-text-box"><i class=" icon-picture fa fa-4x icon-color-1"></i>
                                <h3 class=""><i class="icon-user-add"></i>One Time Payment </h3>
                                    <div> Access all courses, Training Reminders, Technical Support, Live Support,Resume Assistance, Live Professional, Interview Preparation, Job Preparation </div><br>   
                                <h1 class="title-4">  $2495</h1>    
                            </div>
                        {% else %}
                        <div class="promo-text-box"><i class=" icon-picture fa fa-4x icon-color-1"></i>

                            
                            <p style="color: black"> Access all courses, videos, labs and tests with a <br>14-day free trial. </p>
                        </div><br>
                        <h3>Monthly subscription</h3><h3>
                        </h3><h1 class="title-4">$29</h1> <p style="color: black" class="bg_change">Per Month</p>
                        {% endif %}                       
                    </div>
                </div>
                        <div class="col-md-1"></div>
            </div>
            <!-- /.row -->
        </div>




{% endblock %}