{% extends 'home/base.html' %} {% load staticfiles%} 

{% block content %}





<div class="userinterest">
    <div class=" text-center usersint">
       <h2>Select A Course</h2>
    </div>
</div>


<section>
      <div class="container">
        <div class="row">
     
          <div class="col-xs-12 col-sm-6 col-lg-4">
          <a href="">
           <div class="coursebox" id="box-color">
           <h4>Linux <br>Fundamentals</h4>
           <div class="fundamentals">
           <img src="https://linuxjobber.com/img/lin-logo.png" class="img-responsive lin-logo">
           </div>
           <div class="btn-right">
           <img src="https://linuxjobber.com/img/button-left.png">
           </div>
            </div>
            </a></div>

            <div class="col-xs-12 col-sm-6 col-lg-4">
            <a href="">
           <div class="coursebox" id="box-color2">
            <h4>Linux <br>Proficiency</h4>
            <div class="fundamentals">
            <img src="https://linuxjobber.com/img/lin-logo.png" class="img-responsive lin-logo">
            </div>
            <div class="btn-right">
            <img src="https://linuxjobber.com/img/button-left.png">
            </div>
           </div>
            </a></div>

            <div class="col-xs-12 col-sm-6 col-lg-4">
            <a href="#">
           <div class="coursebox" id="box-color3">
                <h3 id="html-style"> &lt; html &gt; <br>.css{}</h3>
                <div class="btn-html">
                <img src="https://linuxjobber.com/img/button-left.png">
                </div>
           </div>
            </a></div>
    
            </div>

    <div class="row">
     
     <div class="col-xs-12 col-sm-6 col-lg-4">
     <a href="">
      <div class="coursebox" id="box-color4">
        <div class="amazons">
      <img src="https://linuxjobber.com/img/amazons.png" class="img-responsive">
      </div>
      <div class="btn-amazons">
      <img src="https://linuxjobber.com/img/button-left.png">
      </div>
       </div>
       </a></div>

       <div class="col-xs-12 col-sm-6 col-lg-4">
       <a href="">
      <div class="coursebox" id="box-color5">
       <h4>Puppet <br>Training</h4>
       <div class="fundamentals">
       <img src="https://linuxjobber.com/img/ppt.png" class="img-responsive">
       </div>
       <div class="btn-right">
       <img src="https://linuxjobber.com/img/button-left.png">
       </div>
      </div>
       </a></div>

       <div class="col-xs-12 col-sm-6 col-lg-4">
       <a href="">
      <div class="coursebox" id="box-color6">
       <div class="jjava">
       <img src="https://linuxjobber.com/img/jjava.png" class="img-responsive">
       </div>
       <div class="btn-jjava">
       <img src="https://linuxjobber.com/img/button-left.png">
       </div>
      </div>
       </a></div>

    </div>

    <div class="row">
     
     <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="coursebox" id="box-color7">
      <a href="">
        <div class="rchsaa">
      <img src="https://linuxjobber.com/img/rchsaa.png" class="img-responsive">
      </div>
      <div class="btn-rchsaa">
      <img src="https://linuxjobber.com/img/button-left.png">
      </div>
       </a></div><a href="">
       </a></div><a href="">

       </a><div class="col-xs-12 col-sm-6 col-lg-4"><a href="">
        </a><div class="coursebox" id="box-color8"><a href="">
        </a><a href="#">
        <div class="ajs">
        <img src="https://linuxjobber.com/img/ajs.png" class="img-responsive">
        </div>
        <div class="btn-rchsaa">
        <img src="https://linuxjobber.com/img/button-left.png">
        </div>
        </a></div><a href="#">
       </a></div><a href="#">

       </a><div class="col-xs-12 col-sm-6 col-lg-4"><a href="#">
      </a><div class="coursebox" id="box-color9"><a href="#">
      </a><a href="#">
      <h3 id="csec">Cyber <br>Security</h3>
       <div class="csec">
       <img src="https://linuxjobber.com/img/csecurity.png" class="img-responsive">
       </div>
       <div class="btn-csec">
       <img src="https://linuxjobber.com/img/button-left.png">
       </div>
      </a></div><a href="#">
       </a></div><a href="#">

    </a></div><a href="#">

    </a><div class="row"><a href="#">
     
     </a><div class="col-xs-12 col-sm-6 col-lg-4"><a href="#">
      </a><div class="coursebox" id="box-color10"><a href="#">
      </a><a href="">
        <div class="biz">
      <img src="https://linuxjobber.com/img/biz.png" class="img-responsive">
      </div>
      <div class="btn-biz">
      <img src="https://linuxjobber.com/img/button-left.png">
      </div>
       </a></div><a href="">
       </a></div><a href="">

       </a><div class="col-xs-12 col-sm-6 col-lg-4"><a href="">
        </a><div class="coursebox" id="box-color11"><a href="">
        </a><a href="#">
        <h3 id="dba">Database</h3>
        <div class="dba">
        <img src="https://linuxjobber.com/img/dba.png" class="img-responsive">
        </div>
        <div class="btn-dba">
        <img src="https://linuxjobber.com/img/button-left.png">
        </div>
        </a></div><a href="#">
       </a></div><a href="#">

       </a><div class="col-xs-12 col-sm-6 col-lg-4"><a href="#">
      </a><div class="coursebox" id="box-color12"><a href="#">
      </a><a href="#">
       <div class="biz">
       <img src="https://linuxjobber.com/img/py.png" class="img-responsive">
       </div>
       <div class="btn-py">
       <img src="https://linuxjobber.com/img/button-left.png">
       </div>
      </a></div><a href="#">
       </a></div><a href="#">

    </a></div><a href="#">

 </a></div><a href="#">

    </a></section>











{% endblock %}