{% extends 'home/base.html' %}
{% load staticfiles%}
{% block title %}
Work Experience | Linuxjobber
{% endblock %}

{% load staticfiles %}
{% block external_header %}
    <link rel="stylesheet" href="{% static 'home/css/we_new.css' %}">
{% endblock %}

{% load staticfiles %}
{% block content %}
    <style>
    .header-color{
        height: 600px;
        text-align: center;
        align-items: center;
        justify-content: center;
        background-image: url('{% static 'home/images/curve.svg' %}');
    }
        .header-text{
               padding: 130px 200px 0 200px;
            font-size: 55px;
            font-family: Monte,cursive;
            font-weight: bold;
            color: #fff0ff;
        }
    .header-subtitle{
           padding: 0 200px;
        font-size: 24px;
        color: white;
        font-weight: 400;

    }
    .color-white{
        color: white;
        font-size: 18px;
        line-height: 21px;
    }

    .left-badge{
        padding-top: 40px;
        margin-left: 40px;
        text-align: left;
        height: 40px;
        width: 213px;
        background-image: url("{% static 'home/images/cup.png' %}");
        background-repeat: no-repeat;
        color: white;
        font-size: 14px;
    }
    .blue-line{
        background-color:#1B539E;
        border-radius: 18px;
        height: 5px;
        width: 180px;
    }
    .text-header{
        text-transform: uppercase;
        font-size: 24px;
        line-height: 26px;
        padding-top: 20px;
        padding-bottom: 40px ;
        color: rgba(0, 0, 0, 0.8);
    }
    .note{
        margin-bottom: 20px;
        width: 100%;
    }
    .title{
        font-size: 16px;
        color: rgba(0, 0, 0, 0.5);
        font-weight: bold;
        line-height: 18px;
    }
    .subtitle{
        line-height: 16px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.5);
    }
    .right-section{
        padding-top: 30px;
    }
    .tile{
        width: 100%;
        margin-bottom: 50px;
    }
    .tile-image{
        height: 40px;
        width: 40px;
        text-align: left;

    }
    .tile-text{
        margin-top: 20px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.8);
        line-height: 16px;
    }
    main{
        margin-top: 20px;
    }
    .blue-text{
        line-height: 21px;
        font-size: 18px;
        color:#1B539E;
    }
    .rounded-container{
        background: rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        padding: 100px;
    }
    #rounded{
        margin-top: 100px;
    }
    .dot-list li{
        line-height: 30px;
        color:rgba(0, 0, 0, 0.5);
        font-size: 14px;

    }
    .dot-list li::before{
        content: url("{% static 'home/images/el.png' %}");
        height: 10px;
        width: 100px;
        margin-right: 10px;
        border-radius: 10px;
    }
    #facilitators{
        margin-top: 100px;
    }
    </style>
    <section class="header-color">

    <p class="header-text">
        Start Getting Your Work Experience Now!
    </p>
    <div style="min-height: 56px"></div>
    <p class="header-subtitle">

        Begin your own success story now
    </p>
    <p class="header-subtitle">
       <b>Join the LinuxJobber Work Experience Program </b>
    </p>
        <div style="min-height: 10px"></div>
    <p class="color-white">
        Learn More <span class="color-white">&rightarrow;</span>
    </p>
    
    <p class="left-badge">
        Linux Jobber is the first and only company in the United States to offer a Work Experience Program.
    </p>

    </section>

    <main>
        <section class="row">
            <div class="col-md-6">
                <div class="blue-line"></div>
                <p class="text-header">How it works</p>
                <div class="note">
                    <p class="title">
                    What is Work Experience?
                </p>
                <p class="subtitle">
                    This 3 month program is designed for people who have finished
                    technical training or school and preparing for jobs.
                </p>
                </div>
                <div class="note">
                    <p class="title">
                    Is It For Me?
                </p>
                <p class="subtitle">
                    The trainees in this program engage with our team as if they work for our company and ,by so doing,
                    understand the development process and work culture.
                    The program is 100% online and our team meetings are Mondays - Fridays, 20 minutes meeting each day.
                </p>
                </div>
                <div class="note">
                    <p class="title">
                    Why Do I Need it?
                </p>
                <p class="subtitle">
                    After this promgram, you should have enough work experience to fit in into any company in the world
                </p>
                </div>

            </div>
            <div class="col-md-6">
                <div class="right-section">
                    <div class="row">
                    <div class="col-md-6">
                        <div class="tile">
                            <p class="tile-image"><img src="{% static 'home/images/tap.png' %}" alt="tap"></p>
                            <p class="tile-text">
                                Choose a career path to build your experience from our Areas of Specialization
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tile">
                            <p class="tile-image"><img src="{% static 'home/images/accept.png' %}" alt="tap"></p>
                            <p class="tile-text">
                                Accept our “Terms of Service”, make payment and sign up
                            </p>
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-md-6">
                        <div class="tile">
                            <p class="tile-image"><img src="{% static 'home/images/number.png' %}" alt="tap"></p>
                            <p class="tile-text">
                                Complete the application, uploading your resume and determine eligibility.
                            </p>
                        </div>
                    </div>
                        <div class="col-md-6">
                        <div class="tile">
                            <p class="tile-image"><img src="{% static 'home/images/join.png' %}" alt="tap"></p>
                            <p class="tile-text">
                                FInally, Join our team and start building your work experience.
                            </p>
                        </div>
                    </div>

                </div>
                </div>

            </div>
        </section>
        <section class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <p class="blue-text"><a class="blue-text" href="">See All FAQ's &nbsp; &rightarrow;</a> </p>
                    </div>
                    <div class="col-md-4">
                        <p class="blue-text"><a href="" class="blue-text">See Details &nbsp; &rightarrow;</a> </p>
                    </div>
                </div>
            </div>

        </section>
        <section class="row" id="rounded">
            <div class="rounded-container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="tile">
                            <p class="tile-image"><img src="{% static 'home/images/graph.svg' %}" alt="tap"></p>
                            <p class="text-header">
                               AREAS OF SPECIALIZATION
                            </p>
                            <ul class="dot-list">
                                <li> Linux Administration</li>
                                <li> Cloud Administration & Architecture</li>
                                <li> DevOps</li>
                            </ul>
                            <div style="min-height: 40px"></div>
                            <p class="blue-text"><a href="" class="blue-text">See Details &nbsp; &rightarrow;</a> </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="tile">
                            <p class="tile-image"><img src="{% static 'home/images/list _checked.png' %}" alt="tap"></p>
                            <p class="text-header">
                              Benefits of our Program
                            </p>
                            <ul class="dot-list">
                                <li> Work closely with our experienced development team and build experience.</li>
                                <li> Learn with the most current technologies used in today’s workplace.</li>
                                <li> We maintain Work History Record for each trainee,
                                    as proof of tasks accomplished and tender for employment purposes.</li>
                                <li> The training is totally remote.</li>
                            </ul>
                            <div style="min-height: 40px"></div>
                            <p class="blue-text"><a href="" class="blue-text">See Details &nbsp; &rightarrow;</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="row" id="facilitators">
            <div class="blue-line"></div>
            <p class="text-header"> Our facilitators</p>
        </section>

    </main>


    <script>



    </script>


{% endblock %}