<div class="navbar">
  <nav>
    <div class="nav-wrapper">
      <div class="container-fluid">
        <div class="row">

          <div class="col l3 m3 s3">
            <a class="brand-logo"><img src="assets/image/Final-Logo.png" alt="nav-logo" class="logo"><span class="logo-text">ClassRoom</span></a>
          </div>

          <div class="col l3 m3 s3">
            <a materialize="dropdown" class="dropdown-button dropdown" data-activates="dropdown1" style="cursor:pointer;">
                Select Course
                <i class="material-icons right">arrow_drop_down</i>
            </a>
            <!-- Dropdown Structure -->
            <ul style="cursor: pointer;" id="dropdown1" class="dropdown-content">
                <li *ngFor="let item of classes |async ">
                    <a [routerLink]="['./',item.id]" >{{ item.name }}</a>
                </li>

            </ul>

          </div>
            <div class="select">
  <select [(ngModel)]="selectedClass">
    <option *ngFor="let item of classes |async"  [ngValue]="item.id">{{ item.name }}</option>
  </select>
</div>
            <div class="col l6 m6 s6">
              <ul class="right">
                <li><a>{{dataservice.username}}</a></li>
                <li><a (click)="logout()" id="logout">LOGOUT</a></li>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </nav>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col l3 m3 s3" style="background-color:#4d394b; height: 100%;">
      <h6 style="text-align: center; font-weight: bold;"> Registered Students | {{users.length}}</h6>
      <div style="height:450px; overflow: auto;">
        <ul>
          <li id="students" style="color:darkgrey; font-weight: bolder; font-size: 15px;"
              *ngFor="let user of users"><a [routerLink]="['./private-chat', user.id]" routerLinkActive="active" > {{user.username}} </a>
          </li><br>


        </ul>
      </div>
    </div>
    <div class="col l6 m6 s9">
      <ul style="display:flex;">
        <li><a [routerLink]="['./video']" routerLinkActive="active" id="video">Video</a></li> |
        <li *ngIf="activeTopic"><a (click)="goToLab()"> Lab </a></li> |
        <li *ngIf="activeTopic"><a (click)="goToNote()"> Note </a></li> |
        <li><a [routerLink]="['./labs']" routerLinkActive="active" id="chat"> Chat</a></li>
      </ul>
      <hr>
      <div style="max-height:600px; overflow: auto;">

        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="col l3 m3 s12">
      <div class="">

          <h5 style="text-align:center; font-weight: bolder;">Topics</h5>
          <div class="course_topic_area" style="height: 450px; overflow: auto;">

         <ul class="collection">

              <li class="collection-item avatar" *ngFor="let topic of topics ">


                <a (click)="setTopic(topic.id)"> {{topic.topic}}
                    <i class="material-icons circle red">play_arrow</i>
                </a>
              </li>

            </ul>
          </div>
        </div>
    </div>
  </div>
</div>

