 <!-- Chat View -->
 <mat-card class="card medium" style="max-height: 500px; display: block">
    <div class="card-content scroll-hide" style="overflow:auto" id="chat_div_space" #ChatSpace>
      <mat-card class="main-card">
          <mat-list class="chat-list" dense >

            <!-- Load More -->
            <infinite-scroll (scrolled)="getMessages()" *ngIf="offset_id != -1">
                <p class="loading-history">Loading history...</p>
          </infinite-scroll>
        
            <div *ngFor="let message of messages">
                <div *ngIf="message.the_type === 'date'" class="chat-date">
                    <div>
                      <span class="chat-date-text">
                        {{formatDate(message.content)}}
                      </span>
                    </div>
                </div>
                <app-others-chat [message]="message" (qouted)="qoute($event)"></app-others-chat>
                <app-my-chat [message]="message" (qouted)="qoute($event)"></app-my-chat>
            </div>
          </mat-list>
      </mat-card>
    </div>
   <mat-card-footer >
      <div>
        <app-qoute-message 
          *ngIf="qoute_message" [(message)] = "qoute_message" 
          [display_close]="true" (closed)="closed()">
        </app-qoute-message>
      </div>
      <!-- is typin side  -->

      <div *ngIf="typingIndicator | async" class="typingIndicator">
        <span>{{who | async}}
          <div class="containerr">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
        </span>
      </div>
      <br>

      <form   class="form-group" style="display:flex ;margin-right: -30px">
        <div class="image-upload">
          <label for="file-input" style="top:4px">
            <i class="medium material-icons" >add</i>
            <input style="display: none" id="file-input" 
              (change)="fileChange($event)" type="file"/>
          </label>
        </div>
        <!-- <inputformControlName="message"  (keyup.enter)="sendMessage(chat_text,'plain')" class="form-control"  name="chat_text" [(ngModel)]="chat_text" placeholder="Type Your Message Here" maxlength="400"> -->
        <input (ngModelChange)='isTyping($event)' (blur)="endTyping()" (keyup.enter)="endTyping()"   [ngClass]="{'inactive': !(touched | async)}"   class="form-control"  name="chat_text" #chat_input
          [(ngModel)]="chat_text" placeholder="Type Your Message Here" 
          maxlength="400" [mention]="mention_users | async" 
          (searchTerm)='searchMention($event)' [mentionConfig]="mentionConfig">
        <button class="send" (click)="sendMessage(chat_text,'plain')" id="submit"> 
          SEND
        </button>
      </form>
   </mat-card-footer>
</mat-card>