#message_box {
    display: block!important;
    height:1.7rem!important;
    padding: .5rem!important;
    border: 2px solid #636566de;
    transition: all 1s;
    border-radius: .5rem!important;
    box-shadow: none;
    width: 98%!important;
  }


#submit {
    height: 2.9rem!important;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    margin-left: -50px;
    padding-right: 10px;
    border-right: 2px solid #636566de;
    border-top: 2px solid #636566de;
    border-bottom: 2px solid #636566de;
    box-shadow: none;
    padding-left: auto;
    margin-bottom: 0px;
}


#send_icon {
    margin-left: -10px;
}

.image-upload > input
{
    display: none;
}
i.medium{
  font-size: 3rem;
 }
.mat-list .mat-list-item .mat-line{
  white-space: normal;
}

.scroll-hide::-webkit-scrollbar-thumb {
  background-color: #6173f4;
  outline: 1px solid #6173f4;
}
.scroll-hide::-webkit-scrollbar-track  {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.scroll-hide::-webkit-scrollbar {
/*  width: 0 !important;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;*/  
   width: 0.7em;
   border: 0.5em;
   border-radius: 20px;
}
.mat-list .mat-list-item .mat-list-item-content {
  height: unset;
}
.card-content{
  padding-bottom: 0;
}
.mat-card{
  padding: 0;
  padding-bottom: 1em;
}
