 <!-- Chat View -->
 <mat-card class="card medium" style="max-height: 500px; display: block">
    <div class="card-content scroll-hide" style="overflow:auto" id="chat_div_space" >
      <mat-card class="main-card" >
          <mat-list class="chat-list" dense>
            <div *ngFor="let message of messages">
                <mat-list-item *ngIf="message.user !== current_user" >
                  <img mat-list-avatar [src]="getProfileImg(message.profile_img)" class="fix-size">
                  <h4 mat-line>
                      <b>{{message.user}}</b>
                      <i style="font-size: 12px; text-decoration: none;"> 
                        {{ message.timestamp }}
                      </i>
                  </h4>
                  <br>
                  <p mat-line >
                    <span *ngIf="message.the_type === 'plain' || message.the_type === undefined " >
                      {{message.content}}
                    </span>
                    <span *ngIf="message.the_type === 'image'">
                      <i> Uploaded an image </i>
                      <a [href]="message.content" target="_blank">
                          <img mat-list-icon [src]="message.content"/>
                      </a>
                    </span>
                    <span *ngIf="message.the_type === 'file' ">
                      <i> Uploaded a file: </i><a [href]="message.content" 
                        download="{{ message.user }}'s_upload">Download</a>
                    </span>
                  </p>
                </mat-list-item>
                <div class="me"  *ngIf="message.user === current_user" >
                    <mat-list-item >
                      <h4 mat-line >
                        <b>{{message.user}}</b>
                        <i style="font-size: 12px; text-decoration: none;"> 
                          {{ message.timestamp }}
                        </i>
                      </h4>
                      <p mat-line >
                          <span *ngIf="message.the_type === 'plain' || message.the_type === undefined " >
                            {{message.content}}
                          </span>
                          <!-- <span *ngIf="message.the_type === 'image'">
                              <i> Uploaded an image </i>
                              <a [href]="message.content" target="_blank">
                                  <img mat-list-icon [src]="message.content"/>
                              </a>
                          </span> -->
                          <app-image-lightbox *ngIf="message.the_type === 'image'" 
                            imageUrl="https://s3.amazonaws.com/assets.prod.linuxjobber.com/media/chat_uploads/59c50206e890d.jpg"></app-image-lightbox>
                          <span *ngIf="message.the_type === 'file' ">
                              <i> Uploaded a file: </i>
                              <a [href]="message.content" download="{{ message.user }}'s_upload">
                                Download
                              </a>
                          </span>
                      </p>
                      <div style="text-align: right;margin: 30px 0px 15px 15px; width: 50px; height: 50px;" >
                        <img *ngIf="user$|async as i" class="img-responsive img-circle fix-size" 
                          style="background: white" [src]="getProfileImg(i.profile_img)">
                      </div>
                    </mat-list-item>
                    <br style="clear:both" />
                </div>
            </div>
          </mat-list>
      </mat-card>
    </div>
   <mat-card-footer >
      <form class="form-group" style="display:flex ;margin-right: -30px">
        <div class="image-upload">
          <label for="file-input" style="top:4px">
            <i class="medium material-icons" >add</i>
            <input style="display: none" id="file-input" 
              (change)="fileChange($event)" type="file"/>
          </label>
        </div>
        <!-- <input (keyup.enter)="sendMessage(chat_text,'plain')" class="form-control"  name="chat_text" [(ngModel)]="chat_text" placeholder="Type Your Message Here" maxlength="400"> -->
        <input  class="form-control"  name="chat_text" 
          [(ngModel)]="chat_text" placeholder="Type Your Message Here" maxlength="400">
        <button class="send" (click)="sendMessage(chat_text,'plain')" id="submit"> 
          SEND
        </button>
      </form>
   </mat-card-footer>
</mat-card>