.image-upload > input
{
    display: none;
}
i.medium{
  font-size: 3rem;
 }
.mat-list .mat-list-item .mat-line{
  white-space: normal;
}

.scroll-hide::-webkit-scrollbar-thumb {
  background-color: #6173f4;
  outline: 1px solid #6173f4;
}
.scroll-hide::-webkit-scrollbar-track  {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.scroll-hide::-webkit-scrollbar {
/*  width: 0 !important;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;*/
   width: 0.7em;
   border: 0.5em;
   border-radius: 20px;
}


.mat-list .mat-list-item .mat-list-item-content {
  height: unset;
  display: block;
}
.card-content{
  padding-bottom: 0;
}
.mat-card{
  padding: 0;
  padding-bottom: 1em;
}

.mat-list-item {
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  width: auto;
  max-width: 350px;
  margin-left: 20px;
}

.me >.mat-list-item {
  text-align: right;
  float: right;
  background: rgba(27, 83, 158, 0.2);
  border-radius: 10px;
  margin-top: 10px;
  width: auto;
  max-width: 350px;
  padding: 0;
  height: auto;
  max-height: 500px;
}

.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow:none;
}

.mat-list-avatar {
  background-color: white;
}

form {
  /* This bit sets up the horizontal layout */
  display:flex;
  flex-direction:row;

  /* This bit draws the box around it */
  border:1px solid grey;
  /* I've used padding so you can see the edges of the elements. */

  margin-top: 12px;
  height: 50px;
  background: #FFFFFF;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.send{
  background: none;border: none;
  color: #1B539E;
}

input {
  /* Tell the input to use all the available space */
  /* And hide the input's outline, so the form looks like the outline */
  border:none;
}

input:focus{
  outline: none;
}

button {
  /* Just a little styling to make it pretty */
  border:1px solid blue;
  background:blue;
  color:white;
}

.mat-card-footer{
  padding-right: 50px;
  padding-left: 30px;
}

.fix-size{
  height: 36px;
  width: 36px;
}

.mat-list[dense] .mat-list-item.mat-2-line{
  height: auto;
  max-height: 500px;
  padding-bottom: 10px;
  padding-top: 10px;
}

html body app-root app-course div.container-fluid.all-field div.row div.col-md-9 div app-topic-chat mat-card.card.medium.mat-card div#chat_div_space.card-content.scroll-hide mat-card.main-card.mat-card mat-list.chat-list.mat-list div div.me mat-list-item.mat-list-item.mat-2-line div.mat-list-item-content div{
  margin: 10px 0px 15px 10px;
}

b{
  font-size: 15px;
  line-height: 1.46668;
}

.mat-line i{
  color: rgb(97, 96, 97);
}

p.mat-line{
  margin-top: 6px;
  line-height: 1.46668;
  text-align: left;
  word-wrap: break-word;
  color:rgba(29,28,29,1);
  font-variant-ligatures: common-ligatures;
}

.mat-list[dense] .mat-list-item .mat-line:nth-child(n+2){
  margin-top: 8px;
  font-size: 15px;
  white-space: pre-wrap;
}

img.img-responsive.img-circle.fix-size,img.fix-size.mat-list-avatar{
  border: 2px solid #fff;
}


div.chat-date{
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  top: 0;
}

.chat-date div{
  display: flex;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: rgba(29,28,29,1);
  cursor: default;
  font-variant-ligatures: common-ligatures;
}

/* .chat-date-text {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  top: 0;
} */

.chat-date div::before, .chat-date div::after{
  content:"";
  flex: 1 1;
  margin: auto;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2); 
  /* border-bottom: 0.5px solid rgb(128, 128, 128);  */
}

.chat-date span.chat-date-text{
  padding: .7rem;
  border-radius: 2.0rem;
  margin: 0 .5rem;
}

p.loading-history{
    font-size: 10pt;
    color: rgba(134,134,134,1);
    background: rgba(255,255,255,1);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.46668;
    font-weight: 400;
    font-variant-ligatures: common-ligatures;
}

mat-list.chat-list{
  position:relative;
  margin-top: 0px;
}

mat-card.mat-card{
  margin-top: 0px;
}

div#chat_div_space{
  padding-top: 0px;
}

img.fix-size{
  border-radius: 5px !important;
}

img.fix-size.mat-list-avatar{
  align-self: flex-start !important;
  /* margin-top: 2rem; */
}

:host::ng-deep mat-list-item.mat-list-item.mat-2-line div.mat-list-item-content div{
  align-self: flex-start !important;
  margin-top: 0px !important;
}
