




 <!-- Chat View -->
 <div class="card medium" style="max-height: 500px;">
  <div class="card-content" style="overflow:auto" id="chat_div_space">
  <mat-card class="main-card ">
    <mat-list class="chat-list">
      <mat-list-item *ngFor="let message of messages">

        <img mat-list-avatar src="https://api.adorable.io/avatars/284">
        <h4 mat-line>
          <b>{{message.user}}<i style="font-size: 12px; text-decoration: none;"> on {{ message.timestamp }}</i></b>
        </h4>
          <p mat-line>
              <span *ngIf="message.the_type === 'plain' || message.type === undefined " >
              <span> {{message.message}} </span>
            </span>
            <span *ngIf="message.the_type === 'image'">
              <span><i>Uploaded an image</i>
                  <a [href]="message.message" target="_blank">
                      <img mat-list-icon [src]="message.message"/>
                  </a></span>
            </span>
            <span *ngIf="message.type === 'file' ">
                <span><i>Uploaded a file: </i><a [href]="message.message" download="{{ message.user }}'s_upload">Download</a> </span>
            </span>

          </p>
      </mat-list-item>
    </mat-list>
  </mat-card>
  </div>
</div>


 <div class="form-group" style="display:flex">
     <div class="image-upload">
    <label for="file-input" style="top:4px">
        <i class="medium material-icons">add_circle_outline</i>
    </label>
    <input id="file-input" (change)="fileChange($event)" type="file"/>
</div>
  <input (keyup.enter)="sendMessage(chat_text,'plain')" class="form-control" type="text" id="message_box" name="chat_text" [(ngModel)]="chat_text" placeholder="Type Your Message Here">
  <button class="btn btn-default send" (click)="sendMessage(chat_text,'plain')" id="submit">
    <i class="material-icons right" id="send_icon">send</i>
  </button>
</div>
