<h5 style="text-align:center; font-weight: bolder;">Labs</h5>
<div class="lab_area" style="overflow: auto; height:450px;">
    <h5 class="course_topic">Topic</h5>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. At corrupti fuga minima, veritatis saepe quaerat impedit ducimus magnam, rerum tempora non odit voluptatem ipsa pariatur fugiat! Quas consectetur error similique?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem sunt id sed eligendi, delectus, unde perferendis quas, aperiam fugiat quae iusto similique officia facere voluptas quibusdam cum dignissimos nemo voluptatum.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, illo! Aliquid quae quidem tenetur natus obcaecati quisquam, dolor optio dolores eveniet ratione earum veritatis perferendis. Necessitatibus hic quasi laborum ea.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto obcaecati voluptate molestias consequuntur hic similique. Quisquam fuga facilis porro cum sint minus pariatur reprehenderit nemo, fugiat laborum nostrum earum saepe?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ab aliquam eum placeat? Architecto quos repudiandae ad ab tempore beatae nobis praesentium quas quia! Dignissimos deleniti voluptatem et quam corrupti.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus sequi, ipsa facilis voluptas sint odit repellat officia qui praesentium quis dolores deleniti ea, ipsam, culpa doloribus incidunt. Veniam, recusandae explicabo.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste odio ut voluptate perferendis ullam eaque dicta necessitatibus repellat sapiente dolorum pariatur repudiandae ratione expedita, eos reiciendis error excepturi aspernatur? Libero.
    </p>
  </div>

