<header *ngIf="user$|async as user">
<nav class="navbar">
  <div class="container" style="margin-top: 10px">
    <div class="navbar-header" style="">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="margin-left: -130px;margin-top: -10px">
          <img style="width: 166px;height: 42px;" src="/assets/image/Final-Logo.png" alt="no image" >
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav vcenter">
        <li class="active" ><a href="#" style="color: whitesmoke;">Classroom Profile</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" style="margin-right: -100px">
        <li><a style="margin-right: -100px;color: whitesmoke;" *ngIf="group$|async as _group" [routerLink]="['/classroom',_group.id]">Go to Classroom</a></li>
      </ul>
    </div>
  </div>
</nav>



<div class="ellip">
  <img [src]="user.profile_img" class="ellipse"  alt="" >
</div>
<div class="setup">
<p class="rite">{{ user.first_name }} {{ user.last_name }}</p>
<span style="font-size: 13px; margin-left:4px; text-align: center;">{{ user.email }}</span><br>
<a class="hg" (click)="logout()">LOGOUT</a><br><br><br>
<a  [routerLink]="['/classroom']">Courses</a><br>
<a [routerLink]="['./profile']" >Profile</a><br>
<a [routerLink]="['./attendance']">Attendance</a><br>
<a [routerLink]="['./students']" >Students</a>
</div>


<div class="rectangle">
</div>


      <!-- <div id="chat-dropdown" class="dropdown-content dropdown-tabbed">
        <ul class="tabs tabs-fixed-width">
          <li class="tab col s3"><a href="#settings">Settings</a></li>
          <li class="tab col s3"><a href="#friends" class="active">Friends</a></li>
        </ul>
        <div id="settings" class="col s12">
          <div class="settings-group">
            <div class="setting">Night Mode
              <div class="switch right">
                <label>
                  <input type="checkbox"><span class="lever"></span>
                </label>
              </div>
            </div>
            <div class="setting">Beta Testing
              <label class="right">
                <input type="checkbox"><span></span>
              </label>
            </div>
          </div>
        </div>
        <div id="friends" class="col s12">
          <ul class="collection flush">
            <li class="collection-item avatar">
              <div class="badged-circle online"><img src="../../cdn.shopify.com/s/files/1/1775/8583/t/1/assets/portrait10e4f.jpg?7262588947120957653" alt="avatar" class="circle"></div><span class="title">Jane Doe</span>
              <p class="truncate">Lo-fi you probably haven't heard of them</p>
            </li>
            <li class="collection-item avatar">
              <div class="badged-circle"><img src="../../cdn.shopify.com/s/files/1/1775/8583/t/1/assets/portrait20e4f.jpg?7262588947120957653" alt="avatar" class="circle"></div><span class="title">John Chang</span>
              <p class="truncate">etsy leggings raclette kickstarter four dollar toast</p>
            </li>
            <li class="collection-item avatar">
              <div class="badged-circle"><img src="../../cdn.shopify.com/s/files/1/1775/8583/t/1/assets/portrait30e4f.jpg?7262588947120957653" alt="avatar" class="circle"></div><span class="title">Lisa Simpson</span>
              <p class="truncate">Raw denim fingerstache food truck chia health goth synth</p>
            </li>
          </ul>
        </div>
      </div> -->

    </header>
