/* @import "../style.css"; */
img.img-responsive{
  height:50px;
}

.navbar{
  height: 77px;
  background: #333333;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  font-family:'Roboto',sans-serif;
}

.lj-text {
  color: rgba(255, 255, 255, 0.8);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  font-family:'Roboto',sans-serif;
}

.img-container{
  position: absolute;
width: 166px;
height: 42px;
left: calc(50% - 166px/2 - 587px);
top: 18px;
}

.text-course{
  position: absolute;
width: 141px;
height: 29px;
left: 649px;
top: 24px;

font-family:'Roboto',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: normal;

color: rgba(255, 255, 255, 0.8);
}

.panel{
    margin-right: 0;
}

.panel-body > .foot{
 position: absolute;
        bottom: 0;
}

#foot > .col-md-3{
  padding: 0;
}


.bottom {
    display: table;
}

.bottom > div {
    float: none;
    display: table-cell;
}

.nav  > li{
  padding-right: 30px;
  font-size: 12px;

}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
.setup{
  display: inline-block;
  align-items: center;
  margin-top:75px;
  margin-left: 75px;
  /* align-content: center; */
  width:inherit;
  height:inherit;

 }
 .setup a{
 text-decoration: none;
 font-family:'Roboto',sans-serif;
 font-style: normal;
 font-weight: 500;
 font-size: 16px;
 text-align: left;
 line-height: 16px;
 color: rgba(0, 0, 0, 0.8);
 }


.setup a:first-of-type
   {
     font-size: 10px;
    margin-left: 35%;
    text-align: center;
   padding: 0px 7px 3px 7px;
   border-bottom: 2px black solid;}
 
 
   .rite{
  font-family:'Roboto',sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}
.ellipse{
  width: 118px;
  height: 118px;
  border-radius: 118px;
  align-self: center;
  margin-left: 10%;
  margin-bottom: 20px;
  border: 1px rgb(15, 15, 15) solid;
  background: #FFFFFF;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  }
.rectangle{/* position: absolute; */
  width: inherit;
  height: inherit;
  margin-left: 22%;
  margin-top:-370px;

  background: transparent;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

/* .setup > .fas:active{
  color: aqua;
} */
  

.fas{
  color:white;
  margin-right: 3px;
}
.fas:active{
  color: black;
  /* margin-right: 3px; */
}
.setup .link{
  margin-bottom: 20px;
}

/* a .fas:active{
  display: block;
} */
/* i:active{
  display: block;} */
