@import '../../admin-materialize.min0e4f.css';


.scroll-hide::-webkit-scrollbar-thumb {
  background-color: #6173f4;
  outline: 1px solid #6173f4;
}
.scroll-hide::-webkit-scrollbar-track  {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.scroll-hide::-webkit-scrollbar {
/*  width: 0 !important;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;*/
   width: 0.7em;
   border: 0.5em;
   border-radius: 20px;
}

