@media (min-width: 768px) {
    .text-center-sm {
        text-align: center;
    }
}

.bgimage {
    max-width:100%;
    height:500px;
    background: url('../images/combined_header.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-color: rgba(27, 83, 158, 0.65);
    margin-left: auto;
    margin-right: auto;
    display: block;
}  

.bgimage a:hover{text-decoration:none;
                color:rgb(5, 16, 53);
             }
    
    .overlay-color{
       padding: 150px 50px;
      background:rgba(27, 83, 158, 0.65);
      width:100%;
      height:100%;
      background-size:cover;
      background-position: center;
  }
  .bgimage h1{color:white;
font-style: normal;
font-weight: 500;
font-size: 80px;
line-height: 94px;
    text-align: center;
    margin-bottom:10px;
  }
  .bgimage p{color:white;
font-style: normal;
font-weight: 500;
font-size: 24px;
      text-align: center;
line-height: 28px;
  }
  .c-header{
      text-align: center;
  }
.c-header > .btn .btn-primary{
    background-color: white;
    color: rgba(27, 83, 158, 0.65);
    border-radius: 10px;
}
.c-header > .btn .btn-secondary{
    background-color: rgba(27, 83, 158, 0.65);
    color: white;
    border:0;
}
.bgbtn{
    background: white;
    font-size: 18px;
    font-weight: bold;
    color: #4975B1;
    padding: 5px 15px 5px 15px;
    border: 1px solid white;
    border-radius: 8px;
}
.lmbtn{
    background: transparent;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 5px 15px 5px 15px;

}

  .bnbtn{
      background: #333333;
      color: white;
      font-weight: bold;
      padding:5px 100px;
  }
  .lnmr{color:white;
      font-weight: bold;
      font-size: 20px;
  }
  .last{
      text-align: center;
      margin-bottom:30px;
  }


  .slanteda{

    background: linear-gradient(180deg, rgba(27, 83, 158, 0.1) 0%, rgba(27, 83, 158, 0.05) 100%);
    -webkit-clip-path: polygon(0 0, 100% 8%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 8%, 100% 100%, 0% 100%);
    padding: 10px;
      padding-top: 100px;

  }
  .text-2{
      margin-top:2vw;
}
 .text-2 p{
    font-size: 18px;
    font-weight: bold;
    text-align: center;     
} 
.text-2 h1{
    font-size: 40px;
    color:rgb(133, 163, 203);
    font-weight: bold;
    text-align: center;
    margin-bottom:0px;      
}
.icon1{
         width: 560px;
height: 560px;

}
.icon1 img{
    width: 560px;
    height: 560px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.icon2{
padding-top: 25%;
}


  .v2 {
      margin-top: 11vw;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    height: 17vw;
    position: absolute;
    left: 50%;
    margin-left: -3px;
  }
  .icon2 p{
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;
 } 
 .icon2 h1{
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

color: rgba(27, 83, 158, 0.5);
     margin-bottom:0px;      
 } 
 .icon2 h5{
     font-size: 15px;
     margin-top:30px;      
 }
 .line2{
     margin-top:100px;      
 }
 .com{
     padding:50px 30px;
 }
 .card{
     text-align: center;
     background:white;
     border-radius: 10px;
     height:400px;
     padding:50px 50px;
     box-shadow: 0px 0px 2px 1px #dddddd;
 }
 .card > h3{
    color: black;
 }
 .large{
     margin-top: 20px;
font-size: 72px;
line-height: 84px;
 }
 .sup{vertical-align: super;
    font-size:20px;
    font-weight: 100;
 }
 .jar h3{
    color:rgb(133, 163, 203);

 }
 .lead{
     font-size:15px;
     opacity:0.5;
 }
 hr{border-top: 1px solid rgb(133, 163, 203);
 }
 .cmb-table tr td{
     border:0;
     padding: 0;
 }

 .c-img{

     width: 560px;
height: 560px;
 }