@media (min-width: 768px) {
    .text-center-sm {
        text-align: center;
    }
}

.bgimage {
    max-width:100%;
    min-height:530px;
    background: url('../images/cbheader.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-color: rgba(27, 83, 158, 0.65);
}  


.bgimagenew {
    max-width:100%;
   height:300px;
    background: url('../images/combina.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    
}  


.bgimage a:hover{
    text-decoration:none;
                color:rgb(5, 16, 53);
             }
    
.overlay-color{
    padding: 150px 50px;
      background:rgba(27, 83, 158, 0.65);
      width:100%;
      height:530px;
      background-size:cover;
      background-position: center;
  }

.bgtopper{
    padding: 50px 0px;
}

.bgimagenew h1{color:white;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 55px;
        text-align: left;
        margin-bottom:30px;
      }


      .bgimagenew p{color:white;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        text-align: right;
        line-height: 28px;
          }
.bgimagenewbut{
    background: #FFFFFF;
    border-radius: 5px;
    font-size: 16px;
    color: #1B539E;
    min-width: 260px;
    min-height: 55px;
    padding-top: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.combi-right{
    margin-top: 50px;
    text-align: right;
    padding-right: 0px;
}

.combisecleft{
    padding-top: 40px;
}

.combplus{
    font-size: 24px;
}
.com1{
    padding-top: 70px;
    padding-bottom: 50px;
}

.pastg{
    padding-bottom: 40px;
}
.combcert1{
    max-width: 400px;
    max-height: 220px;
    margin-bottom: 30px;
}

.combinedh12{
    color: #4975B1;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 30px;
}

.com2{
    margin-bottom: 30px;
}
.combinedh1{
    font-size: 35px;
    font-weight: 600;
    color: #4975B1;
}
.combinedp1{
    font-size: 16px;
    color: #808080;
    font-weight: 600;
}
.combinedp1span{
    font-size: 16px;
    font-weight: 600;
    color: #76AADB;
}
.combinedsec2{
    padding-top: 30px;
    padding-bottom: 30px;
}
.combi{
    padding-left: 0px;
}
.combinedp2{
    font-size: 16px;
    font-weight: 600;
    color: rgba(51, 51, 51, 0.8);
}

.combinedsec2right{
    text-align: right;
}
.btn-blackbim{
    color: #FFFFFF;
    background: #242525;
    border-radius: 5px;
    margin-top: 25px;
    min-width: 480px;
    font-size: 14px;
    border-color: #242525;
    font-weight: 600;
    min-height: 45px;
    padding-top: 10px;
}

.btn-blackbim2{
    color: #FFFFFF;
    background: #242525;
    border-radius: 5px;
    margin-top: 25px;
    min-width: 480px;
    font-size: 14px;
    border-color: #242525;
    font-weight: 600;
    padding-top: 10px;
    min-height: 45px;
}
.combi-but{
    margin-top: 10px; 
}

.comcourse{
    background: #FAFAFA;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    cursor: pointer; 
    width: 250px;
}

.comcor1{
    color: #76AADB;
    font-size: 24px;
}

.comprice{
    font-size: 60px;
}

.comprice1{
    font-size: 30px;
}

.combimg{
    padding-top: 80px;
    padding-right: 200px;
}
  .bgimage h1{color:white;
font-style: normal;
font-weight: 500;
font-size: 80px;
line-height: 94px;
    text-align: center;
    margin-bottom:10px;
  }
  .bgimage p{color:white;
font-style: normal;
font-weight: 500;
font-size: 24px;
      text-align: center;
line-height: 28px;
  }
  .c-header{
      text-align: center;
  }
.c-header > .btn .btn-primary{
    background-color: white;
    color: rgba(27, 83, 158, 0.65);
    border-radius: 10px;
}
.c-header > .btn .btn-secondary{
    background-color: rgba(27, 83, 158, 0.65);
    color: white;
    border:0;
}
.bgbtn{
    background: white;
    font-size: 18px;
    font-weight: 600;
    color: #1B539E;
    padding: 5px 15px 5px 15px;
    border: 1px solid white;
    border-radius: 8px;
}
.lmbtn{
    background: transparent;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 5px 15px 5px 0px;

}

  .bnbtn{
      background: #333333;
      height: 38px;
      color: white;
      border-radius: 11px;
      font-weight: bold;
      font-size: 18px;
      padding:5px 100px;
  }
  .lnmr{color:white;
      font-weight: bold;
      font-size: 20px;
  }
  .last{
      text-align: center;
      margin-bottom:30px;
  }


  .slanteda{

    background: linear-gradient(180deg, rgba(27, 83, 158, 0.1) 0%, rgba(27, 83, 158, 0.05) 100%);
    -webkit-clip-path: polygon(0 0, 100% 8%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 8%, 100% 100%, 0% 100%);
    padding: 10px;
      padding-top: 100px;

  }
  .text-2{
      margin-top:2vw;
}
 .text-2 p{
    font-size: 18px;
    font-weight: bold;
    text-align: center;     
} 
.text-2 h1{
    font-size: 40px;
    color:#4975B1;
    font-weight: bold;
    text-align: center;
    margin-bottom:0;
}
.icon1{
         width: 560px;
height: 560px;

}
.icon1 img{
    width: 560px;
    height: 560px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.icon2{
padding-top: 1%;
color:rgba(51, 51, 51, 0.8);
}


  .v2 {
      margin-top: 11vw;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    height: 17vw;
    position: absolute;
    left: 50%;
    margin-left: -3px;
  }
  .icon2 p{
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;
 } 
 .icon2 h1{
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

color: rgba(27, 83, 158, 0.5);
     margin-bottom:0px;      
 } 
 .icon2 h5{
     font-size: 15px;
     margin-top:30px;      
 }
 .line2{
     margin-top:100px;      
 }
 .com{
     padding:50px 30px;
 }
 .card{
     text-align: center;
     background:white;
     border-radius: 10px;
     height:400px;
     padding:50px 50px;
     box-shadow: 0px 0px 2px 1px #dddddd;
 }
 .card > h3{
    color: black;
 }
 .large{
     margin-top: 20px;
font-size: 72px;
line-height: 84px;
 }
 .sup{
     vertical-align: super;
    font-size:18px;
    font-weight: normal;
 }
 .jar h3{
    color:rgb(133, 163, 203);

 }
 .lead{
     font-size:15px;
     opacity:0.5;
 }
 hr{border-top: 1px solid rgb(133, 163, 203);
 }
 .cmb-table tr td{
     border:0;
     padding: 0;
 }

 .c-img{

     width: 560px;
height: 560px;
 }


    .combinedblueban {
        background-color: #1B539E;
        height: 72px;
    }

    .cir-white {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 5px;
        background: #ffffff;
    }
    .cir {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.6);
        margin-right: 3px;
    }

    .icon2 ul > li{
        font-size: 12px;
        padding-bottom: 3px;
        margin-right: 5px;
        font-weight: 200;
        color: #808080;
    }
    .icon3 ul > li:before {
        color: #808080;
   content: '';
        border-radius: 5px;
   display: inline-block;
        margin-right: 1px;
   height: 8px;
   width: 8px;
 background: rgba(0, 0, 0, 0.6);
 margin-left: 10px;
    }

    .icon3 ul > li{
        font-size: 12px;
        padding-bottom: 3px;
        margin-left: 5px;
        font-weight: 200;
        color: #808080;
    }
    .icon2 ul > li:before {

   content: '';
        border-radius: 5px;
   display: inline-block;
        margin-right: 1px;
   height: 8px;
   width: 8px;
 background: rgba(0, 0, 0, 0.6);
 margin-right: 10px;
    }
    .dark{
font-size: 14px;
        font-weight: 600;
    }

    .btn-black {
        margin-top: 40px;
        width: 140px;
        height: 38px;
        font-weight: 600;
        font-size: 17px;
        background: #242525;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        color: #fff;
    }


    .courses {
        margin-top: 25px;
        padding-bottom: 5px;
        font-size: 14px;
        font-weight: revert;
    }

    .card {
        cursor: pointer;
    }

