
.signin-btn {
	background-color: white;
	border-radius: 15px;
	width: 445px;
	height: 56;
	margin-left: 42px;
	text-align: center;
	padding-top: 17px;
	padding-bottom: 17px;
}


.form-board {
	background: rgba(0, 0, 0, 0.7);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(10px);/* Note: backdrop-filter has minimal browser support */
	border-radius: 51px;
	height: 510px;
	width: 528px;
}

.create-new-account {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	color: #ffffff;
	width: 196px;
	height: 22px;
	padding-top: 30px;

}

.signin-align {
	font-size: 24px;
	font-weight: bold;
	width: 80px;
	height: 29px;
	margin-top: 13.49px;
	margin-left: 227px;
}

#email-label {
	width: 82px;
	height: 22px;
	margin-left: -404px;
	font-size: 18px;
	color: #FFFFFF;
	margin-top: 20px;
}

#password-label {
	width: 82px;
	height: 22px;
	margin-left: -370px;
	font-size: 18px;
	color: #FFFFFF;
	margin-top: 20px;
}

#forgot-pwd {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 18px;
	color: #FFFFFF;
	margin-left: 310px;
	padding-top: 0px;
}