h3{
    margin: 0px;
    padding: 0px;
}
ul{
    padding: 0;
    margin: 0;
}
ul li{
    display: inline-block;
    margin: 10px;
    text-shadow: 2px 2px 7px grey;
    font-size: 27px !important;
}

.satisfaction-rate{
    
    
}
.satisfaction-rate i:hover{
    color: yellow;
}
.recommend-rate i:hover{
    color: yellow;
}

ul li.active,  ul li.secondary-active{
    color: yellow;
}
#id_satisfaction{
    display: block;
} 

input[type="radio"]{
    display: none;
}