/* html body * {
    font-family: 'Roboto', "Helvetica Neue", sans-serif;
} */
h3{
    margin: 0px;
    padding: 0px;
}

.text-center2{
    margin-top: 5%;
}

.text-center2 h3{
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #1B539E;
    padding-bottom: .2rem;
}

.text-center2 p{
    font-family: 'Roboto', "Helvetica Neue", sans-serif;
    font-weight: 300;
    font-size: 3.6rem;
    line-height: 4.2rem;
    text-align: center;
    color: #333333;
    padding-bottom: 1rem;

}
.label-style, #starvalue-1, #starvalue-2{
    font-family: 'Roboto', "Helvetica Neue", sans-serif;
    /* display: block; */
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #333333;
    text-align: left;
    padding-bottom: 0.1rem;
    margin-bottom: 10px;
}
.text-center2 textarea{
    font-size: inherit;
    line-height: inherit;
    min-height: 20rem;
    border: 0rem;
    width: 50%;
    padding: 10px;
    /* background: rgba(61, 42, 42, 0.05); */
    border-radius: 0.5rem;
}

.form-row ul{
    padding: 0;
    margin: 0;
}
.form-row ul li{
    display: inline-block;
    margin: 10px;
    text-shadow: 2px 2px 7px grey;
    font-size: 27px !important;
} 
i, input[type="checkbox"]{
    width: 30px;
    height: 30px;
}

.satisfaction-rate{
    
    
}
.satisfaction-rate i:hover{
    color: yellow;
}
.recommend-rate i:hover{
    color: yellow;
}

ul li.active,  ul li.secondary-active{
    color: yellow;
}
#id_satisfaction{
    display: block;
} 

input[type="radio"]{
    display: none;
}
.has-friend input[type="radio"]{
    display: inline-block;
}
.has-friend{
    display: block;
}

.feedback{
    display: block;
}
.has-friend ul label{
    font-family: 'Roboto', "Helvetica Neue", sans-serif;
}