body{
    background-color: #E5E5E5;
}
.first-cont{
    /* background-color: rgba(27, 83, 158, 0.5); */
    background-image: url("../images/testimons.png");

}
.second-cont{
    max-height: 600px;
    overflow-y: scroll;
}
.first-cont::before{
    content: '';
    border-radius: 25%;
    position: relative;
    background-color: #E5E5E5;
    display: flex;
    margin-left: 100%;
    top: 70px;
    width: 26px;
    height: 48px;
    background: url("../images/Polygon.png");
}


.style-text{
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 8%;
    margin-top: 8%;
    font-style:normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 54px;
    font-family: 'Roboto';
    align-items: center;
    vertical-align: top;
    color: #1B539E;

}
.btn {
    display: block;
    font-weight: 500;
    line-height: 1.6rem;
    color: #ffffff;
    padding: 1.7rem 6.6rem;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    font-family: 'Roboto';
    background: linear-gradient(#1B539E,#002353);
    border-radius: 0.5rem;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 176px;
}

.media-1{
    background-color: rgba(255, 255, 255, 0.2);
    padding-left: 2%;
    padding-right: 3%;
    border-radius: 10px;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 20px;
}

.media-1 p{
    margin-top: 2%;
    margin-bottom: 3%;
    font-family: 'Roboto';
    color: #ffffff;
}

.founder{
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
}

.founder div p{
    align-items: initial;
    margin-left: 4px;
    font-family: 'Roboto';
    color: black;
    
}

.founder img{
    border-radius: 50%;
}

.feedbacks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 5.5%;
    padding-right: 3%;
    padding-top: 5%;
    
}

.media-2{
    background-color:#E5E5E5;
    padding-right: 2px;
    border-radius: 10px;
    box-shadow: rgba(27, 83, 158, 0.25);
}

.boxx{
    display: flex;
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 1rem;
    /* flex-basis: 48%; */
    width: 371px;
    height: 190px;
    background-image: url("../images/test-bg.png");
    background-size: auto;
    background-repeat: no-repeat;
    /* position: relative; */
}
/* 
.boxx::after{
    content: url("");
    position: sticky;
    clear: both;
    display: table;
    width: 65px;
    height: 65px;
    margin-left: 0%;
    left: 0rem;
    bottom: 0rem;
    background: url("../jo.png");
    border: 5px solid #E5E5E5;
    border-radius: 50%;
    background-size: cover;

} */

.positn{
    font-family: Roboto;
    font-style: normal;
    /* font-weight: 500; */
    font-size: 14px;
    line-height: 16px;
}

.positn1{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding-left: 0;
    position: relative;
    display: block;
    margin-bottom: 2px;

}
.testimoni{
    width: 316.2px;
    height: 71.11px;
    margin-left: 7%;
    margin-right: 7.2%;
}
.testimoni p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #333333;
}

.quo1{
    display: flex;
    padding: 0;
    margin-left: 2%;
}
.quo2{
    display: flex;
    padding: 0;
    margin-left: 92.5%;
}
.person{
    display: flex;
    justify-content: stretch;
    align-items: center;
    text-align: start;
    margin-top: 1.8rem;
}

.feedback-img{
    width: 53px;
    height: 53px;
    margin-left: 0%;
    margin-right: 15px;
    border: 0px solid #E5E5E5;
    border-radius: 50%;
    background-size: cover; 
    border: 1px solid #E5E5E5;
    /* width: 369px; */
}

.feedback-person{
    color: #1B539E;
    margin-right: 5.93%;
    width: 300px;
}
.feedback-person p{
    font-family: Roboto;
    font-style: normal;
    /* font-weight: 500; */
    font-size: 12px;
    line-height: 16px;
}
.feedback-person span{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}