.inner-box.category-content {
    border: 1px solid #ddd;
    border-radius: 13px;
    margin: 15px 0;
    padding: 25px 0 0;
    width: 100%;
    
    background: #e6e3e3;
}


.footer {
	padding: 50px;
	background: #313328;
	color: #fff;
}

.footer h2 {
	color: #c4c4c4;
	font-size: 30px;
}

.footer li {
	list-style: none;
	color: #fff;
}

.footer a {
	color: #fff;
}

.footer{
    margin: 0; !important
}

.benefits-text {
	margin: 100px 50px;
	color: #fff;
}

.benefits-text h4 {
	margin-bottom: 50px;
}

.benefits-text h2 {
	color: #fff; !important
}

.h h2 {
	color: #fff; !important
}

.hiw p {
	padding: 0px 0px;
	color: #000; !important
}

.hiw {
	padding: 10px 30px 10px 30px;
}


.form-group p {
	color: #111;
	margin-bottom: 15px;
}



/**Home Page Implementation**/

.navhead{
	background: url(../imgs/jobban2.png);
	height: 11vh;
	background-size: cover;
    background-repeat: no-repeat;
}

.homebanner{
	background: url(../imgs/homebanner.png);
	min-height: 82vh;
    width: 100%;
	background-size: cover;
    background-repeat: no-repeat;
}

.homebantext{
	padding-top: 80px; 
	padding-left: 70px;
}

.homebanh1{
	color: #fff;
	font-weight: bold;
	font-size: 48px;
}

.homeworkh2{
	font-size: 36px;
	color: #1B539E;
	font-weight: bold;
}

.homebanp{
	color: #fff;
	font-weight: bold;
}

.homedot{
	height: 10px;
    width: 10px;
    color: #fff;
    background-color: #fff;
    border-radius: 50%;
    font-size: 45px;
    display: inline-block;
    margin-left: 5px;
    margin-top: 20px;
}

.homedotp{
	height: 8px;
    width: 8px;
    color: #fff;
    background-color: transparent;
    border-radius: 50%;
    font-size: 45px;
    display: inline-block;
    margin-left: 5px;
}

.homebanbut{
	color: #FFFFFF;
	background: rgba(0, 0, 0, 0.8);
	box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25);
	border-radius: 10px;
	padding: 10px 30px 10px 30px;
	font-weight: bold;
}

.homework{
	padding-top: 60px;
	padding-bottom: 60px;
}

.homeworkrit{
	margin-left: -40px;
}

.homeworkleft{
	padding-top: 70px;
	padding-left: 80px;
}

.homeworkp{
	font-size: 18px;
	color: rgba(0, 0, 0, 0.8);
}

.homep{
	margin: 0;
    padding: 0;
    line-height: 0px;
}
.homeworkdot{
	height: 8px;
    width: 8px;
    color: #fff;
    background-color: black;
    border-radius: 50%;
    font-size: 45px;
    display: inline-block;
    margin-left: 5px;
}

.homejob{
	background: rgba(229, 229, 229, 0.2);
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 45px;
	padding-right: 45px;
}

.homejobrit{
	padding-top: 20px;
}

.homelive{
	padding-top: 70px;
	padding-bottom: 50px;
}

.homeliveleft{
	padding-left: 70px;
}
.homeliverit{
	margin-left: -70px;
}

.homesign{
	background: rgba(229, 229, 229, 0.2);
	padding-top: 30px;
	padding-bottom: 30px;
}

.homesignin{
	padding-left: 60px;
	padding-right: 60px;
	margin-top:20px;
}

.homesignhd{
	margin-bottom: 0px;
	padding-bottom: 0px;
	line-height: 0px;
}

.homesignp{
	font-size: 14px;
}

.homehr{
	color: black;
	background-color: black;
	border-top: 1px solid black;
	border-radius: 4px;
	height: 3px;
	line-height: 0px;
}

.testhome{
	padding-top: 50px;
	padding-bottom: 50px;
}

.testhomein{
	padding-left: 60px;
	padding-right: 60px;
}

.testimg{
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.testhomerit{
	padding-top: 50px;
}

.testhompdiv{
	padding-left: 30px;
}
.testhomep{
	font-size: 24px;
	padding-top: 50px;
	padding-right: 0px;
}

.testhomep2{
	margin-top: 40px;
	font-size: 36px;
	font-weight: bold;
}

.testhomehq2{
	margin-top: 80px;
	padding-top: 100px;
	margin-left: -10px;
}

.homeclient{
	background: rgba(229, 229, 229, 0.2);
	padding-top: 30px;
	padding-bottom: 30px; 
}

.homeclients{
	margin-top: 20px;
}

.homesignbot{
	margin-top: -10px;
}
@media (min-width: 320px) and (max-width: 640px) {
	.homebanner{
		background-size: 418px 200px;
		min-height: 35vh;
	}

	.homebantext{
		padding-top: 10px; 
		padding-left: 10px;
		text-align: center;
	}

	.homebanh1{
		color: #fff;
		font-weight: bold;
		font-size: 30px;
	}

	.homebandet{
		display: none;
	}

	.homework{
		padding-top: 0px;
		padding-bottom: 60px;
	}

	.homeworkleft{
		margin-top: 10px;
		padding-top: 20px;
		padding-left: 0px;
	}

	.homecenter{
		text-align: center;
	}

	.homeworkp{
		font-size: 14.5px;
		color: rgba(0, 0, 0, 0.8);
		margin-bottom: 15px;
	}

	.homejob{
		padding-left: 0px;
		padding-right: 0px;
	}

	.homeworkh2{
		font-size: 24px;
	}

	.homeworkspan{
		margin-bottom: 20px;
		color: black;
	}


	.homeworkrit{
		margin-left: 0px;
	}

	.homeworkimg{
		width: 100%;
	}

	.homeliveimg{
		padding-left: 50px;
	}

	.homeliveleft{
		margin-left: 0px;
		padding-left: 0px;
	}

	.liveimg{
		margin-left: 10px;
		width: 100%;
		
	}

	.hml{
		display: none;
	}

	.supright{
		text-align:left;
	}

	.homeworkdotr{
		height: 8px;
	    width: 8px;
	    color: #fff;
	    background-color: black;
	    border-radius: 50%;
	    font-size: 45px;
	    display: inline-block;
	}

	.signimg{
		width: 100%;
	}

	.homesignin{
		padding-left: 0px;
		padding-right: 0px;
	}

	.testimg{
		width: 100%;
	}

	.testhomein{
		padding-right: 5px;
		padding-left: 5px;
	}

	.testhomefimg{
		padding-left: 10px;
		padding-right: 10px;
	}

	.testhomerit{
		padding-top: 0px;
	}

	.testimob{
		margin-top: 15px;
	}

	.testhomep{
		padding-top: 20px;
	}

	.testhompdiv{
		padding-left: 0px;
	}

	.homequo{
		display: none;
	}

	.homesignbot{
		margin-bottom: 20px;
	}

	.homesign3{
		margin-bottom: 0px;
	}



}

@media (min-width: 768px) and (max-width: 1024px) {
	.homebanner{
		background-size: 768px 600px;
		width: 100%;
		min-height: 60vh;
	}

	.homeworkimg{
		margin-left: 50px;
		width: 90%;
	}

	.homebantext{
		padding-left: 0px;
	}

	.homeworkleft{
		margin-top: 0px;
		padding-left: 0px;
	}

	.homejobrit{
		padding-right: 0px;
		margin-right: -40px;
	}

	.homeliveleft{
		margin-left: 0px;
		padding-left: 0px;
	}

	.signimg{
		width: 100%;
	}

	.liveimg{
		margin-left: 80px;
		padding-left: 30px;
		width: 80%;	
	}

	.testimg{
		width: 100%;
	}

	.homesign3{
		margin-top: 30px;
	}

	.homequo{
		display: none;
	}
	.clientsimg{
		width: 30%;
	}

	.homecenterd{
		text-align: center;
	}
}

