/**Group Class **/
.groupblueban{
  background-color: #1B539E;
    height: 70px;
}

.groupblueban2{
  background-image: url("../imgs/groupclass.png");
  min-height: 80vh;
  padding-top: 130px;
  background-size: cover;
  background-repeat: no-repeat;
}

.groupblueban2h{
  font-size: 36px;
  color: #FFFFFF;
}

.groupblueban2p{
  font-size: 14px;
  color: #FFFFFF;
  font-weight: bold;
}

.groupclabut{
  background: #252525;
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  font-size: 14px;
  padding-left: 25px;
  padding-right: 25px;
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 10px;
}

.groupclabut2{
  background: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  color: #fff;
  padding-left: 25px;
  padding-right: 25px;
}

.gstat{
  color: green;
}

.groupsched{
  padding-top: 60px;
}

.groupcard{
  height: 35vh;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 20px;
  padding-bottom: 20px;
  color: white;
}

.groupcard1{
  background: url("../imgs/gclass1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.groupdate{
  margin-top: 80px;
  font-weight: 500;
}

.groupdate2{
  margin-top: 10px;
  font-weight: 500;
}

.grouppaycard{
  background: #FFFFFF;
  /* Drop Shadow */
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.groupamount{
  font-size: 72px;
}


.groupwhy{
  padding-top: 30px;
  padding-bottom: 50px;
  margin-bottom: 20px;
}

.grouptesti{
  padding-top: 30px;
  padding-bottom: 50px;
}

.grouptestcard{
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.groupsup{
  font-size: 14px;
}
.groupbottom{
  background: url("../imgs/groupclassbot.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 40vh;
  color: white;
}

.groupinput{
  outline: 0;
  border-width: 0 0 2px;
  border-color: blue;
  height: 50px;
}


.elig{
	margin-top: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}


.eligh1{
	font-size: 24px;
  color: #4975B1;
  margin-bottom: 30px;
  font-weight: 600;
}

.eligp1{
  font-weight: 600;
  font-size: 14px;
}

.eligsec{
  background: #F2F2F2;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.eligsecp{
  color:grey;
  font-size: 16px;
}

.eligsech1{
  color: #000000;
  font-size: 24px;
  font-weight: 600;
}

.eligqut{
  font-size: 16px;
  font-weight: 600;
}

.eligqutin{
  font-size: 14px;
  color: grey;
}

.eligform{
  margin-top: 10px;
}

.eligforminput{
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  border-radius: 5px;
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  height: 90px;
}

.eligforminputp{
  margin-top: 8px;
}

.eligformin::before{
  border:white;
}
.eligformin{
  margin-top: 15px;
  border: white;
  padding: 0px;
  border-top: none;
}


.eligformin1::before{
  border-bottom: 2px black;
}
.eligformin1{
  margin-top: 15px;
  border-bottom: 2px solid black;
  padding: 0px;
  border-top: none;
  font-size: 14px;
  line-height: 1.42857143;
}

.eliglabel{
  margin-top: -10px;
}

.eligformcol{
  padding-left: 3px;
  padding-right: 3px;
  margin-bottom: 10px;
}

.eligformwidth{
  width: 28%;
}

.eligformwidth2{
  width: 27.3%;
}

.eligformwidth3{
  width: 33%;
}

.eligformwidth4{
  width: 13.2%;
}

.eligformwidth5{
  width: 25%;
}

.eligquter{
  padding-left: 20px;
}

.eligformwidth6{
  width: 36%;
}

.eligformwidth7{
  width: 14%;
}

.btnelig{
  background: #000000;
  color: #FFFFFF;
  width: 250px;
  height: 50px;
  font-weight: 600;
}

.eligqutergrey{
  color: grey;
  font-size: 14px;
}

.eligquterblak{
  font-size: 13px;
  color: #000000;
  padding-left: 20px;
}


.isareview{
  border: 5px solid #808080;
  border-radius: 20px;
  border-bottom: 40px solid  #252525;
  height: 600px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  position: relative;
  overflow:auto; 
}

.isareview::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(0, 0, 0, 0.30);
  scrollbar-width: thin;
  padding-left: 5px;
  padding-right: 5px;
  height: 550px;
}

.isareview::-webkit-scrollbar-thumb {
  border-radius: 10px; 
  color: black;
  background-color: grey;
}

.isareview::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px white; 
  border-radius: 0px;
  padding-left: 5px;
  padding-right: 5px;
}
.isareviewdown{
  color: #FFFFFF;
  font-size: 18px;
  margin-top: -30px;
  margin-left: 100px;
}

.isaget{
  background: #f2f2f2;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  font-size: 24px;
  margin-left: -35px;
}

.isaput{
  margin-left: -15px;
  height: 45px;
  margin-top: 3px;
  margin-bottom: 10px;
}

.isah1{
  margin-top: 20px;
  font-weight: 600;
}

.isah2{
  margin-top: 10px;
  font-weight: 500;
  font-size: 36px;
}

.isageh{
  font-size: 24px;
}

.isageh2{
  font-size: 24px;
  font-weight: 600;
}

.isapp{
  font-size: 14px;
}
.isageH1{
  font-size: 36px;
}

.isasign{
  height: 500px;
  background: #F2F2F2;
  overflow: auto;
  padding: 20px;
}

.isasignsec{
  margin-top: 50px;
}

.issasinbod{
  font-weight: 700;
}

.isasignh1{
  font-size: 32px;
  font-weight: 700;
}

.isagesmall{
  font-size: 16px;
}
/* work experience */
.wkex{
    height: 100vh;
    width: 100%;
    background: url("../imgs/wok.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}

.content{
    margin-top: 50px;
    margin-bottom: 200px;
  }
  
 .awsrateimg{
   padding-top: 10px;
 }
  .aws_fullban{
    max-width:100%;
    height: 475px;
    background: url('../imgs/awsft.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-color: rgba(27, 83, 158, 0.65);
    padding-top: 50px;
    color: #FFFFFF;
    padding-bottom: 30px;
  }
  .aws_fullbanh1{
    font-size: 40px;
    font-weight: 500;
    margin-top: 10px;
    text-transform: uppercase;
  }

  .awsnewbut{
    background: #FFFFFF;
    border-radius: 5px;
    font-size: 18px;
    color: #1B539E;
    min-width: 250px;
    min-height: 66px;
    padding-top: 20px;
    font-weight: 600;
}

.awsnewbut2{
  background: #1B539E;
  border-radius: 5px;
  font-size: 18px;
  color: #FFFFFF;
  min-width: 250px;
  min-height: 66px;
  padding-top: 20px;
  font-weight: 600;
  margin-left: 10px;
}

.awslista{
  font-size: 14px;
  text-align: left;
}

.awsright{
  padding-top: 40px;
  padding-bottom: 40px;
}

.awsrightp1{
  font-size: 18px;
}

.awsrightsec{
  margin-bottom: 30px;
  margin-left: 10px;
}

.awsrate{
  padding-top: 20px;
  padding-bottom: 20px;
}

  .aws_fullbanp1{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 16px;
  }

  .aws_fullbanp-2{
    margin-left: 50px;
    font-size: 18px;
    margin-top: -5px;
  }

  .aws_fullbanp{
    font-size: 14px;
    font-weight: 700;
  }

  .awsleft{
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .awsleftp{
    font-size: 24px;
    margin-bottom: 20px;
  }

  .awspdef{
    color: #808080;
  }
  .jobplace-action {
    background-color: #f2f2f2;
    /*background-image: linear-gradient(#f2f2f2, transparent 350%), url(../img/getstart.jpg);*/
    background: url("../imgs/aboutrec.png");
}
  
  .headernew{
    padding-top: 150px;
    
  }

  .jobs{
    padding-top:50px;
  }


  .headernew h1{
    font-size: 35px;
    font-weight:bold;
    text-align: left;
    padding-bottom: 5px;
    padding-left: 100px;
    color: rgb(53, 56, 119);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
  }

  .headernew h3{
    font-size: 40px;
    font-weight:bold;
    text-align: left;
    padding-bottom: 15px;
    margin-bottom: 10px;
    padding-left: 100px;
    color: #1F5FB4;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
  }
  
  .headernew p{
    font-size: 24px;
    color: #4F4F4F;
    text-align: left;
    padding-left: 100px;
    margin-top: 10px;
  }

  .headbtn{
      float: left;
      margin-left: 100px;
  }
  
  .wk-ex{
    padding-top:80px;
    padding-bottom:50px;
  }

  .wk-content1 {
    background: url("../imgs/aboutrec.png") 100% 100%/ cover;
	height: 60vh;
}

.aboutimg {
	padding: 0px 30px;
}

.aboutimg img {
	width: 100%;
    -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);
    height: 300px;
}

.abouttext {
    margin-top: 70px;
}

.abouttext h2 {
    font-weight: medium;
    color: #fff;
    font-size: 35px;
    margin-bottom: 20px;
}

.abouttext2 h2 {
    font-weight: medium;
    color: #1F5FB4;
    font-size: 35px;
    margin-bottom: 20px;
}

.abouttext3 h2 {
    font-weight: medium;
    color: #1f5fb4;
    font-size: 35px;
    margin-bottom: 20px;
}

.abouttext3 p {
    font-size: 18px;
    color: #585454;
}

.abouttext4 h2 {
    font-weight: medium;
    color: #1F5FB4;
    font-size: 35px;
    margin-bottom: 20px;
}

.abouttext4 p{
    font-size: 18px;
    color: #585454;
}

.abouttext p {
    font-size: 18px;
    color: #fff;
}

.buttoons{
    margin-top: 5px;
}

#marg{
    margin-top: 50px;
    margin-bottom: 0px;
}

.benefits h2{
    font-size: 30px;
    padding-bottom: 20px;
}

.benefits li{
    font-size: 14px;
    padding-bottom: 10px;
}

.benefits {
    background:  linear-gradient(60deg, #1472C8, rgba(86, 204, 242, 0.4)), url("../imgs/womann.jpg") 100% 25%/ cover;
    margin-bottom: 100px;
  margin-top: 100px;
}

.benefits-text {
    margin: 100px 50px;
    color: #fff;
}

.benefits-text h4 {
    margin-bottom: 30px;
}
.benefits ul {
    list-style: none;
}



  .l-d li {
      list-style-image: url("../imgs/radio1.png");
      padding: 0px 0px 0px 10px;
      font-size: 18px;
  }
  
  .h h2 {
      margin-top: 30px;
  }
  
  .hiw {
      padding: 50px 30px 10px 30px;
  }
  
  .hiw p {
    padding: 30px 0px;
    font-size: 20px;
  }
  
  .wk-content {
      margin: 150px 50px 100px 50px;
  }
  
  .-content {
      background:  linear-gradient(180deg, #3183CF, rgba(86, 204, 242, 1));
      color: #fff;
  }
  

  
  .wk-ex{
    padding-top:80px;
    padding-bottom:50px;
}


.purchase_se{
    margin-bottom: 100px;
}

@media (min-width: 375px) and (max-width: 780px) {
    .wkex{
        height: 60vh;
        width: 100%;
        background: url("../imgs/wok.png")no-repeat top center ;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    
    
    }


    .headernew{
        padding-top: 50px;
        
      }

    .headernew h1{
        font-size: 25px;
        font-weight:bold;
        text-align: left;
        padding-bottom: 5px;
        padding-left: 10px;
        color: #1F5FB4;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
      }
      
      .headernew p{
        font-size: 18px;
        color: #4F4F4F;
        text-align: left;
        padding-left: 10px;
        margin-top: 20px;
      }

      .headbtn{
        float: left;
        margin-left: 0px;
    }
    
      .wk-content1 {
        background: url(../imgs//aboutrec.png) 50% 50%/ cover;
        height: 50vh;
    }

    .abouttext {
        margin-top: 40px;
    }

    .abouttext h2{
        font-size: 25px;
    }

    .abouttext2 h2 {
        font-weight: medium;
        color: #1F5FB4;
        font-size: 30px;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .abouttext3 h2 {
        font-weight: medium;
        color: #1F5FB4;
        font-size: 30px;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .abouttext4 h2 {
        font-weight: medium;
        color: #1F5FB4;
        font-size: 30px;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .abouttext4 p{
        margin-bottom: 10px;
    }

    .aboutim img {
        width: 100vh;
    }

    #grad{
        margin-top: 10px;
    }

    .wk-content {
        margin: 50px 20px 40px 20px;
    }



  

