
{% load static %}
<!DOCTYPE html>
<html lang="en">



<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
	integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
	crossorigin="anonymous">
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet"
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'home/css/styles.css' %}">
<style type="text/css">
	#id_email{
		color: ;
		
	}
</style>

<head>
<title>Log In | Linuxjobber</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	
	<!-- templates/registration/password_reset_form.html -->
	{% block content %}
		<section id="introduction-login">
			<nav class="navbar navbar-toggleable-md navbar-light">
				<button class="navbar-toggler navbar-toggles-right" type="button" data-toggle="collapse" data-target="#navbarNAvDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"></button>
				<a class="navbar-brand" href="{% url 'home:index' %}"></a>
			</nav>
			<div class="container">
				<div class="banner">
					<div class="row fill-viewport text-center justify-content-center align-items-center">
						<div class="col-12 col-md-6 back">
								  <form method="POST">
								  	<h5 class="text-white margin-login">Reset your password</h5>
								  	<div class="margin20">
								  		<p class="login-p text-white">Please enter your email below</p>
								  		<p class="login-p text-red">
								  			
								  		</p>
								  	</div>
								  	<div id="login" class="form-group">
									    {% csrf_token %}

									    <input type="email" name="email">
									   
								  	</div>
								  	<div>
									    <input class="btn btn-loginform text-white rp" style="cursor:pointer;" type="submit" value="Submit">			  		
								  	</div>

								  </form>
						</div>
					
					</div>
					<div class="text-center text-white">
						<p>(c) Linuxjobber Inc 2018.</p>
					</div>
				</div>
			</div>
		</section>
	</div>
	{% endblock %}


</body>
</html>
