{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
	integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
	crossorigin="anonymous">
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet"
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'home/css/styles.css' %}">

<head>
<title>Sign Up | Linuxjobber</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<section id="introduction-login">
		<nav class="navbar navbar-toggleable-md navbar-light">
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#navbarNavDropdown"
				aria-controls="navbarNavDropdown" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="{% url 'home:index' %}"><img
				src="{% static 'home/images/logo.png' %}"></a>
		</nav>

		<div class="container">

			<div class="banner">

				<div
					class="row fill-viewport text-center justify-content-center align-items-center">
					<div class="col-12 col-md-6 back">
						<form method="post" action="">

							{% csrf_token %}
							<!--<div>-->
							<h3 class="text-white margin-login">Create a free account</h3>
							<p style="color: white">
								or <a href="{% url 'home:login' %}"><strong>Login</strong></a>
							</p>
							<!--</div>-->
							<div class="form-group" id="login">
								<label class="labels">Full Name</label> <input type="text"
									name="fullname" placeholder="e.g John Doe"
									class='form-control white-border ErrorField' required>
							</div>

							<div class="form-group" id="login">
								<label class="labels">Email</label> <input type="email"
									name="email" placeholder="Email"
									class='form-control white-border ErrorField' required>
							</div>
							<div class="form-group" id="login">
								<label class="labels">Password</label> <input type="password"
									name="password" placeholder="Password"
									class='form-control white-border ErrorField' required>
							</div>
							{% if error %}
							<p style='color: red;'>Firstname or Lastname cannot contain
								numbers or special characters</p>
							{% endif %}
							{%if exists%}
							<p style='color: blue;'>You have signed up with that email already, please login</p>
							{%endif%}
							<div class="form-group">
								<button type="submit" class="btn btn-loginform text-white title">SUBMIT</button>
							</div>

						</form>


					</div>
				</div>

				<div class="text-center text-white inc ">
					<p>(c) Linuxjobber Inc 2018.</p>
				</div>

			</div>
		</div>
	</section>







	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
		integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
		integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
		integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
		crossorigin="anonymous"></script>


</body>
</html>
