
{% load static %}
<!DOCTYPE html>
<html lang = "en">



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'home/css/styles.css' %}">

<head>
  <title>Success | Linuxjobber</title>
  <meta charset = "UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<style>
body{
    background-color: #E0E0E0;
}

a{
   text-decoration: none !important;
}

.logo1{
    padding-left: 20px;
    height: 91px;
}
</style>
<section class= "newsignupfeedbg">
 <nav class="navbar navbar-toggleable-md navbar-light">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/"><img class="logo1" src="{% static 'home/images/logo.png' %}"></a>


</nav>

<div class="container">
<div class="text-center messageres">
    <p class="messres1">Your account has been created successfully</p>
    <p class="messres2">Your username is : {{ user.username }}</p>
</div>
</div>
</section>

<div class="container">
    <div class="try-free">
        <div class="text-center">
            <p class="tryfreead1">Free Trial for 14 Days</p>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2"><img src="{% static 'home/images/checkers.png' %}"></div>
                <div class="col-md-6">
                    <p class="tryfreead2">Access to all tutorial videos, notes</p>
                    <p class="tryfreead3">Enjoy free access to any tutorial videos, notes and labs of your choice</p>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="tryfreehr"><hr></div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2"><img src="{% static 'home/images/checkers.png' %}"></div>
                <div class="col-md-6">
                    <p class="tryfreead2">Hands-on labs available anytime</p>
                    <p class="tryfreead3">Improve your skill after watching videos and expand your knowledge by practicing in our labs</p>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="tryfreehr"><hr></div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2"><img src="{% static 'home/images/checkers.png' %}"></div>
                <div class="col-md-6">
                    <p class="tryfreead2">Pricing as low as $29 per month</p>
                    <p class="tryfreead3">All contents made available to you at anytime for just $29
                            monthly</p>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="tryfreehr"><hr></div>
            <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-2"><img src="{% static 'home/images/checkers.png' %}"></div>
                    <div class="col-md-6">
                        <p class="tryfreead2">Trusted by over 2000+ customers</p>
                        <p class="tryfreead3">Customers are free to cancel within the 14 days,
                                no obligations or questions asked</p>
                    </div>
                    <div class="col-md-3"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3"><a href="{% url next_page|default:'home:login' %}" class="tryfreelink1">NO, THANKS</a></div>
                <div class="col-md-3"><a href="{% url 'home:monthly_subscription' %}" class=" btn tryfreelink2">YES, SIGN ME UP</a></div>
                <div class="col-md-3"></div>
            </div>
        </div>
        <br><br>
    </div>
    <div class="text-center">
        <p class="tryfreefoot">© Linuxjobber, Inc. 2019.</p>
    </div>
</div>
</body>
</html>