@import url("../style.css");
.rectangle{
    position: absolute;
    top: 100px;
    width: 400px;
    height: inherit;
    margin-left: -5%;
    margin-top:70px;
    /* padding: 10px 10px 10px 10px; */
    border: 1px;
    background: transparent;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    }

    .delete{
        margin-left: 5%;
        border-width: 1rem;
        font-size: medium;
        color: blue;
    }