{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>

		<title>
			{% block title %} 

			{% endblock %}
		</title>

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- LINKS TO SCRIPTS -->
			
			<!-- BOOTSTRAP CDN MINIFIED CSS -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

			<!-- BOOTSTRAP CDN MINIFIED JAVASCRIPT -->
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>	

			<!-- LOCAL BOOTSTRAP CSS -->
			<!-- <link rel="stylesheet" href="{% static 'projects/bootstrap/css/bootstrap.css' %}"> -->
			<link rel="stylesheet" href="projects/bootstrap/css/bootstrap.css">

			<!-- CLOUDFARE CDN POPPER JAVASCRIPT -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

			<!-- GOOGLE CDN JQUERY JAVASCRIPT -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

			<!-- PROJECTS CUSTOM STYLESHEET -->
			<link rel="stylesheet" type="text/css" href="{% static 'Projects/custom/css/projects.css' %}">
			<!--<link rel="stylesheet" href="projects/custom/css/projects.css">-->

			<!-- PROJECTS CUSTOM JAVASCRIPT -->
			<link rel="stylesheet" href="{% static 'Projects/custom/js/projects.js' %}">
			<!--<script src="projects/custom/js/projects.js"></script>-->

		<!-- END OF LINKS -->

	</head>

	<body>
		
		<header>
			<nav class="navClass">
				<ul id="nav-left-ul">
					<li id="logo">
						<img src="{% static 'Projects/img/logo.png' %}">
					</li>
					<li id="courses" onclick="dropdown()">
						COURSES
						<ul id="course" class="sub-menu">
							<li>linux</li>
							<li>python</li>
						</ul>
						<span><img src="{% static 'Projects/img/vector.png' %}"></span>
					</li>
					<li>
						TOOLS
						<span><img src="{% static 'Projects/img/vector.png' %}"></span>
					</li>
					<li>
						COMPANY
						<span><img src="{% static 'Projects/img/vector.png' %}"></span>
					</li>
					<li id="try-for-free">
						TRY FOR FREE!
					</li>
					<li>
						<button class="button">
							SIGN IN
						</button>
					</li>
				</ul>
			</nav>
		</header>





		{% block content %} {% endblock %}







		<!--Footer-->

		<footer>
			<div class="container-fluid" style="background-color: #252525;">
				<div class="row">
					<div class="col-md-4 col-sm-6 quickLinks">
						<div>
							<img src="{% static 'Projects/img/logo.png' %}">
						</div>
						<br>
						<div>
							<ul>
								<li>
									Suite 700, 6301 Ivy, <br>
									Lane, Greenbelt, Maryland <br>
									Address
								</li>
								<br>
								<li>
									admin@linuxjobber.com <br>
									Email

								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-2 col-sm-6 quickLinks">
						<ul class="">
							<br>
							<li><a href="{% url 'home:index' %}">Home</a></li>
							<li><a href="{% url 'home:aboutus' %}">About
									US</a></li>
							<li><a href="{% url 'home:live_help' %}">Live
									help</a></li>
							<li><a href="{% url 'Projects:index' %}">Projects</a></li>
							<li><a href="{% url 'home:server_service' %}">Server
									Services</a></li>
							<li><a href="{% url 'home:resume' %}">Resume
									Services</a></li>
							<li><a href="{% url 'home:students_packages' %}">Student
									Packages</a></li>
							<li><a href="">Quick Links</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6 quickLinks">
						<ul class="">
							<br>
							<li>
								<a href="{% url 'home:faq' %}">FAQ</a>
							</li>
							<li>
								<a href="{% url 'home:contact_us' %}">
									Contact Us
								</a>
							</li>
							<li>
								<a href="{% url 'home:group' %}">
									Group Class
								</a>
							</li>
							<li>
								<a href="{% url 'home:in_person_training' %}">
									In-Person Training
								</a>
							</li>
							<li>
								<a href="{% url 'home:workexperience' %}">
									Work Experience
								</a>
							</li>
							<li>
								<a href="{% url 'home:gainexperience' %}">
									Gain Experience
								</a>
							</li>
							<li>
								<a href="{% url 'home:jobplacements' %}">
									Job Placement Program
								</a>
							</li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6  socialMedia">
						<br>
						<ul>
							<li>
								<a href=""><img src="{% static 'Projects/img/icons/facebook.png' %}"></a>
							</li>
							<li>
								<a href=""><img src="{% static 'Projects/img/icons/instagram.png' %}"></a>
							</li>
							<li>
								<a href=""><img src="{% static 'Projects/img/icons/linkedin.png' %}"></a>
							</li>
							<li>
								<a href=""><img src="{% static 'Projects/img/icons/twitter.png' %}"></a>
							</li>
							<li>
								<a href=""><img src="{% static 'Projects/img/icons/google.png' %}"></a>
							</li>
							<li>
								<a href="">Social Media</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 compDate">
						<p>
							©2018 LinuxJobber Inc. All rights reserved
						</p>
					</div>
				</div>
			</div>


		</footer>

		<!--/ Footer-->
	</body>
</html>
