{% extends 'home/base.html' %} {% load staticfiles%} 
{% block title %}
	{% if mtopic %}
		Topics | {{ mtopic.project_course.course_name }} | Linuxjobber
	{% else %}
		Linuxjobber Projects
	{% endif %}
	
 {% endblock %}
{% block content %}

<div class="course-bg" role="listbox">
        <div class="item active">
            <div class="text-center course-hd" >
       			<h2>{{ mtopic.project_course }} Topics</h2>
            </div>
          </div>
        </div>

{% if course_topics and mtopic %}
	<div class="course-bg2">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8">
					<video width="100%" height="522" controls>
	          <source src="{{ mtopic.video }}" type="video/mp4">						  
	        </video>
				</div>
				<div class="col-md-4">
					<div class="vid-details">
						<h3>{{ mtopic.title }}</h3>
						<div class="clear"></div>
						<p id="course-p">Get busy by taking the lab</p>
						<div class="text-left">
	            <a class="btn btn-lg btn-primary course-btn" href="#" disabled>Hands-on lab</a>
						</div>
						<p id="course-p">Dive into the note for more references</p>
						<div class="text-left">
	            <a class="btn btn-lg btn-primary course-btn" href="{% url 'Projects:topicnotes' mtopic.project_course.projectgroup mtopic.project_course mtopic.id %}">Notes</a>
	          </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="others">
			{% for topic in course_topics %}
				<p>
					<a href="{% url 'Projects:coursetopics2' topic.project_course.projectgroup.group_name topic.project_course.course_name topic.id %}"> {{ forloop.counter }} {{ topic.title }}</a>
				</p>
			{% empty %}
					<h2 class="text-center"> No more Topics available for this project course </h2>
			{% endfor %}
		</div>
	</div>
{% else %}
	<div class="course-bg2 container-fluid">
		<h2 class="text-center"> No Topics available for this project course </h2>
	</div>
{% endif %}
<br>
{% endblock %}
