{% extends 'home/base.html' %}
{% load staticfiles%} 
{% block title %}
	Linuxjobber Project
 {% endblock %}


{% block content %}

	<div style="background-color: #252525; height: 70px;">
		<p style="color: #252525">. <!-- This text is here for only styling purpose --></p>
	</div>

	<div class="container-fluid" style="background: #F6F6F6; ">
		<br>
		<div class="row">
			<div class="col-md-12" style="text-align: center;">
				<h1>Projects</h1>
				<p style="font-family: Roboto;font-style: normal;font-weight: normal;line-height: normal;font-size: 18px;text-align: center;color: rgba(0, 0, 0, 0.8);">This contains all the list of projects we offer. select a project to get started or each for a particular course or topic</p>
			</div>
		</div>

		{% for project in projects %}
		<a href="{% url 'Projects:courses' project.project_title %}">
		<div class="row projects-container">
			<div class="col-md-3 project-img-col" style="background-image: url({{ project.project_bg_image }});height: 240px;">
				<img src="{{ project.project_image }}" class="responsive projects-img" style="margin-left: -30px;">
			</div>
			<div class="col-md-8">
				<br>
				<p class="projects-title">
					{{ project.project_title }}
				</p>
				<p class="projects-description" style="color: #000;">
					{{ project.project_description }}
				</p>
				<p class="proj-contains">Project contains: <span style="color: rgba(37, 37, 37, 0.8);">{{ project.project_contents }}</span></p>
			</div>
		</div>
		</a>
		<br><br>
		{% endfor %}
	</div>

{% endblock %}