{% extends 'home/base.html' %}
{% load static %}
{% block title %}
	Linuxjobber Project
{% endblock %}

{% block content %}

<style type="text/css">
	.projimg{
	margin-left: -10px;
	margin-right: -10px;
	margin-top: -3px;
	margin-bottom: -6px;
	display: block;
	width: 100%;
}
	.projboardimg{
	width: 266px;
	height: 266px;
	display:block;
    margin:auto;
}

@media (min-width: 360px) and (max-width: 640px) {
	.projimg, img{
		margin-right: 0px;
		margin-left: 0px;
		width: 100%;
	}

	.projboardimg{
		margin-bottom: 30px;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.projimg, img{
		margin-right: 10px;
		width: 100%;
	}
}
}

</style>
	<div class="proj-header"></div>
	<div class="proj-header2">
		<div class="text-center"><span class="text-muted"><a class="text-muted proj-header2l" href="{% url 'Projects:index' %}">Projects</a>  > {{project_title}}</span> </div>
	</div>
	<div class="proj-body">
		<div class="text-center projban">
			<br><br>
			<h1 class="projbanh1">{{project_title}} Project</h1>
			<br>
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<span>{{project_description}}</span>
			</div>
			<div class="col-md-3"></div>
		</div>

		<div class="projboard">
			{% for course in project_courses %}
				<div class="projboardin">
					<div class="row">
						<div class="col-md-4">
							<div class="text-center projboard1">
								<div class="projboardimg">
									<br>
									<img src="{{course.course_image.url}}">
									<a href="{% url 'Projects:course_topics' course.id 1 %}" class="jobbut projbut btn btn-block">Start Project</a><br>
								</div>
							</div>
						</div>
						<div class="col-md-7">
							<div class="projboardinfo">
								<span class="projcardh">{{course.course_title}}</span><br><br>
								<span>{{course.course_description}}</span>
							</div>
							<br>
							<div class="projboardinfo2">
								<span class="projcon">Project Objectives</span><br>
								<span>{{course.course_objective}}</span><br><br>
								<span class="projcon">Content</span><br>
								<span>{{course.course_content}}</span><br><br>
								<span class="projcon">Project Duration</span><br>
								<span>{{course.course_duration}}</span>
							</div>
						</div>
						<div class="col-md-1"></div>
					</div>
					<br><br>
					{% if forloop.last %}

					{%else%}
						<hr class="projline"><br>
					{%endif%}
				</div>
			{%endfor%}
		</div>

	</div>
{% endblock %}
