{% extends 'home/base.html' %}
{% load static %}
{% block title %}
	Linuxjobber Project
{% endblock %}

{% block content %}
<div class="proj-header"></div>
<div class="proj-header2">
	<div class="text-center"><span class="text-muted"><a class="text-muted proj-header2l" href="{% url 'Projects:index' %}">Projects</a>  > <a class="text-muted proj-header2l" href="{% url 'Projects:courses' project_id %}">{{project_title}}</a> > {{course_title}}</span> </div>
</div>
<div class="proj-body">

	<div class="text-center projban">
		<br><br>
		<h1 class="projbanh1">{{course_title}}</h1>
		<br>
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<span>{{course_description}}</span>
		</div>
		<div class="col-md-3"></div>
		<br>
	</div>
	<div class="projboard">
		<div class="projboard2">
			<span class="projcardh">{{topic.topic_id}}. {{topic}}</span><br><br>
			<div class="row">
			<div class="col-md-8">
				<div class="projboardinfo">
					{%if topic.has_notes == 1 %}<span><a href="{% url 'Projects:course_note' course_id topic.topic_id %}" class="btn projbut4 text-muted">notes</a> </span>{%endif%}{%if topic.has_labs == 1 %} <span> <a href="" class="btn projbut4 text-muted">hands on lab</a></span>{%endif%}<br><br>
					<video src="{{topic.topic_video}}" controls width="100%" height='468px;' class="projvid"></video>
				</div>
			</div>
			<div class="col-md-4">
				<div class="projtopiclist">
					<div class="projlistin">
						<span>{{course_topics|length}} videos</span><br>
						{%for topics in course_topics %}
							<a class="proj-header2l text-muted" href="{% url 'Projects:course_topics' course_id topics.topic_id %}"><span>{{topics.topic_id}} {{topics.topic_title}}</span></a><br><br>
						{%endfor%}
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>

</div>
{% endblock %}