{% extends 'home/base.html' %}
{% block content %}

<div class="req" role="listbox">
    <div class=" text-center projs" >
  
    </div>
</div>
<br>
<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8 modal-content">
		<br>
		<h2>Access Denied</h2>
		<hr>
		<div class="alert alert-warning">
			<span>Sorry you do not have the sufficient priviledge to access this course materials.</span>
		</div>
		<p class="req-p"></p>

		<div class="sldbtnd">
		<a href="{% url 'Projects:index' %}" class="btn btn-primary get">Return to projects</a>
		</div>
		<br><br>
		
		</div>
		<div class="col-md-2"></div>
	</div>
</div>
<br><br>

{% endblock %}