{% extends 'home/base.html' %}
{% load static %}
{% block title %}
	Linuxjobber Project
{% endblock %}



{% block content %}
	<div style="background-color: #252525; height: 85.9px;">
		<p style="color: #252525">. <!-- This text is here for only styling purpose --></p>
	</div>
	
	<div class="project-pg-marker">
		<small>Projects > {{ project_title }}</small>
	</div>
	<div class="container-fluid course-proj-cont">
		<p class="course-proj-title">{{ project_title }} Projects<p>
		<p class="course-proj-descrp">{{ project_description }}</p>
		<br><br><br>
	</div>
	<div style="margin-top:38px; background-color: #F6F6F6;">
		<p style="background-color: #ffffff;border-top-left-radius: 36px;border-top-right-radius: 36px;box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.25);shad">kl</p>
	</div>
	<div>
		
		<div class="container-fluid">
			{% for project_course in project_courses %}
			<div class="row" style="border-top-left-radius: 60px;">
				<div class="col-md-3 course-proj-img-col">
					<img class="course-proj-img-size" src="{{ project_course.course_image }}"><br><br>
					<a href="{% url 'Projects:course_topics' project_course.course_title.split|join:'_' %}"><button class="btn course-proj-main-btn">START COURSE</button></a>
					<!-- <a href="{% url 'Projects:course_labs' project_course.course_title.split|join:'_' %}"><button class="btn course-proj-lab-btn">LAB</button></a> -->
				</div>
				<div class="col-md-9 course-proj-detail-col">
					<p style="color: #000000;font-size: 36px;	padding-top: 24px;margin-bottom: 5px;">{{ project_course.course_title }}</p>
					<p class="col2-course-descrp">{{ project_course.course_description }}</p>

					<div class="col2-board">
						<p class="col2-heading course-obj">Course Objectives</p>
						<p class="course-obj-body">{{ project_course.course_objective }}</p>
						<p class="col2-heading course-dur">Content</p>
						<p class="course-obj-body">{{ project_course.course_content }}</p>
						<p class="col2-heading course-dur">Course Duration</p>
						<p class="dur course-obj-body">{{ project_course.course_duration }}</p>
					</div>
				</div>
			</div>
		</div>
		<hr>
		{% endfor %}
	</div>
{% endblock %}