{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

<title>
	{% if mtopic %}
		{{ mtopic.project_course }} - {{ courses.0.course_title }} - Notes
	{% else %}
		Linuxjobber Notes
	{% endif %}
</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<style>
.ErrorField{ border-color:red !important; }
</style>

{% if user.is_authenticated %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static 'home/css/newdesigner/js/validation/jquery.validation.functions.js' %}"></script>
<script src="{% static 'home/css/newdesigner/js/validation/jquery.validate.js' %}"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">


<!-- Bootstrap -->
<link href="{% static 'home/css/newdesigner/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Main Style -->
<link rel="stylesheet" href="{% static 'home/css/style.css' %}">
<link href="{% static 'home/css/newdesigner/css/style.css' %}" rel="stylesheet">
<link href="{% static 'home/css/newhomepage/css/stylenew.css' %}" rel="stylesheet}">
<link href="{% static 'home/css/newhomepage/css/newstyle2.css' %}" rel="stylesheet">
<link href="{% static 'home/css/newhomepage/css/main.css' %}" rel="stylesheet">
<link href="{% static 'home/css/newhomepage/css/newstylenew.css' %}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
<link rel="stylesheet" href="{% static 'vistorpagenew.css' %}">

{% else %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" >
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
<link rel="stylesheet" href="{% static 'vistorpage.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
<script type="text/javascript" src="{% static 'home/css/newdesigner/js/validation/jquery.validate.js' %}"></script>	

{% endif %}

</head>

<body>
	
	{% if user.is_authenticated %}
	<header class="r-header" id="header">
		<!-- header bottom -->
		<div class="header-bottom">
			<div class="container padd">
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-6 logo padd">
						<a class="navbar-brand" href="{% url 'home:index' %}"><img
							src="{% static 'home/images/logo.png' %}" alt="logo"></a>
					</div>

					<div class="col-md-6 col-sm-6 mainmnu">
						<nav>
							<ul class="nav navbar-nav navbar-right main-nav">
								<li class="has-dropdown sub-menu course"><a class="b-n"
									href="javascript:void(0);">Courses</a>
									<div class="dropdowns transparent-style" id="course">
										<div class="container text-1">
											{% if courses %} {% for course in courses %} {% with count_min_one=forloop.counter|add:"-1"|divisibleby:4 %} {% if forloop.counter == 1 or count_min_one %}
											<div class="col-md-3 col-sm-4">
												<ul>
											{% endif %}
													<li><a href="{% url 'Courses:topics' course.course_title.split|join:'_' %}"><span class="link-icon"><i class="fa fa-linux fa-2x"></i></span>{{course.course_title}}</a></li>
													{% if forloop.counter|divisibleby:4 %}
												</ul>
											</div>
											{% endif %} {% endwith %} {% endfor %} {% else %}
											<div class="col-md-3 col-sm-4">
												<ul class="">
													<li><a href="#"><span class="link-icon"><i
																class="fa fa-linux fa-2x"></i></span>Linux Fundamentals</a> <a
														href="#"><span class="link-icon"><i
																class="fa fa-linux fa-2x"></i></span>Linux Proficiency</a></li>
													<li><a href="#"><span class="link-icon"><i
																class="fa fa-terminal fa-2x"></i></span>HTML/CSS</a></li>
												</ul>
											</div>
											<div class="col-md-3 col-sm-4">
												<ul class="">
													<!--li></li-->

													<li><a href="#"><span class="link-icon"><i
																class="fa fa-cloud fa-2x"></i></span>Amazon AWS</a></li>
													<li><a href="#"><span class="link-icon"><i
																class="fa fa-cogs fa-2x"></i></span>PUPPET Training</a></li>

													<li><a href="#"><span class="link-icon"><i
																class="fa fa-file-code-o fa-2x"></i></span>JS/AngularJs v4</a></li>



												</ul>
											</div>
											<div class="col-md-3 col-sm-4">
												<ul class="">
													<!--li></li-->
													<li><a href="#"><span class="link-icon"><i
																class="fa fa-server fa-2x"></i></span>RHCSA</a></li>
													<li><a href="#"><span class="link-icon"><i
																class="fa fa-file-code-o fa-2x"></i></span>Java</a></li>
													<li><a href="#"><span class="link-icon"><i
																class="fa fa-lock fa-2x"></i></span>Cybersecurity</a></li>

												</ul>
											</div>
											<div class="col-md-3 col-sm-4">
												<ul class="">

													<li><a href="#"><span class="link-icon"><i
																class="fa fa-pencil-square-o fa-2x"></i></span>Independent
															Authors</a></li>

													<li><a href="#"><span class="link-icon"><i
																class="fa fa-line-chart fa-2x"></i></span>Business Analysis</a></li>

													<li><a href="#"><span class="link-icon"><i
																class="fa fa-server fa-2x"></i></span>Database</a></li>

												</ul>
											</div>



											<div class="col-md-3 col-sm-4">
												<ul class="">
													<li><a href="#"><span class="link-icon"><img
																src="images/icon5.png" alt="img" /></span>Name </a></li>

												</ul>
											</div>
											{% endif %}
										</div>
									</div></li>
								<li class="has-dropdown sub-menu tool"><a class="b-n"
									href="javascript:void(0);">Tools</a>

									<div class="dropdowns transparent-style" id="tool">
										<div class="container text-1">


											<div class="col-md-4 col-sm-4">
												<ul>


													<li><a href="#"><span class="link-icon"><i
																class="fa fa-cog fa-2x"></i></span>Monitoring</a></li>
													<li>
												</ul>
											</div>


										</div>
									</div></li>

								<li class="has-dropdown sub-menu company"><a class="b-n"
									href="javascript:void(0)">Company</a>
									<div class="dropdowns transparent-style" id="company">
										<div class="container text-1">
											<div class="col-md-4 col-sm-6">
												<ul>
													<li><a href="<?php echo SITEURL ;?>companys/aboutus"><span
															class="link-icon"><i class="fa fa-home fa-2x"></i></span>About
															Us</a></li>
													<li><a href="<?php echo SITEURL ;?>companys/location"><span
															class="link-icon"><i
																class="fa fa-map-marker fa-2x"></i></span>Location</a></li>
												</ul>
											</div>
											<div class="col-md-4 col-sm-6">
												<ul>
													<li><a href="<?php echo SITEURL ;?>companys/jobs"><span
															class="link-icon"><i class="fa fa-suitcase fa-2x"></i></span>Jobs</a></li>
													<li><a href="<?php echo SITEURL ;?>companys/policy"><span
															class="link-icon"><i class="fa fa-gavel fa-2x"></i></span>Policies</a></li>
												</ul>
											</div>
											<div class="col-md-4 col-sm-6">
												<ul>
													<li><a href="{% url 'home:contact_us' %}"><span
															class="link-icon"><i
																class="fa fa-phone-square fa-2x"></i></span>Contact Us</a></li>
												</ul>
											</div>
										</div>
									</div></li>

								<li class=" sub-menu "><a class=""
									href="javascript:void(0)">Try Free</a></li>
							</ul>
						</nav>
					</div>
					
					<div class="col-md-3 col-sm-3 col-xs-6 mainmnu">	
						<nav>
							<ul class="nav navbar-nav navbar-right main-nav" >
								<li class="has-dropdown sub-menu profile">
									<a class="b-n" href="javascript:void(0)">{{ user.username }}</a>			
									<div class="dropdowns transparent-style" id="profile">
										<div class="container text-1 ">
											<div class="col-md-4 col-sm-6">
												<ul>
													<li><a  href="/labprofiles"><span class="link-icon"><img src="https://linuxjobber.com/images/icon1.png" alt="" /></span>My Profile</a></li>
													<li><a href="/users/accountSetting"><span class="link-icon"><img src="https://linuxjobber.com/images/icon1.png" alt="" /></span>Account Settings</a></li>								
												</ul>
											</div>
											<div class="col-md-4 col-sm-6">
												<ul>							
													<li><a href="/users/orderlist"><span class="link-icon"><img src="https://linuxjobber.com/images/icon1.png" alt="" /></span>Order List</a></li>
													<li><a href="/users/order_details"><span class="link-icon"><img src="https://linuxjobber.com/images/icon1.png" alt="" /></span>RHCSA Order</a></li>
												</ul>
											</div>		
											<div class="col-md-4 col-sm-6">
												<ul>	
													<li><a href="{% url 'home:logout' %}"><span class="link-icon"><img src="{% static 'home/images/logout1.png' %}" alt="" /></span>Logout</a></li>
												</ul>
											</div>
										</div>
									</div>	
								</li>
							</ul>	
						</nav>		
					</div>
				</div>
			</div>
		</div>
	</header>
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          
        </div>      
      </div>      
    </div>
{% endif %}

{% if not user.is_authenticated %}
<section id = "introduction-visitor">
 <nav class="navbar navbar-toggleable-md">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{% url 'home:index' %}"><img src="{% static 'home/images/logo.png' %}"></a>
  

</nav>

	<div class = "container">
		<div class = "banner">		   
			<div class = "row fill-viewport text-center justify-content-center align-items-center">  
					  
				<div class = "welcome-v">
					<h1 class = "text-white">Linuxjobber</h1>
					<h5  class = "text-white w2">We teach and groom you on the latest technologies.</h5>
				</div>
				<p id= "above">Already a member? <a class = "red" href="{% url 'home:login' %}">Login</a></p>
				<form class="input-group"  method="post" action="{% url 'home:signup' %}" id = "searchbar-v">
					{% csrf_token %}					
					<input type="hidden" name="ipaddress" id="ipaddress" />				
					<input class="form-control mr-sm-2" type="text" placeholder="Full Name"  name="fullname" id="fullname" required>
					<input class="form-control mr-sm-2" type="email" placeholder="Email address" name="email" id = "email" required>
					<input type="hidden" name="password" placeholder="Password" required value="" >
					<button class="btn btn-search my-2 my-sm-0" style="cursor:pointer" type="submit" id = "btn-search">Get free access</button>   
				</form>
				<div class="form-group" id = "uname" style="color:red; display:none">
				  Username : <span id="unametext"></span> 					  
				</div>
				<a href="#notes" class = "ball" onclick="hideIntro()"><i class="fa fa-chevron-circle-down fa-3x "></i></a>						
			</div>
		</div>
	</div>
</section>

{% endif %}

<style>
	.btn {
		padding: 6px 20px;
		margin-top: -30px;
	}
	</style>
    <section class="notes-content" id="notes">
        <div class="container">
            <div class="row">		
			
			<div class="col-12 col-md-1">
				<div class="pro-add2">
					<!--p class="views blue">500</p>
					<p><i class="fa fa-eye"></i></p>
					<p><i class="fa fa-facebook"></i></p>
					<p><i class="fa fa-twitter"></i></p>
					<p><i class="fa fa-linkedin"></i></p-->
					<span class='st_sharethis_large' displayText='ShareThis'></span>
					<span class='st_facebook_large' displayText='Facebook'></span>
					<span class='st_googleplus_large' displayText='Google +'></span>
					<span class='st_linkedin_large' displayText='LinkedIn'></span>
					<span class='st_pinterest_large' displayText='Pinterest'></span>
					<span class='st_myspace_large' displayText='MySpace'></span>
				</div>
			</div>
			<div class="col-12 col-md-8 main">
				<h3 class="note-title">{% if mtopic %}{{ mtopic.notegroup }}{% else %} No Notes {% endif %}</h3>
				<section>
					{% for note in topic_notes.all %}
						<p>{{ note.n_number }}: {{ note.info }}</p>
						<p><em>NOTE</em>: {{ note.extra }}</p>
						<p><em>DO THIS</em>: {{ note.todo }}</p>
					{% empty %}
						<div class="coll">
							<span>No</span>
							<span>Notes</span>
							<span>For now</span>
						</div>
					{% endfor %}	   
				</section>
				<hr>
		  
			</div>
                 <div class="col-12 col-md-2">
                    <div class="banner-sidebar">
                    	{% if not user.is_authenticated %}
                   <a href="<?php echo SITEURL.'/freeuser' ?>"> <img src="{% static 'home/images/bannerlinux.png' %}" class="pro-img"></a> 
                   		{% endif %}                 
                </div>
            </div>
            </div>
		</div>
    </section>
    
    <section>
      <div class="container">
         <h3 class="text-center">Related topics</h3>
        <div class="row -center">
        {% for topic in course_topics %}
		<div class="col-12 col-md-4 col-lg-4">
            <div class="coll">
            <p class="title-topics"><a href="<?php echo SITEURL.'Newprojects/projectvideo/'.$randomlyArr['project_topics']['project_course_id'].'/'.$randomlyArr['project_topics']['id']; ?>">{{ topic.title }}</a></p>
            <p class="ps">{{ topic.project_course.course_name }}</p>
            </div>
        </div>
        {% endfor %}
        </div> 
      </div>
    </section>
    
    <section>
		<div class="container">
		<h3 class="text-center">Responses</h3>
		<div class="row res">
			<div class="col-12 col-md-6 col-lg-12 responsediv">
				<div class="detailBox">
					<div class="actionBox">
						<form class="form-inline" role="form" action="" method="post">
						<div class="form-group">
							<br>
							<input class="form-control " type="text" name="comment" placeholder="Write a comment or response"  id = "comment-exp"/>
							<input type="submit" name="submit" value="submit" class="btn btn-mini btn-info">
						</div>
						</form>
						<p id = "response-button"><a href = "javascript:void(0)"  class="text-center-new" id = "rspnd" onclick="tog()">See all responses</a></p>
						
						<ul class="commentList list-unstyled text-center " >
						<?php if(!empty($ProjectNote['ProjectNoteComment'])){ foreach($ProjectNote['ProjectNoteComment'] as $ProjectNoteComments){ ?>
						<li>
							<div class="commenterImage">
								<span style="font-weight:bold;"><?php echo $ProjectNoteComments['User']['full_name']; ?></span>
							 <!--  <img src="<?php echo SITEURL.'logincss/' ?>images/44.png" class = "comment-img"/> -->
							</div>
							<div class="commentText">
								<p class="" id = "rpd"><?php echo $ProjectNoteComments['comment']; ?></p> <p class="date sub-text">on <?php echo date('F d, Y',strtotime($ProjectNoteComments['created'])); ?></p>

							</div>
						</li>
						<?php } }else{ ?>
							<li>
								<div class="commentText">
									<p class="" id ="rpd">No Comments</p>
								</div>
							</li>
						<?php } ?>
						 </ul>
					</div>
			  </div>
			</div>
		</div>
	</div>
    </section>
    
    {% if not user.is_authenticated %}		
	<section>
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-6">
					<div class="sticky text-center">
						<a href="<?php echo SITEURL.'/freeuser' ?>"><img style="height: 70px;" src="{% static 'home/images/sticky.png' %}"></a>
					</div>
				</div>
			</div>
		</div>
    </section>
    {% endif %}
 <script>
 
/* jQuery(function(){ 
	$("#comment-exp").validate({
		 expression: "if (VAL) return true; else return false;",
		message: ""
	});
}); */

function tog() {
   $(".commentList").show();
  }
</script>

<script >
  function hideIntro() {
    var hide = document.getElementById('introduction-visitor');
    hide.style.display = 'none';
  }
</script>
    
    {% if user.is_authenticated %}
	<!--Footer-->
	<footer id="footer" class="footer">
		<section id="footer-lniks">
			<div class="row" id="footer-row">
				<div class="col-md-3 col-sm-6">
					<img src="{% static 'home/images/logo.png' %}">
				</div>

				<div class="col-md-3 col-sm-6">
					<h2>Quick Links</h2>
					<ul class="quick-links" style="margin-top: 26px; font-size: 16px;">

						<li><a href="<?php echo SITEURL; ?>">Home</a></li>
						<li><a href="<?php echo SITEURL.'companys/aboutus'; ?>">About
								US</a></li>
						<li><a href="<?php echo SITEURL.'homes/resume' ?>">Resume
								Services</a></li>
						<li><a href="<?php echo SITEURL.'homes/packages'; ?>">Student
								Packages</a></li>
						<li><a href="<?php echo SITEURL.'service' ?>">Server
								Services</a></li>
						<li><a href="<?php echo SITEURL.'homes/livehelp' ?>">Live
								help</a></li>
						<li><a href="{% url 'Projects:index' %}">Projects</a></li>
					</ul>
				</div>


				<div class="col-md-3 col-sm-6">
					<ul class="quick-links2" style="margin-top: 26px; font-size: 16px;">
						<h2>&nbsp;</h2>
						<li><a href="{% url 'home:faq' %}">FAQ</a></li>
						<li><a href="<?php echo SITEURL.'companys/contact'; ?>">Contact
								Us</a></li>
						<li><a href="http://localhost:4200">Group Class</a></li>
						<li><a href="<?php echo SITEURL.'homes/liveinstructor'; ?>">In-Person
								Training</a></li>
						<li><a href="{% url 'home:workexperience' %}">Work
								Experience</a></li>
						<li><a href="<?php echo SITEURL.'users/gainExperience' ?>">Gain
								Experience</a></li>
						<li><a href="{% url 'home:jobplacements' %}">Job
								Placement Program</a></li>
					</ul>
				</div>


				<div class="col-md-3 col-sm-6">
					<h2>Contact Us</h2>
					<ul class="quick-links" style="margin-top: 26px; font-size: 16px;">
						<li><i class="fa fa-map-marker fa-fw pull-left"></i>
							<p style="color: #fff;">Address : Suite 700, 6301 Ivy</p></li>
						<li><p style="color: #fff;">Lane, Greenbelt, Maryland
							<p></li>
						<li><i class="fa fa-envelope fa-fw pull-left"></i>
							<p style="color: #fff;">Email: admin@linuxjobber.com</p></li>
						<!-- li><i class="fa fa-phone fa-fw pull-left"></i><p style=" color:#fff;">Call : 1 443 631 7208</p></li -->
					</ul>
				</div>
			</div>


		</section>
		<br> <br>
		<section class="footer-center text-center">
			<ul class="social-links">
				<li><a href="https://www.facebook.com/linuxjobber"><i
						class="fa fa-facebook fa-fw"></i></a></li>
				<li><a href="https://www.twitter.com/linuxjobber"><i
						class="fa fa-twitter fa-fw"></i></a></li>
				<li><a href="#link"><i class="fa fa-instagram fa-fw"></i></a></li>
				<li><a href="https://www.linkedin.com/company/linuxjobber"><i
						class="fa fa-linkedin fa-fw"></i></a></li>
				<li><a href=""><i class="fa fa-google-plus fa-fw"></i></a></li>
			</ul>
			<br> <br> ©2018 LinuxJobber Inc. All rights reserved
		</section>
	</footer>
	<!--/ Footer-->


	<script src="{% static 'home/css/newdesigner/js/bootstrap.min.js' %}"></script>
	<script async
		src="https://www.googletagmanager.com/gtag/js?id=UA-114043971-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-114043971-1');
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			var flag = 0;
			$(".sub-menu").hover(function() {
				$(".transparent-style").hide();
				$("#header").removeClass("result_hover");
			});
			$(".course").click(function() {

				$("#header").toggleClass("result_hover");
				$("#course").toggle();
			});
			$(".tool").click(function() {

				$("#header").toggleClass("result_hover");
				$("#tool").toggle();
			});

			$(".company").click(function() {

				$("#header").toggleClass("result_hover");
				$("#company").toggle();
			});

			$(".profile").click(function() {

				$("#header").toggleClass("result_hover");
				$("#profile").toggle();
			});

			$(".admin").click(function() {

				$("#header").toggleClass("result_hover");
				$("#admin").toggle();
			});

		});
	</script>
	<script src="{% static 'faq/js/jquery-2.1.1.js' %} "></script>
	<script src="{% static 'faq/js/jquery.mobile.custom.min.js' %} "></script>
	<script src="{% static 'faq/js/main.js' %} "></script>
	{% endif %}
</body>
</html>