{% load static %}
<!DOCTYPE HTML>
<html>
	<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <title>
      Linuxjobber - new skill, new potential:
      Users    </title>  

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">    
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">    
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
	
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="http://assets.webshopapp.com/molina-chai/style-ie.css?1" />
	<![endif]-->
    <script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="{% static 'home/css/newdesigner/js/validation/jquery.validation.functions.js' %}"></script>
<script
	src="{% static 'home/css/newdesigner/js/validation/jquery.validate.js' %}"></script>

<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700"
	rel="stylesheet">

<!-- Bootstrap -->
<link href="{% static 'home/css/newdesigner/css/bootstrap.min.css' %}"
	rel="stylesheet">
<!-- Main Style -->
<link rel="stylesheet" href="{% static 'home/css/style.css' %}">
<link href="{% static 'home/css/newdesigner/css/style.css' %}"
	rel="stylesheet">
<link href="{% static 'home/css/newhomepage/css/stylenew.css' %}"
	rel="stylesheet}">
<link href="{% static 'home/css/newhomepage/css/newstyle2.css' %}"
	rel="stylesheet">
<link href="{% static 'home/css/newhomepage/css/main.css' %}"
	rel="stylesheet">
<link href="{% static 'home/css/newhomepage/css/newstylenew.css' %}"
	rel="stylesheet">
<!-- <link href="{% static 'home/css/newhomepage/css/my-style.css' %}" rel="stylesheet"> -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400"
	rel="stylesheet">
<!-- PROJECTS APPLICATION CUSTOM STYLESHEET -->
<link rel="stylesheet" type="text/css" href="{% static 'Projects/custom/css/projects.css' %}">
  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />	
	<style>
	.progress{
		margin-top:5px;
		margin-bottom:0px;
	}
	.fh5co-cover.fh5co-cover-sm {
		height: 245px !important;
	}
	.lab-details {
		margin-top: 10px;
		margin-bottom: 40px;
	}
	.fa.fa-check  {  padding: 3px !important;  border-radius: 14px; line-height: 14px; }
	.fa.fa-remove {  padding: 5px !important; border-radius: 10px; line-height: 10px; }
	a{ font-weight:500 ; }
	</style>	

  </head>

<body>	

<div class="fh5co-explore fh5co-explore1" style="background-image:url({% static 'home/images/slide1.png' %}); background-repeat: no-repeat;
	background-size: 100% 100%; height:598px;">
		<div class="container" >
			<div class="row">
				  <div class="col-md-3 col-sm-6 col-xs-6 logo">
						<a class="navbar-brand" href="/"><img src="{% static 'home/images/logo.png' %}" alt="logo"></a> 
					</div>
					<div class="col-md-6"></div>
			 </div>
			<div class="row">
				<div class="col-md-7 col-md-push-5 animate-box">
					<!-- <img class="img-responsive" src="/images/img_bg_2.jpg" alt="work">-->
				</div>
				<div class="col-md-5 col-md-pull-8 animate-box">
					<div class="mt">
						<style>
.logout-color h2, .logout-color p{
 background : none !important;
 }
</style>
<section class="col-xs-12 aboutusmain">
			<div class="container">
				
				<div class="col-md-4 blank col-xs-12 logout-color">
					<br><br><h2>Hundreds Of Jobs available for linux Professionals</h2>
					<p>The Linux job market has been red-hot for a while now, with many companies desperate to find Linux professionals.It's not news to anyone that Linux is gaining popularity in part due to its dominance in the cloud and the datacenter. Join the trail today<p>
				</div>
				
								<div class="col-md-6 modal-content popupform col-xs-12 popup-bottom logout-p">
				<form action="/users/logoutuser" id="UserLogoutuserForm" method="post" accept-charset="utf-8"><div style="display:none;"><input type="hidden" name="_method" value="POST"/></div>						
					<br/><div id="flashMessage" class="alert alert-danger">Signed Out</div>					
					<h4>You have successfully logged out from Linuxjobber.</h4> 
					<h2>Key Benefits of Joining Linuxjobber</h2>
						<p>Get Trained by world class Linux Professionals<p>
					<p>Better Salaries than other IT Professionals<p>
						<p>We get you connected with the right kind of people<p>
					<br><h5 class='logout-mg'>You can return to the <a href="{% url 'home:index' %}">homepage</a></h5>

   					 </div>
   					 <div class="col-md-2 blank col-xs-12 ">
   					 	
   					 </div>
				</div>
			</section>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--Footer-->
	<footer id="footer" class="footer">
		<section id="footer-lniks">
			<div class="row" id="footer-row">
				<div class="col-md-3 col-sm-6">
					<img src="{% static 'home/images/logo.png' %}">
				</div>

				<div class="col-md-3 col-sm-6">
					<h2>Quick Links</h2>
					<ul class="quick-links" style="margin-top: 26px; font-size: 16px;">

						<li><a href="{% url 'home:index' %}">Home</a></li>
						<li><a href="{% url 'home:resume' %}">Resume
								Services</a></li>
						<li><a href="{% url 'home:jobs' %}">Full-Time Jobs</a></li>
						<li><a href="{% url 'home:students_packages' %}">Student
								Packages</a></li>
						<li><a href="{% url 'home:server_service' %}">Server
								Services</a></li>
						<li><a href="{% url 'home:live_help' %}">Live
								help</a></li>
						<li><a href="{% url 'Projects:index' %}">Projects</a></li>
						<li><a href="{% url 'Courses:userinterest' %}">Course Descriptions</a></li>
					</ul>
				</div>


				<div class="col-md-3 col-sm-6">
					<ul class="quick-links2" style="margin-top: 26px; font-size: 16px;">
						<h2>&nbsp;</h2>
						<li><a href="{% url 'home:faq' %}">FAQ</a></li>
						<li><a href="{% url 'home:partime' %}">Part-Time Jobs</a></li>
						<li><a href="{% url 'home:group' %}">Group Class</a></li>
						<li><a href="{% url 'home:in_person_training' %}">In-Person
								Training</a></li>
						<li><a href="{% url 'home:workexperience' %}">Work
								Experience</a></li>
						<li><a href="{% url 'home:gainexperience' %}">Gain
								Experience</a></li>
						<li><a href="{% url 'home:jobplacements' %}">Job
								Placement Program</a></li>
					</ul>
				</div>


				<div class="col-md-3 col-sm-6">
					<h2>Company</h2>
					<ul class="quick-links2" style="margin-top: 26px; font-size: 16px;">
						<li><a href="{% url 'home:aboutus' %}">About US</a></li>
						<li><a href="{% url 'home:contact_us' %}">Contact Us</a></li>
						<li><a href="{% url 'home:policies' %}">Policies</a></li>
						<li><a href="{% url 'home:location' %}">Location</a></li>
					</ul>
				</div>
			</div>


		</section>
		<br> <br>
		<section class="footer-center text-center">
			<ul class="social-links">
				<li><a href="https://www.facebook.com/linuxjobber"><i
						class="fa fa-facebook fa-fw"></i></a></li>
				<li><a href="https://www.twitter.com/linuxjobber"><i
						class="fa fa-twitter fa-fw"></i></a></li>
				<li><a href="https://www.instagram.com/linuxjobber_/"><i class="fa fa-instagram fa-fw"></i></a></li>
				<li><a href="https://www.linkedin.com/company/linuxjobber"><i
						class="fa fa-linkedin fa-fw"></i></a></li>
				<li><a href="https://plus.google.com/u/1/104352481273501435159"><i class="fa fa-google-plus fa-fw"></i></a></li>
			</ul>
			<br> <br> ©{% now "Y" %} LinuxJobber Inc. All rights reserved
		</section>
	</footer>
	<!--/ Footer-->
</body>
