.navbar{
  height: 77px;
  background: #333333;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.lj-text {
  color: rgba(255, 255, 255, 0.8);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

.img-container{
  position: absolute;
width: 166px;
height: 42px;
left: calc(50% - 166px/2 - 587px);
top: 18px;

}

.text-course{
  position: absolute;
width: 141px;
height: 29px;
left: 649px;
top: 24px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: normal;

color: rgba(255, 255, 255, 0.8);
}

.panel{
    margin-right: 0;
}

.panel-body > .foot{
 position: absolute;
        bottom: 0;
}

#foot > .col-md-3{
  padding: 0;
}


.bottom {
    display: table;
}

.bottom > div {
    float: none;
    display: table-cell;
}

.nav  > li{
  padding-right: 30px;
  font-size: 12px;

}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
