<main class="rectangle"  style="margin-left:-2%;"> 
<p style="font-family: 'Roboto',san-serif;">Your Courses</p>

  <a class="exit" (click)= "addcourse()"> ADD COURSE</a>
  


		<div class="row" style="" *ngFor="let course of courses$ |async">
            
              <div class="col-md col-xl">
				<div class="panel panel-default" style="height: 135px; border-radius: 8px;">
					<div class="panel-body">
						<div class="row">                
								<p style="font-size: 17px; font-weight: bold;  margin-top: -2px;  color: rgba(0, 0, 0, 0.8);">{{ course.name }}</p><br>
                                    <ul class="nav nav-pills" style="margin-top: -7px;">
                                        <li style="color: grey;" *ngIf="course.course.topics?.length as l">Course Videos: <b style="color: black;">{{  l}} </b> </li>
                                        <li style="margin-bottom: -2px; color: grey;">Course dates: <b style="color: black;">{{ course.start_date }} - {{ course.end_date }}</b></li>
                            </ul>
                                    
                                
                                <div class="text">
                             <a class="classroom" [routerLink]="['/classroom',course.id]" style="color: black; margin-right: 80px;">Go to Class</a> 
                             <a class="classroom" href='#' style="color: red">Remove Course</a> 
                             </div>
                         
							</div>



						</div>
                   
                </div>
            </div>
          
        </div>
</main>