
        @font-face {font-family: "CeraPRO-Light";
            src: url("../../careercredit/fonts/CeraPro-Light.ttf"); /* IE9*/
            src: url("1fa7b40f4644596654d7ed3c41c25bae.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
            url("1fa7b40f4644596654d7ed3c41c25bae.woff2") format("woff2"), /* chrome、firefox */
            url("1fa7b40f4644596654d7ed3c41c25bae.woff") format("woff"), /* chrome、firefox */
            url("../../careercredit/fonts/CeraPro-Light.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
            url("1fa7b40f4644596654d7ed3c41c25bae.svg#CeraPRO-Light") format("svg"); /* iOS 4.1- */
          }
          @font-face {font-family: "Cera PRO Medium";
        
         src: url("../../careercredit/fonts/Cera Pro Medium.otf"); /* IE9*/
         src: url("1fa7b40f4644596654d7ed3c41c25bae.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("1fa7b40f4644596654d7ed3c41c25bae.woff2") format("woff2"), /* chrome、firefox */
         url("1fa7b40f4644596654d7ed3c41c25bae.woff") format("woff"), /* chrome、firefox */
         url("../../careercredit/fonts/Cera Pro Medium.otf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
         url("1fa7b40f4644596654d7ed3c41c25bae.svg#Cera PRO Medium") format("svg"); /* iOS 4.1- */
       }
    
       @font-face {font-family: "CeraPro-Regular";
       src: url("../../careercredit/fonts/CeraPro-Regular.otf"); /* IE9*/
       src: url("1fa7b40f4644596654d7ed3c41c25bae.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("1fa7b40f4644596654d7ed3c41c25bae.woff2") format("woff2"), /* chrome、firefox */
       url("1fa7b40f4644596654d7ed3c41c25bae.woff") format("woff"), /* chrome、firefox */
       url("../../careercredit/fonts/CeraPro-Regular.otf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
       url("1fa7b40f4644596654d7ed3c41c25bae.svg#CeraPro-Regular.otf") format("svg"); /* iOS 4.1- */
     }
           
       html body *{
        
        font-style: normal;
    }
    
    body {
        background-color: white;
    }
    
    #head {
        
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 1150px;
        background-position: center;
        background-image: url('../../careercredit/images/background.png'); 
        
    }
    
    #head h2 {
        color: rgb(112, 192, 165);
        font-size: 20px;
        margin: 20px 10px 10px 50px;
        font-family:"Cera PRO Medium" !important;
        float: left;
        display: block;
        font-weight: bolder;
      
    }
    #head img{
        width: 100px;
    }
    .right{
        margin:5px 50px 10px 0;
    } 
    #head .right a{
        color: white;
        
        border-radius: 7px;
        width: 180px;
        padding: 6px;
        margin-right: 1px;
        margin-top:12px;
        text-align: center;
        float: right;
        
        
    }
    #head h3{
        
        font-family:"Cera PRO Medium" !important;
        font-size: 20px;
        text-decoration: none;
       
    }
    #head a:hover{
        background-color:#35B99F;
        color: white;
        text-decoration: none;
    }
    #head .contain {
        text-align: center;
        top: 240px;
        padding: 20px;
        position: relative;
        
    }
    .heading{
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        
    }
    .contain h1 {
        color: white;
        position: relative;
        font-size: 3.8rem;
        margin:auto;
        font-weight: 600;
        font-family:"Cera PRO Medium" !important;
        text-align: center;
        padding: 5px;
        letter-spacing: 1.5px;
    }
    .contain p{
        color: white;
        font-size: 1.75rem;
        margin-bottom: 40px;
        line-height: normal;
        margin-top: 30px;
        font-family: 'CeraPro-Light';
        font-weight: 500;
        
    }
    .contain button {
        background-color: #35B99F;
        padding: 9px;
        font-family:"Cera PRO Medium" !important;
        color: white;
        width: 270px;
        font-size: 26px;
        font-weight: 600;
        letter-spacing: 1.2px;
        border-radius: 10px;
    }
    .contain button:hover{
        color: #35B99F;
        background-color: white;
    }
    #bar1 {
        margin-top: 5.4rem;
      display: flex;
      flex-wrap: wrap;
      position: relative;
    }
    
    .divide1 {
      display: flex;
      padding: 10px;
      text-align: center;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin: auto;
      
      
    }
    .rect, .rect2, .rect3 {
        margin-top: 50px;
        float: left;
        width: 310px;
        text-align: center;
        height: 620px;
        background-color: white;
        border: 2px solid white;
        border-radius: 30px;
        margin: 20px 30px;
        box-shadow: 0 8px 16px 8px rgba(209, 209, 209, 0.8);
        
        
    }
    .rect p{
        font-size: 2.5rem;
        font-family:"Cera PRO Medium" !important;
        
        width: 240px;
        padding: 10px 5px;
        margin:7px auto ;
        color: black;
        line-height: 3rem;
        text-align:center;
        word-wrap: break-word;
    }
    .rect2 p, .rect3 p{
        font-size: 2.5rem;
        
        font-family:"Cera PRO Medium" !important;
        width: 250px;
        padding: 10px 5px;
        margin:25px auto ;
        color: black;
        line-height: 3rem;
        text-align:center;
    }
    .rect img {
        width: 160px;
        height: 120px;
        margin-top: 31px;
        margin-bottom: 6px;
    
    }
    .rect h5, .rect2 h5, .rect3 h5 {
        border-left: 2.5px solid #35B99F;
        text-align: left;
        padding: 1px 1px 1px 16px;
        font-family: 'CeraPro-Light';
        margin: 40px 20px 0 20px;
        font-size: 28px;
        word-wrap: break-word;
        
    }
    
    .rect2 img {
        width: 100px;
        height: 118px;
        margin-top: 43px;
        margin-bottom: 10px;
    }
    .rect3 img {
        width: 170px;
        height: 120px;
        margin-top: 52px;
        margin-bottom: 10px;
    }
    .contact {
        
        text-align: center;
        position: relative;
        margin: 50px auto;
    }
    .contact button {
        background-color: #35B99F;
        padding: 10px;
        font-family:"Cera PRO Medium" !important;
        color: white;
        width: 270px;
        font-size: 26px;
        font-weight: 600;
        letter-spacing: 1.5px;
        border-radius: 10px;
    }
    .contact button:hover{
        color: #35B99F;
        background-color: white;
    }
    .contact-sec {
        
        text-align: center;
        position: relative;
        margin: 120px auto;
    }
    .contact-sec button {
        background-color: #35B99F;
        padding: 10px;
        font-family:"Cera PRO Medium" !important;
        color: white;
        width: 280px;
        font-size: 26px;
        font-weight: 600;
        letter-spacing: 1.5px;
        border-radius: 10px;
    }
    .contact-sec button:hover{
        color: #35B99F;
        background-color: white;
    }
    #bar2 {
        margin-top: 12rem;
    }
    .divide2 {
        width: 100%;
        text-align: center;
        margin-top: 6rem;
    }
    .divide2 h2 {
        color:#35B99F;
        font-size: 3.2rem;
        font-weight: 700;
        font-family:"Cera PRO Medium" !important;
    }
    .divide2 p {
        width: 100%;
        
        font-family:"CeraPRO-Light" !important;;
        font-weight: bold;
        font-size: 1.8rem;
    }
    .divide2 h6 {
        width: 98%;
        
        color: rgb(63, 63, 63);
        font-family:"CeraPRO-Regular" !important;
        padding: 0 120px;
        font-size: 1.8rem;
    }
    #bar3 {
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap;
      position: relative;
    }
    #bar3 .box{
      
      display: flex;
      padding: 10px;
      justify-content: space-between;
      flex-wrap: wrap;
      margin:auto;
      
      
       
    }
    .courses {
       
        padding: 20px;
        margin:auto;
        font-size: 1.6rem;
        float: left;
        
        }
    .courses2 {
        
        margin:auto;
        padding: 20px;
        font-size: 1.6rem;
        
    }
    ul.courses, ul.courses2 {
      list-style-type: none;
      justify-content: space-around;
      
    }
    
    li.huge span{
       letter-spacing: 1.2px;
       font-family:"CeraPRO-Light" !important;;
        font-weight: bold;
        font-size: 1.8rem;
       line-height: 50px;
      
    }
    li.huge span:after{
        text-align: center;
    }
    li {
        position: relative;
        padding-left: 40px;
        padding-right: 50px;
       
    
    }
    li:before {
        content: '';
        
        position: absolute;
        left: 0;
    
    }
    
    li.huge:before {
        width: 20px;
        height: 20px;
        border-radius: 7px;
        background-color: #35B99F;
        margin-top: 16px;
        color: #35B99F;
    
    }
    #bar2 .divide2 h4 {
        width: 100%;
        font-weight: bold;
        font-family:"CeraPRO-Light";
        font-size: 1.6rem;
        margin-bottom: 20px;
        margin-top: -60px;
    }
    
    .company {
        width: 100%;
        background-color: rgb(250, 250, 250);
        height: 80px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 100px;
    
    
    }
    .company p{
        float: left;
        margin: 10px auto;
        font-size: 2.6rem;
    }   
    .company img {
        width: 90px;
        height: 80px;
        margin: auto;
        
    }  
    #bar4 {
        width: 100%;
        display:flex;
        flex-wrap: wrap;
        margin-bottom: 4rem;
    }
    #bar4 .column1{
        float:left;
        width: 50%;
        padding: 10px;
        height: 100%;
        justify-content: space-around;
        vertical-align: middle;
        margin: auto;
      
    }
    #bar4 .row1:after{
        content:'';
        display: table;
        clear: both;
    }
    #bar4 .column1 h2{
        text-align: left;
        font-family: "Cera PRO Medium" !important;
        padding: 10px;
        font-size: 5.5vw;
        margin-top: 16%;
        margin-left: 15%;
        font-weight: 600;
        color: #35B99F;
        width: 75%;
        letter-spacing: 2px;
        word-wrap: break-word;
    }
    #bar4 .column1 img{
        max-width: 85%;
        height: auto;
        
        border-radius: 30px;
        margin-left: 20px;
    }
    @media screen and (max-width: 600px){
        .column1{
            width:50%;
        }
    }
    #bar5 {
        background-color: rgb(245, 250, 253);
        position: relative;
        display:flex;
        flex-wrap: wrap;
        margin-top: 8.2rem;
        padding: 30px;
        width: 100%;
    
    
    }
    
    .divide3 {
        width: 100%;
        text-align: center;
        margin-top: 3px;
        
    }
    #bar5 .divide3 h2{
        color:#35B99F;
        font-weight: 700;
        font-family:"Cera PRO Medium" !important;
        font-size: 3.5rem;
    }
    #bar5 .divide3 p{
        width: 100%;
        font-weight: 600;
        font-family:"CeraPRO-Light";
        
        font-size: 2rem;
    
       }
    .contact1 {
        margin-top: 0;
        text-align: center;
        background-color: rgb(245, 250, 253);
        
    }
    .contact1 button {
        background-color: #35B99F;
        padding: 10px;
        font-family:"CeraPRO-Light" !important;
        color: white;
        width: 220px;
        font-size: 22px;
        margin-bottom: 30px;
        font-weight: 600;
        letter-spacing: 1.5px;
        border-radius: 10px;
    }
    
    .slider-holder
            {
        width: 1100px;
        height: 820px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        text-align: center;
        overflow: hidden;
            }
           
    .image-holder
            {
        width: 4500px;
        margin-top: 40px;
        height: 800px;
                display: flex;
                flex-wrap: wrap;
                clear: both;
                word-wrap: break-word;
                position: relative;
               
                -webkit-transition: left 2s;
                -moz-transition: left 2s;
                -o-transition: left 2s;
                transition: left 2s;
            }
            .image-holder img{
                width :500px;
                height: 650px;
                border-radius: 30px;
                padding: 5px;
                
            }
            .img-word {
                width: 600px;
                height: 600px;
                display: flex;
                flex-wrap: wrap;
                
                margin-top: 40px;
                padding: 10px 20px;
                margin-left: 20px;
                
                
            }
            .img-word p{
                text-align: left;
                font-family:"CeraPRO-Regular";
                font-weight: 600;
                width: 100%;
               word-spacing: 2px;
               margin-top: 30px;
               
               font-size: 1.5rem;
               
            }
            .img-word h4 {
                font-weight: bold;
                width: 100%;
                display: flex;
                font-family:"CeraPRO-Regular" !important;
                font-size: 2.4rem;
            }
            .img-word h6 {
                color: #35B99F;
                font-size: 1.6rem;
                margin-top: -40px;
                
                font-family:"Cera PRO Medium" !important;
            }
            .slider-image
            {
                float: left;
                margin: 0px;
                padding: 0px;
                position: relative;
            }
           
            #slider-image-1:target ~ .image-holder
            {
                left: 0px;
            }
           
            #slider-image-2:target ~ .image-holder
            {
                left: -1125px;
            }
           
            #slider-image-3:target ~ .image-holder
            {
                left: -2225px;
            }
            #slider-image-4:target ~ .image-holder
            {
                left: -3350px;
            }
            .button-holder
            {
                position: relative;
                top: -80px;
                
            }
           
            .slider-change
            {
                display: inline-block;
                height: 20px;
                margin-right: 20px;
                width: 20px;
                margin-left: 15px;
                border-radius: 10px;
                background-color: #35B99F;
                background-color: rgb(196, 194, 194);
            }
            .slider-change:hover{
                background-color: #35B99F;
            }
            #bar6 {
                margin-top: 30px;
                display: flex;
                flex-wrap: wrap;
                position: relative;
            }
    
    
              .footer{
                background-color: #10352d;
                display: flex;
                padding: 10px;
                flex-wrap: wrap;
                
                margin-top: 20px;
            }
            
    
              .footer .first{
                  width: 360px;
                  margin-left: 30px;
                  margin-top: 20px;
                  
                }

                  .footer .second, .footer .third{
                    width: 360px;
                    
                    margin-left: 30px;
                    margin-top: 50px;
                    
                }
    
    .footer .first img{
      width: 100px;
      margin: 15px 0 20px 40px;  
    }
    .footer .first p, .footer .second a, .footer .third a{
      color: rgb(195, 245, 230);
      font-family:"CeraPRO-Regular" !important;
      margin-left: 40px;
      margin-bottom: 10px;
      font-size: 1.4rem;
      line-height: 11px;
      text-decoration: none;
     
    }
    .footer .first p:after,
    .footer .second p:after,
    .footer .third p:after{
        text-align:left;
    }
    .footer .second, .footer .third {
      border-left: 1.5px solid rgb(42, 134, 118);
     
    } 
    .footer .second p, .footer .third p{
        margin-top: 5px;
        
    }

    .footer .fourth{
        float: left;
        
    }
    .footer .fourth .copy, .footer .fourth .icons, .footer .fourth .touch {
    width: 360px;
    margin-left: 30px;
    margin-top: 60px;
    display: flex;
    float: left;
    
    } 
    .footer .fourth .icons{
        margin-left: 70px;
    }
    .footer .fourth .touch {
        margin-left: 19px;
    }
    .footer .fourth h6 {
        color: rgb(204, 243, 231);
        font-family:"CeraPRO-Regular" !important;
      margin-left: 40px;
      font-size: 1.4rem;
      margin-top: 10px;
      
    }   
    .footer .fourth .touch h6 {
        color: rgb(204, 243, 231);
        font-family:"CeraPRO-Regular" !important;
      margin-left: 20px;
      font-size: 1.4rem;
      margin-top: 10px;
      
    }   
    .footer .fourth h6:after{
        text-align: center;
        font-family:"CeraPRO-Regular" !important;
    }
    
    
    .footer .fourth .icons .fa {
      width: 35px;
      height:35px;
      border-radius: 50%;
      padding: 9px;
      font-size: 20px;
      margin: 10px 0px 0 10px;
      background-color: rgb(20, 97, 82);
    }     
    .fourth .icons a{
      margin-top: 20px;
    
     padding: 10px;
     color: white;
    
    }
    .footer .fourth .icons .fa-twitter{
        background-color:rgb(106, 207, 173);
    }
    
    
    section.form .content .career-form .form-section{
        
        padding-top: 2rem;
    }
    
    section.form .content .career-form .form-section  .fields{
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
        margin-left: 1rem;
    }
    
    section.form .content .career-form .form-section  .fields .wrapper{
        display: flex;
        margin-bottom: 1rem;
    }
    section.form .content .career-form .form-section  .fields .wrapper1{
        
        display:flex;
    }
    section.form .content .career-form .form-section  .fields .wrapper .row{
        flex-basis: 98%;
        display: flex;
        justify-content: space-between;
    }
    section.form .content .career-form .form-section  .fields .wrapper1 .row {
        flex-basis: 98%;
        display: flex;
        justify-content: space-between;
    }
    
    section.form .content .career-form .form-section  .fields .wrapper .row .item{
        flex-basis: 47%;
    }
    section.form .content .career-form .form-section  .fields .wrapper1 .row .item{
        flex-basis: 100%;
    }
    
    section.form .content .career-form .form-section  .fields .wrapper .row .item *{
        display: block;
    }
    section.form .content .career-form .form-section  .fields .wrapper1 .row .item * {
        display: block;
    }
    
    section.form .content .career-form .form-section  .fields .wrapper .row .item label{
        margin-bottom: 1rem;
        margin-top: 20px;
        margin-left: 20px;
        font-size: 1.6rem;
        line-height: 1.6rem;
        color: #202020;
        font-family:"CeraPRO-Light";
        font-weight: 600;
    }
    
    section.form .content .career-form .form-section  .fields .wrapper1 .row .item label{
        margin-bottom: 1rem;
        margin-top: 20px;
        margin-left: 20px;
        font-size: 1.6rem;
        line-height: 1.6rem;
        color: #202020;
        font-family:"CeraPRO-Light";
        font-weight: 600;
    }
    
    
    section.form .content .career-form .form-section  .fields .wrapper .row .item input,
    section.form .content .career-form .form-section  .fields .wrapper .row .item .select-style{
        padding: .5rem .8rem;
        background: #f6f8f7;
        border: 0rem;
       
        border-radius: .7rem;
        border: 2px solid #C1F0F6;
        /* height: 46px; */
        height: 60px;
        width: 100%;
        font-weight: normal;
        font-size: 1.2rem;
        line-height: .5rem;
        color: #16975b;
        position: relative;
    }
    
    section.form .content .career-form .form-section  .fields .wrapper1 .row .item input,
    section.form .content .career-form .form-section  .fields .wrapper1 .row .item .select-style{
        padding: .5rem .8rem;
        background: #f6f8f7;
        height: 60px;
        border-radius: .7rem;
        margin-bottom: .8rem;
        border: 2px solid #C1F0F6;
        /* height: 46px; */
        font-family:"CeraPRO-Light";
        width: 100%;
        font-weight: normal;
        font-size: 1.2rem;
        line-height: .5rem;
        color: #16975b;
        position: relative;
    }
    
    section.form .content .career-form .form-section  .fields .wrapper1 .row .item input[name='message']{
        font-family:"CeraPRO-Light";
        min-width: 100%;
        height: 150px;
    }
    /* section.form .content .career-form .form-section  .fields .wrapper .row .item .select-style::before{
        content: '';
        display: inline-block;
        width: 1rem;
        height: 1rem;
        border: .1rem solid #333333;
        border-top: .2rem solid transparent;
        border-left: .2rem solid transparent;
        position: absolute;
        transform: rotate(45deg);
        right: 1.5rem;
        top:1.5rem;
        /* pointer-events: all; *
    } */
    section.form .content .career-form .button{
        margin: auto;
        text-align: center;
        display: block;
    }
    section.form .content .career-form .btn{
        background-color: #35B99F;
        padding: 8px;
        color: white;
        width: 270px;
        margin-top: 50px;
        font-family: 'Cera Pro Medium';
        font-size: 27px;
        font-weight: 600;
        letter-spacing: 1.5px;
        border-radius: 10px;
    }
    section.form .content .career-form .form-section  .fields .wrapper .row .item .select-style select{
        padding: 1.3rem .8rem;
        width: 100%;
        /* width: 130%; */
        border: none;
        box-shadow: none;
        background-color: transparent;
        background-image: none;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
    }
    
    section.form .content .career-form .form-section  .fields .wrapper .row .item input:focus,
    section.form .content .career-form .form-section  .fields .wrapper1 .row .item input:focus{
        outline: none;
        border: 2px solid #35B99F;;
    }
    
    
    /* alert         
    div.message{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 2rem;
    }
    
    .alert{
        flex-basis: 60%;
        padding: 1.5rem 3rem;
        border: #333333 solid 1px; 
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 1.6rem;
        border-radius: 1rem;
    }
    
    .alert-success{
        background: #d4edda;
    }
    
    .alert-success p{
        color:#155724
    }
    
    .alert-danger{
       background: #fad7da;
    }
    
    .alert-danger p{
        color:#721c24
    }
    */
    
        