<div class="navbar ">
    <nav>
      <div class="nav-wrapper">
        <div class="container-fluid">
            <a routerLink="" routerLinkActive class="brand-logo"><img src="/src/assets/image/Final-Logo.png" alt="nav-logo" class="logo"><span class="logo-text">ClassRoom</span></a>
          <ul class="right hide-on-med-and-down">
            <li><a routerLink="/signup" routerLinkActive>REGISTER</a></li>
            <li><a routerLink="/login"routerLinkActive id="logout">LOGIN</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>


<div class="">
  <div class="container-fluid">
      <div class="row">
      <div class="col m4"></div>
      <div class="col m4">
          <p><strong> {{dataservice.message}}</strong></p>
          <h4 class="bold center" id="login_header">LOGIN</h4>

          <form (ngSubmit)="login()">
              <div class="form-group">
                  <input required="required" class="form-control" type="text" id="login_username" [(ngModel)]="dataservice.login_username" name="login_username" placeholder="Username">
              </div>
              <br>
              <div class="form-group">
                  <input required="required" class="form-control" type="password" id="login_password" [(ngModel)]="dataservice.login_password" name="login_password" placeholder="Password">
              </div>
              <br>
              <div class="form-group">
                  <input class="form-control btn btn-default submit" type="submit" value="Login">
              </div>
          </form>
          <br>

      </div>
      <div class="col m4"></div>
      </div>
  </div>
</div>
